<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <style>
        label{padding-left: 0px !important;}
        .ui-draggable > .ui-dialog-titlebar{
            margin: 0px !important;
            padding: 6px 20px !important;
            border-bottom: 1px solid #929ea4 !important;
        }
        .ui-dialog > .ui-dialog-titlebar > a{
            margin-top: 2px !important;
        }
        .label{ width: 17% !important; padding-left: 10px;}
        .value{width: 30% !important; word-break: break-all !important;}
        .value > label{ color: #373aa4;}
    </style>
    <h:form id="frmDetail" styleClass="Container100" accept-charset="UTF-8">
        <p:outputPanel id="pnlDetail" styleClass="Container100">
            <p:outputPanel id="pnlTransactionDetail" styleClass="ContainerIndent mg-top-3">
                <div class="Container100 Responsive100">
                    <table style=" width: 100%">
                        <p:outputPanel rendered="#{transactionManagementController.renderInfoCust}">
                            <tr>
                                <td colspan="4"><p:outputLabel value="#{lang['webchain.transaction.detail.cus.info']}" style="font-weight: bold!important;"/></td>
                            </tr>
                            <p:outputPanel rendered="#{transactionManagementController.renderCusName}">
                                <tr>
                                    <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.cus.name']} : "/></td>
                                    <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.custName}"/></td>
                                </tr>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{transactionManagementController.rendBilling}">
                                <tr>
                                    <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.cus.code']} : "/></td>
                                    <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.billingCode}"/></td>
                                </tr>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{transactionManagementController.renderMsisdn}">
                                <tr>
                                    <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.cus.mobifone']} : "/></td>
                                    <td colspan="3" class="value" ><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.custMobile}"/></td>
                                </tr>
                            </p:outputPanel>
                            <p:outputPanel rendered="#{transactionManagementController.renderBankCode}">
                                <tr>
                                    <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.cus.bank.code']} : "/></td>
                                    <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.bankCode}"/></td>
                                </tr>
                            </p:outputPanel>
                            <tr>
                                <td colspan="4" style="border-bottom: 1px solid #b2b2b2 !important;"></td>
                            </tr>
                        </p:outputPanel>
                        <tr>
                            <td colspan="4"><p:outputLabel value="#{lang['webchain.transaction.detail.receive.info']}" style="font-weight: bold!important;"/></td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.pay.code']} : "/></td>
                            <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.billCode}"/></td>
                        </tr>
                        <p:outputPanel rendered="#{transactionManagementController.renderProvider}">
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.provider']} : "/></td>
                                <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.provider}"/></td>
                            </tr>
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.type.form']} : "/></td>
                                <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.typeForm}"/></td>
                            </tr>
                        </p:outputPanel>
                        <tr>
                            <td class="label"> <p:outputLabel value="#{lang['webchain.transaction.detail.service.code']} : "/></td>
                            <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.serviceCode}"/></td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.service.name']} : "/></td>
                            <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.serviceName}"/></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="border-bottom: 1px solid #b2b2b2 !important;"></td>
                        </tr>
                        <p:outputPanel rendered="#{transactionManagementController.renderTransfer}">
                            <tr>
                                <td colspan="2"><p:outputLabel value="#{lang['webchain.transaction.detail.sender']}" style="font-weight: bold!important;"/></td>
                                <td colspan="2"><p:outputLabel value="#{lang['webchain.transaction.detail.receiver']}" style="font-weight: bold!important;"/></td>
                            </tr>
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.person.name']} : "/></td>
                                <td class="value"><p:outputLabel value="#{transactionManagementController.sender.name}"/></td>
                                <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.person.name']} : "/></td>
                                <td class="value" ><p:outputLabel value="#{transactionManagementController.receiver.name}"/></td>
                            </tr>
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.person.phone']} : "/></td>
                                <td class="value"><p:outputLabel value="#{transactionManagementController.sender.msisdn}"/></td>
                                <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.person.phone']} : "/></td>
                                <td class="value" ><p:outputLabel value="#{transactionManagementController.receiver.msisdn}"/></td>
                            </tr>

                            <tr>
                                <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.person.idNumber']} : "/></td>
                                <td class="value" ><p:outputLabel value="#{transactionManagementController.sender.idNumber}"/></td>
                                <p:outputPanel rendered="#{transactionManagementController.renderIdNumber}">
                                    <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.person.idNumber']} : "/></td>
                                    <td class="value" ><p:outputLabel value="#{transactionManagementController.receiver.idNumber}"/></td>
                                </p:outputPanel>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-bottom: 1px solid #b2b2b2 !important;"></td>
                            </tr>
                        </p:outputPanel>

                        <tr>
                            <td colspan="4"><p:outputLabel value="#{lang['webchain.transaction.detail.info']}" style="font-weight: bold!important;"/></td>
                        </tr>

                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.order.id']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.transactionId}"/></td>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.original.id']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.requestId}"/></td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.request.request.date']} : "/></td>
                            <td class="value">
                                <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.requestDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                </p:outputLabel>
                            </td>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.request.response.date']} : "/></td>
                            <td class="value">
                                <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.responseDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                </p:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.staff.code']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.staffUsername}"/></td>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.chain.code']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.chainCode}"/></td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.shop.code']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.shopCode}"/></td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.amount']} : "/></td>
                            <td class="value">
                                <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.transAmount}">
                                    <f:convertNumber type="currency" pattern="###,###.###"/>
                                </p:outputLabel>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.amount.text']} : "/></td>
                            <td colspan="3" class="value"><p:outputLabel value="#{transactionManagementController.numberToText(transactionManagementController.transAppDTOSelected.transAmount)}"/></td>
                        </tr>
                        <p:outputPanel rendered="#{transactionManagementController.renderDiscount}">
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.discount.percent']} : "/></td>
                                <td class="value">
                                    <p:outputLabel value="#{transactionManagementController.getStrDiscount(transactionManagementController.transAppDTOSelected.discountPercent)}%"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.discount']} : "/></td>
                                <td class="value">
                                    <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.discount}">
                                        <f:convertNumber type="currency" pattern="###,###.###"/>
                                    </p:outputLabel>
                                </td>
                            </tr>
                        </p:outputPanel>
                        <p:outputPanel rendered="#{transactionManagementController.renderFee}">
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.fee.percent']} : "/></td>
                                <td class="value">
                                    <p:outputLabel value="#{transactionManagementController.getStrDiscount(transactionManagementController.transAppDTOSelected.feePercent)}%"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.fee']} : "/></td>
                                <td class="value">
                                    <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.transFee}">
                                        <f:convertNumber type="currency" pattern="###,###.###"/>
                                    </p:outputLabel>
                                </td>
                                <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.transFee']} : "/></td>
                                <td class="value">
                                    <p:outputLabel value="#{transactionManagementController.transAppDTOSelected.fee}">
                                        <f:convertNumber type="currency" pattern="###,###.###"/>
                                    </p:outputLabel>
                                </td>
                            </tr>
                        </p:outputPanel>
                        <tr>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.result.head']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.errorFirst}"/></td>
                            <td class="label"><p:outputLabel value="#{lang['webchain.transaction.detail.source']} : "/></td>
                            <td class="value"><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.sourceFirst}"/></td>
                        </tr>
                        <tr>
                            <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.result.last']} : "/></td>
                            <td class="value" ><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.errorLast}"/></td>
                            <td class="label" ><p:outputLabel value="#{lang['webchain.transaction.detail.source']} : "/></td>
                            <td class="value" ><p:outputLabel value="#{transactionManagementController.transAppDTOSelected.sourceLast}"/></td>
                        </tr>
                        <p:outputPanel rendered="#{transactionManagementController.transAppDTOSelected.transStatus eq 4}">
                            <tr>
                                <td colspan="4"><p:outputLabel style="color: red !important;" value="#{transactionManagementController.msgCancelDetail}"/></td>
                            </tr>
                        </p:outputPanel>
                    </table>
                </div>
            </p:outputPanel>
            <p:outputPanel styleClass="Container100 TexAlCenter" style="margin-top: 40px">
                <p:commandButton
                        style="margin-right: 5px" id="btnClose"
                        onclick="PF('dlgTransactionDetail').hide();"
                        value="#{lang['notification.close']}">
                </p:commandButton>
            </p:outputPanel>
        </p:outputPanel>
    </h:form>
</ui:composition>
