<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_UTIL_TRANSACTION_MANAGEMENT']}</ui:define>
    <ui:define name="content">
        <style type="text/css">
            td.selectionDisabled .ui-chkbox {
                display: none;
            }

            .mg-left-115 label:first-child {
                margin-left: 5px !important;
            }

            .ui-autocomplete-panel .ui-autocomplete-table td {
                word-break: break-all;
            }
        </style>

        <h:form id="transactionManagement" styleClass="Container100">
            <p:defaultCommand target="searchId"/>
            <p:focus context="orderId"/>
            <p:outputPanel id="pnlChainUserSearch" styleClass="Container100">
                <p:outputPanel id="pnlChainUserSearchLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="msgSearch" showDetail="true" globalOnly="true"
                                showSummary="false" autoUpdate="true"
                                closable="true"/>
                    <cbs:panel classForToggle="pnlChainUserSearch"
                               titleHeader="#{lang['common.search.header']}"/>
                    <div id="f" tabindex="1" class="Container100 Responsive100">
                        <div class="Container100 Responsive100">
                            <div class="ContainerIndent">
                                <!--tu ngay-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.from.date']}"/>
                                        <p:outputLabel style="color: red" value="*"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:calendar id="effectFromDate" mask="true"
                                                    onchange="this.value = this.value.trim()"
                                                    converterMessage="#{lang['webchain.transaction.management.from.date']}"
                                                    placeholder="__/__/____" navigator="true"
                                                    onblur="if('__/__/____' === this.value) this.value = '';"
                                                    value="#{transactionManagementController.inputLazyTransactionManagement.fromDate}"
                                                    pattern="#{lang['common.datetime.format']}">
                                            <p:ajax event="change" update="effectFromDate,mEffectFromDate"
                                                    process="@this"></p:ajax>
                                            <p:ajax event="dateSelect" update="effectFromDate,mEffectFromDate"
                                                    process="@this"></p:ajax>
                                        </p:calendar>
                                        <p:message for="effectFromDate" id="mEffectFromDate"/>
                                    </div>
                                </div>

                                <!--den ngay-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.to.date']}"/>
                                        <p:outputLabel style="color: red" value="*"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:calendar id="effectToDate" mask="true"
                                                    onchange="this.value = this.value.trim()"
                                                    converterMessage="#{lang['webchain.transactionReport.date.end']}"
                                                    placeholder="__/__/____" navigator="true"
                                                    value="#{transactionManagementController.inputLazyTransactionManagement.toDate}"
                                                    onblur="if('__/__/____' === this.value) this.value = '';"
                                                    pattern="#{lang['common.datetime.format']}">
                                            <p:ajax event="change" update="effectToDate,mEffectToDate" process="@this"></p:ajax>
                                            <p:ajax event="dateSelect" update="effectToDate,mEffectToDate"
                                                    process="@this"></p:ajax>
                                        </p:calendar>
                                        <p:message for="effectToDate" id="mEffectToDate"/>

                                    </div>
                                </div>
                            </div>
                            <div class="ContainerIndent" style="margin-top: 5px">
                                <!--Ma yeu cau-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.order.id']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="orderId" maxlength="20" widgetVar="orderId"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{transactionManagementController.inputLazyTransactionManagement.orderId}"
                                                     title="#{transactionManagementController.inputLazyTransactionManagement.orderId}">
                                        </p:inputText>
                                    </div>
                                </div>
                                <!--Ma giao dich-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.trans.id']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="transId" widgetVar="transId" maxlength="20"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{transactionManagementController.inputLazyTransactionManagement.transId}"
                                                     title="#{transactionManagementController.inputLazyTransactionManagement.transId}">
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="ContainerIndent" style="margin-top: 5px">
                                <!--Ma hoa don-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.bill.code']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="billingCode" maxlength="20" widgetVar="billingCode"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{transactionManagementController.inputLazyTransactionManagement.billingCode}"
                                                     title="#{transactionManagementController.inputLazyTransactionManagement.billingCode}">
                                        </p:inputText>
                                    </div>
                                </div>

                                <!--Ma hoa don-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.msisdn']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="msisdn" maxlength="12" widgetVar="msisdn"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{transactionManagementController.inputLazyTransactionManagement.msisdn}"
                                                     title="#{transactionManagementController.inputLazyTransactionManagement.msisdn}">
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="ContainerIndent" style="margin-top: 5px">
                                <!--Cua hang-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel" rendered="#{transactionManagementController.userType eq 2}"
                                                       value="#{lang['webchain.transaction.management.shop']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:selectOneMenu id="shopCode" widgetVar="shopCode" rendered="#{transactionManagementController.userType eq 2}"
                                                         value="#{transactionManagementController.inputLazyTransactionManagement.chainShopId}"
                                                         filter="true"
                                                         filterMatchMode="contains">
                                            <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems
                                                    value="#{transactionManagementController.chainShopDTOList}"
                                                    var="chainShop"
                                                    itemLabel="#{chainShop.chainShopName}" itemValue="#{chainShop.chainShopId}"/>
                                            <p:ajax event="change" process="@this"
                                                    update="shopUser"
                                                    listener="#{transactionManagementController.getUserByChainShopId()}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                                <!--User-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel" for="shopUser" rendered="#{transactionManagementController.userType eq 2}"
                                                       value="#{lang['webchain.transaction.management.user']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:selectOneMenu id="shopUser" widgetVar="shopUser" rendered="#{transactionManagementController.userType eq 2}"
                                                         value="#{transactionManagementController.inputLazyTransactionManagement.username}"
                                                         filter="true"
                                                         filterMatchMode="contains">
                                            <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems
                                                    value="#{transactionManagementController.chainUserDTOList}"
                                                    var="chainUser"
                                                    itemLabel="#{chainUser.fullName}" itemValue="#{chainUser.userName}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <div class="ContainerIndent" style="margin-bottom: 5px ; margin-top: 5px">
                                <!--Loai giao dich-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.trans.type']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:selectOneMenu id="shopCodde"
                                                         value="#{transactionManagementController.inputLazyTransactionManagement.serviceTypeId}"
                                                         filter="true"
                                                         filterMatchMode="contains">
                                            <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems
                                                    value="#{transactionManagementController.serviceTypeDTOList}"
                                                    var="serviceType"
                                                    itemLabel="#{serviceType.serviceTypeName}" itemValue="#{serviceType.serviceTypeId}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                                <!--Trang thai giao dich-->
                                <div class="Container50 Responsive">
                                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.transaction.management.trans.status']}"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:selectOneMenu id="transactionType"
                                                         value="#{transactionManagementController.inputLazyTransactionManagement.transStatus}"
                                        >
                                            <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems
                                                    value="#{transactionManagementController.statusList}"
                                                    var="status"
                                                    itemLabel="#{status.name}" itemValue="#{status.value}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <p:outputPanel class="Container100 TexAlCenter"
                                           style="background-color: white; margin-top: 0px; padding: 1% 0%">
                                <!--Tìm kiếm -->
                                <p:commandButton process="@this,@form"
                                                 id="searchId" widgetVar="searchId"
                                                 update="@([id$=pnlResultFunction]), @([id$=tblListFunction]),@([id$=msgSearch])"
                                                 action="#{transactionManagementController.doSearch()}"
                                                 onclick="PF('tblListFunction').getPaginator().setPage(0);"
                                                 value="#{lang['common.button.search']}"
                                                 style="margin-right: 5px;"/>
                                <!--Them moi-->
                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>
                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultFunction" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlFunctionList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>
                        <div class="pnlFunctionTableList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblListFunction"
                                             widgetVar="tblListFunction"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="transactionDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{transactionManagementController.transactionDTOLazyDataModel}"
                                             rowKey="#{transactionDTO.transactionId}"
                                             lazy="true"
                                             scrollable="true" scrollWidth="100%"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">

                                    <!--Số thứ tự-->
                                    <!--<p:column style="width: 3%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>-->
                                    <!--Thao tác-->
                                    <!--<p:column style="width: 5%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.view']}"
                                                          title="#{lang['common.label.view']}"/>
                                        </f:facet>
                                        <p:commandLink title="#{lang['common.label.view']}"
                                                       style="margin-right: 15px;"
                                                       process="@this,@([id$=pnlSearchLabel])"
                                                       resetValues="true" styleClass="fa icon-table Fs16 blue"
                                                       update="@([id$=dlgTransactionDetail])"
                                                       actionListener="#{transactionManagementController.viewDetail(transactionDTO)}"
                                        >
                                        </p:commandLink>
                                    </p:column>-->
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.trans.type']}"
                                                    title="#{lang['webchain.transaction.management.trans.type']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                style="float:left; text-align: left"
                                                title="#{transactionManagementController.getProcessName(transactionDTO)}"
                                                value="#{transactionManagementController.getProcessName(transactionDTO)}"/>
                                    </p:column>
                                    <p:column style="width: 7%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.user']}"
                                                    title="#{lang['webchain.transaction.management.user']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.staffUsername}" style="float:left;"
                                                value="#{transactionDTO.staffUsername}"/>
                                    </p:column>
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.order.id']}"
                                                    title="#{lang['webchain.transaction.management.order.id']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.transactionId}" style="float:left;"
                                                value="#{transactionDTO.transactionId}"/>
                                    </p:column>

                                    <p:column style="width: 8%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.trans.id']}"
                                                    title="#{lang['webchain.transaction.management.trans.id']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.requestId}" style="float:right;"
                                                value="#{transactionDTO.requestId}"/>
                                    </p:column>

                                    <p:column style="width: 6%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.bill.code']}"
                                                    title="#{lang['webchain.transaction.management.bill.code']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.billCode}" style="float:right;"
                                                value="#{transactionDTO.billCode}"/>
                                    </p:column>

                                    <p:column style="width: 11%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.msisdn']}"
                                                    title="#{lang['webchain.transaction.management.msisdn']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.custMobile}" style="float:right;"
                                                value="#{transactionDTO.custMobile}"/>
                                    </p:column>

                                    <p:column style="width: 8%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.request.date']}"
                                                    title="#{lang['webchain.transaction.management.request.date']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.requestDate}" style="float:center;"
                                                value="#{transactionDTO.requestDate}">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column style="width: 6%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.amount']}"
                                                    title="#{lang['webchain.transaction.management.amount']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.transAmount}" style="float:right;"
                                                value="#{transactionDTO.transAmount}"> <f:convertNumber type="currency" pattern="###,###.###"/></p:outputLabel>
                                    </p:column>
                                    <!--<p:column style="width: 5%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.transaction.management.fee']}"
                                                    title="#{lang['webchain.transaction.management.fee']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{transactionDTO.transFee}" style="float:right;"
                                                value="#{transactionDTO.transFee}"> <f:convertNumber type="currency" pattern="###,###.###"/></p:outputLabel>
                                    </p:column>-->
                                    <p:column style="width: 7%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText style="text-align: center !important;"
                                                    value="#{lang['webchain.transaction.management.result']}"
                                                    title="#{lang['webchain.transaction.management.result']}"/>
                                        </f:facet>

                                        <h:outputText style=" float:left; text-align: left" title="#{lang['webchain.transaction.management.result.0']}"
                                                      value="#{lang['webchain.transaction.management.result.0']}"
                                                      rendered="#{transactionDTO.transStatus eq 0}"/>
                                        <h:outputText style="float:left; text-align: left" title="#{lang['webchain.transaction.management.result.1']}"
                                                      value="#{lang['webchain.transaction.management.result.1']}"
                                                      rendered="#{transactionDTO.transStatus eq 1}"/>
                                        <h:outputText style="float:left; text-align: left" title="#{lang['webchain.transaction.management.result.2']}"
                                                      value="#{lang['webchain.transaction.management.result.2']}"
                                                      rendered="#{transactionDTO.transStatus eq 2}"/>
                                        <h:outputText style="float:left; text-align: left" title="#{lang['webchain.transaction.management.result.3']}"
                                                      value="#{lang['webchain.transaction.management.result.3']}"
                                                      rendered="#{transactionDTO.transStatus eq 3}"/>
                                        <h:outputText style="float:left; text-align: left" title="#{lang['webchain.transaction.management.result.4']}"
                                                      value="#{lang['webchain.transaction.management.result.4']}"
                                                      rendered="#{transactionDTO.transStatus eq 4}"/>
                                    </p:column>
                                    <p:column style="width: 7%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}" style="text-align: center !important;"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <p:commandLink title="#{lang['common.label.view']}"
                                                       resetValues="true"
                                                       styleClass="fa icon-table Fs16 blue"
                                                       update="@([id$=dlgTransactionDetail])"
                                                       actionListener="#{transactionManagementController.viewDetail(transactionDTO)}"/>
                                        <p:commandLink title="#{lang['webchain.transaction.management.check.result']}"
                                                       rendered="#{transactionManagementController.isCheckResultTransaction(transactionDTO)}"
                                                       ajax="true"
                                                       styleClass="fa icon-arrows-cw Fs16 blue"
                                                       update="@([id=msgSearch]),@([id$=tblListFunction])"
                                                       actionListener="#{transactionManagementController.onCheckResultTransaction(transactionDTO)}"/>
                                        <p:commandLink title="#{lang['webchain.transaction.management.resend.pincode']}"
                                                       ajax="true"
                                                       update="@([id=msgSearch])"
                                                       styleClass="fa icon-info Fs16 blue"
                                                       rendered="#{transactionManagementController.isResendPinCode(transactionDTO) }"
                                                       actionListener="#{transactionManagementController.onReSendPinCode(transactionDTO)}">
                                            <p:confirm
                                                    header="#{lang['webchain.catalog.dl.title']}"
                                                    message="#{lang['webchain.transaction.management.resend.pincode.confirm']}"/>
                                        </p:commandLink>
                                        <p:commandLink title="#{lang['webchain.transaction.management.cancel.transaction']}"
                                                       styleClass="fa icon-cancel-1 Fs16 blue"
                                                       update="@([id$=frmOtp])"
                                                       rendered="#{transactionManagementController.isCancelTransaction(transactionDTO) }"
                                                       actionListener="#{transactionManagementController.onGetOTPCancelTransaction(transactionDTO)}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                            <p:confirmDialog id="dlgConfirmCancel" widgetVar="dlgConfirmCancel"
                                             header="#{lang['webchain.transaction.management.cancel.dlh.header']}">
                                <f:facet name="message">
                                    #{lang['webchain.transaction.management.cancel.other.msg']}
                                </f:facet>
                                <div id="submit" tabindex="2" class="ContainerIndent TexAlRight">
                                    <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                                     id="yesIdConfirm"
                                                     global="true"
                                                     onclick="this.disabled=true; PF('dlgConfirmCancel').hide();"
                                                     oncomplete="this.disabled=false;"
                                                     action="#{transactionManagementController.onConfirmCancelTransaction()}"
                                                     process="@this, @form"
                                                     update="@([id$=tblListFunction]), @([id$=transactionManagement]),@([id$=msgSearch])"/>

                                    <p:commandButton id="noIdConfirm" value="#{lang['common.button.NO']}"
                                                     onclick="PF('dlgConfirmCancel').hide();"
                                                     styleClass="ui-confirmdialog-no"
                                                     style="margin-left: 5px !important;"/>
                                </div>
                            </p:confirmDialog>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>

        </h:form>
        <p:dialog id="dlgTransactionDetail"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgTransactionDetail"
                  modal="true"
                  style="!important;max-height:650px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  header="#{lang['webchain.transaction.detail.header']}"
                  width="70%">
            <ui:include src="dlgTransactionDetail.xhtml"/>
        </p:dialog>
        <p:dialog id="dlgOTP"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgOTP"
                  modal="true"
                  style="margin-top: 15%;"
                  resizable="false"
                  header="#{lang['webchain.transaction.management.cancel.dlh.header']}"
                  width="35%">
            <style>
                .ui-dialog-content{overflow: inherit !important;}
            </style>
            <h:form id="frmOtp">
                <p:messages id="msgOTP" for="msgOTP" showDetail="true" globalOnly="true"
                            showSummary="false" autoUpdate="true"
                            closable="true"/>
                <p:outputLabel styleClass="Container100" style="margin: 20px !important;">
                    #{transactionManagementController.msgCancel1}
                    <br/>
                    #{transactionManagementController.msgCancel2}
                </p:outputLabel>
                <p:outputPanel id="pnlOTP" styleClass="Container100">
                    <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                        <p:outputLabel styleClass="lb-sentinel"
                                       value="#{lang['webchain.transaction.management.otp']}"/>
                    </div>
                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                        <p:inputText maxlength="6"
                                     id="inputOTP"
                                     onchange="this.value=this.value.trim()"
                                     value="#{transactionManagementController.otpCodeCancel}">
                            <!--<p:keyFilter regEx="/[a-zA-Z0-9]/"/>-->
                        </p:inputText>
                    </div>
                </p:outputPanel>
                <p:outputPanel styleClass="Container100" style="margin-top: 40px">
                    <div id="submit" tabindex="2" class="Container100 TexAlCenter">
                        <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                         id="yesId"
                                         global="true"
                                         action="#{transactionManagementController.onConfirmCancelTransaction()}"
                                         process="@this, inputOTP"
                                         update="@([id$=msgOTP]),@([id$=tblListFunction])"/>
                        <p:commandButton id="noIdDlg" value="#{lang['common.button.NO']}"
                                         onclick="PF('dlgOTP').hide();"
                                         styleClass="ui-confirmdialog-no"
                                         style="margin-left: 5px !important;"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>
        <p:confirmDialog id="dlgValidate" widgetVar="dlgValidate"
                  closable="false"
                  header="#{lang['common.validate.dialog.header']}"
                  message="#{lang['common.validate.dialog.msg']}">
            <p:commandButton value="#{lang['common.YES']}"
                             styleClass="ui-confirmdialog-yes"
                             id="OK"
                             global="true"
                             onclick="PF('dlgValidate').hide();"
                             action="#{transactionManagementController.redirectLogout(request)}"
                             process="@this"/>
        </p:confirmDialog>

    </ui:define>
</ui:composition>