<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
        .ui-fileupload-upload .ui-icon-arrowreturnthick-1-n {
            background-image: none !important;
        }

        .ui-fileupload-cancel .ui-icon-cancel {
            background-image: none !important;
        }

        .ui-button-icon-only .ui-button-text {
            min-width: 30px !important;
            height: 15px !important;
        }

    </style>

    <h:form id="addNewForm" styleClass="Container100" accept-charset="UTF-8">
        <p:defaultCommand target="btnAdd"/>
        <p:outputPanel id="pnlManagementAddNewDlg" styleClass="Container100">
            <p:outputPanel id="pnlAdd" styleClass="ContainerIndent mg-top-3">
                <p:messages id="msgFormCU" for="msgFormCU" showDetail="true" autoUpdate="true" globalOnly="true" showSummary="false" closable="true"/>

                <div class="Container100 Responsive100">

                    <div class="ContainerIndent" style="margin-bottom: 4%">
                        <!--Mã action-->
                        <div class="Container30 Responsive" id="pnlDocCode">
                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.action.lb.code']}"/>
                                <p:outputLabel style="color: red" value="*"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="codeAdd" maxlength="50"
                                             onchange="this.value=this.value.trim()"
                                             value="#{actionController.actionDTO.code}"
                                             title="#{actionController.actionDTO.code}">
                                    <!--<p:keyFilter regEx="/^[a-zA-Z0-9_\.]+$/"/>-->
                                    <p:keyFilter regEx="/^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ0-9\.]+$/"/>
                                </p:inputText>
                            </div>
                        </div>
                        <!--Mô tả-->
                        <div class="Container30 Responsive" id="pnlDocCode">
                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.action.lb.description']}"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="description" maxlength="400"
                                             onchange="this.value=this.value.trim()"
                                             value="#{actionController.actionDTO.description}"
                                             title="#{actionController.actionDTO.description}">
                                </p:inputText>
                            </div>
                        </div>

                        <!--Loại action-->
                        <div class="Container40 Responsive" id="pnlInvoice">
                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.action.lb.type']}"/>
                                <p:outputLabel style="color: red" value="*"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="typeAdd"
                                                 value="#{actionController.actionDTO.type}">
                                    <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems
                                            value="#{actionController.listActionType}"
                                            var="status"
                                            itemLabel="#{status.code}" itemValue="#{status.value}"/>
                                </p:selectOneMenu>

                            </div>
                        </div>
                    </div>


                    <div class="ContainerIndent">
                        <!-- Tên action-->
                        <div class="Container30 Responsive" id="pnlDocCode">
                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.action.lb.name']}"/>
                                <p:outputLabel style="color: red" value="*"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="nameAdd" maxlength="200"
                                             requiredMessage="#{lang['webchain.action.messValidate.textbox']}"
                                             onchange="this.value=this.value.trim()"
                                             value="#{actionController.actionDTO.name}"
                                             title="#{actionController.actionDTO.name}">
                                </p:inputText>

                            </div>
                        </div>

                        <!--Trạng thái-->
                        <div class="Container30 Responsive" id="pnlInvoice">
                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.action.lb.status']}"/>
                                <p:outputLabel style="color: red" value="*"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="statusAdd"
                                                 value="#{actionController.actionDTO.status}">
                                    <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems
                                            value="#{actionController.listStatus}"
                                            var="status"
                                            itemLabel="#{status.name}" itemValue="#{status.value}"/>
                                </p:selectOneMenu>

                            </div>
                        </div>
                    </div>
                </div>
            </p:outputPanel>
            <p:outputPanel styleClass="Container100 TexAlCenter"
                           style="background-color: white; margin-top: 0px; padding: 1% 0%">
                <div class="ContainerIndent">
                    <!--hủy bỏ-->
                    <p:commandButton id="btnCancle"
                                     style="margin-right: 5px"
                                     value="#{lang['common.button.NO']}"
                                     onclick="PF('dlgActions').hide()"

                    />

                    <!--Them moi-->
                    <p:commandButton
                            styleClass="waves-effect waves-light btn"
                            id="btnAdd"
                            global="true"
                            value="#{lang['common.save']}"
                            process="@this, @([id$=pnlManagementAddNewDlg])"
                            update="@this,@([id$=tblAction]),@([id$=addNewForm])"
                            style="margin-left:5px"
                            actionListener="#{actionController.saveorupdate}">
                        <p:confirm
                                header="#{lang['common.confirm']}"
                                message="#{lang['webchain.action.comfirm.save']}"
                                icon="ui-icon-alert"
                        />
                    </p:commandButton>
                </div>
            </p:outputPanel>

        </p:outputPanel>
    </h:form>
</ui:composition>
