<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_ACTION_LOG']}</ui:define>
    <ui:define name="content">
        <h:form id="form" styleClass="Container100">
            <p:outputPanel id="pnlActionLog" styleClass="Container100">
                <p:focus context="form:pnlActionLog"/>

                <!--form tìm kiếm-->
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages for="msg" showDetail="false" autoUpdate="true" globalOnly="true" showSummary="true" closable="true"/>
                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['webchain.actionLog.infor.search']}"/>
                    <div id="formSearch" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">
                            <!--UserName-->
                            <div class="Container50 Responsive" id="pnlDocCode">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.actionLog.lb.username']}"/>
                                </div>
                                <div class="Container50 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hnname" maxlength="100"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{actionLogController.inputLazyActionLogSearch.userName}"
                                                 title="#{actionLogController.inputLazyActionLogSearch.userName}">
                                    </p:inputText>
                                </div>
                            </div>

                            <!--ACTION TYPE-->
                            <div class="Container50 Responsive" id="pnlInvoice" >
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.actionLog.lb.actionType']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="actionTypeName"
                                                     filter="true"
                                                     filterMatchMode="contains"
                                                     value="#{actionLogController.inputLazyActionLogSearch.type}">
                                        <f:selectItem itemLabel="#{lang['webchain.actionLog.value']}"
                                                      itemValue=""
                                                      escape="true"/>
                                        <f:selectItems
                                                value="#{actionLogController.listActionName}"
                                                var="type"
                                                itemLabel="#{type.name}" itemValue="#{type.actionId}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <div class="Container100 " style="padding-top: 20px;padding-bottom: 20px;padding-left: 42%">
                            <!--Tìm kiếm-->
                            <p:commandButton process="@this, @([id$=form])"
                                             id="searchId"
                                             style="margin-right: 5px"
                                             update="@([id$=tblActionLog])"
                                             value="#{lang['common.button.search']} "
                                             onclick="PF('tblActionLog').getPaginator().setPage(0);"
                                             actionListener="#{actionLogController.doSearch}"/>
                        </div>
                    </div>
                </p:outputPanel>

                <!--View log-->
                <p:outputPanel id="pnlResultActionLog" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlDebitRequestList Container100">
                        <cbs:panel classForToggle="pnlTaskList" titleHeader="#{lang['common.lb.search.result']}"/>

                        <div class="pnlDebitRequestList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblActionLog"
                                             widgetVar="tblActionLog"
                                             styleClass="tblActionLog"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="dto"
                                             rowIndexVar="rowIndex"
                                             value="#{actionLogController.actionLogDTOS}"
                                             rowKey="#{dto.actionLogId}"
                                             lazy="true"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}"
                                             scrollable="true" scrollWidth="140%"
                                >

                                    <!--STT-->
                                    <p:column style="width: 5%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <!--View detail-->
                                    <p:column style="width: 6%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <p:commandLink
                                                title="#{lang['common.button.view']}"
                                                onclick="PF('tblActionLogDetail').getPaginator().setPage(this);"
                                                update="@([id$=tblActionLogDetail])"
                                                process="@this, @([id$=tblActionLog])"
                                                resetValues="true" style="margin-left: 3px;"
                                                actionListener="#{actionLogController.doViewDetail(dto)}"
                                                styleClass="fa icon-table Fs16 blue">
                                        </p:commandLink>
                                    </p:column>

                                    <!--USER_NAME-->
                                    <p:column style="width: 13%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLog.head.table.username']}"
                                                    title="#{lang['webchain.actionLog.head.table.username']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left;text-align: left"
                                                       title="#{dto.userName}"
                                                       value="#{dto.userName}"/>
                                    </p:column>

                                    <!-- DESCRIPTION-->
                                    <p:column style="width: 25%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.actionLog.head.table.description']}"
                                                          title="#{lang['webchain.actionLog.head.table.description']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.description}"
                                                       value="#{dto.description}"
                                                       style="float: left;text-align: left"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--CREATE_DATE -->
                                    <p:column style="width: 13%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLog.head.table.createDate']}"
                                                    title="#{lang['webchain.actionLog.head.table.createDate']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{dto.createDate}"
                                                value="#{dto.createDate}"
                                        >
                                            <f:convertDateTime  pattern="dd/MM/yyyy HH:mm:ss" />
                                        </p:outputLabel>
                                    </p:column>

                                    <!--ACTION-->
                                    <p:column style="width: 18%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.actionLog.head.table.action']}"
                                                          title="#{lang['webchain.actionLog.head.table.action']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                style="float: left;text-align: left;text-align: left"
                                                title="#{dto.action}"
                                                value="#{dto.action}"
                                        />
                                    </p:column>

                                    <!--OBJECT_ID-->
                                    <p:column style="width: 14%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLog.head.table.objectId']}"
                                                    title="#{lang['webchain.actionLog.head.table.objectId']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.objectId}"
                                                       value="#{dto.objectId}"
                                                       style="float: right"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--ACTION_ID-->
                                    <p:column style="width: 10%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLog.head.table.actionId']}"
                                                    title="#{lang['webchain.actionLog.head.table.actionId']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.actionId}"
                                                       value="#{dto.actionId}"
                                                       style="float: right"
                                        />
                                        <p:outputLabel/>
                                    </p:column>


                                </p:dataTable>

                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>

                <!--View log detail-->
                <p:outputPanel id="pnlActionLogDetail" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlDebitRequestList Container100">
                        <cbs:panel classForToggle="pnlTaskList" titleHeader="#{lang['webchain.lb.actionLogDetail.result']}"/>

                        <div class="pnlDebitRequestList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblActionLogDetail"
                                             widgetVar="tblActionLogDetail"
                                             styleClass="tblActionLogDetail"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="dto"
                                             rowIndexVar="rowIndex"
                                             value="#{actionLogController.actionLogDetailDTOS}"
                                             rowKey="#{dto.actionDetailLogId}"
                                             lazy="true"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}"
                                             scrollable="true" scrollWidth="100%"
                                >

                                    <!--STT-->
                                    <p:column style="width: 5%; border-left: solid 1px black" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <!--TABLE_NAME -->
                                    <p:column style="width: 15%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLogDetail.head.table.tableName']}"
                                                    title="#{lang['webchain.actionLogDetail.head.table.tableName']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                style="float: left"
                                                title="#{dto.tableName}"
                                                value="#{dto.tableName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--COLUMN_NAME-->
                                    <p:column style="width: 13%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.actionLogDetail.head.table.columnName']}"
                                                          title="#{lang['webchain.actionLogDetail.head.table.columnName']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                style="float: left"
                                                title="#{dto.columnName}"
                                                value="#{dto.columnName}"
                                        />
                                    </p:column>

                                    <!--OLD_VALUE-->
                                    <p:column style="width: 18%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLogDetail.head.table.oldValue']}"
                                                    title="#{lang['webchain.actionLogDetail.head.table.oldValue']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.oldValue}"
                                                       value="#{dto.oldValue}"
                                                       style="float: left"
                                        >
                                        </p:outputLabel>
                                    </p:column>

                                    <!--NEW_VALUE-->
                                    <p:column style="width: 18%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLogDetail.head.table.newValue']}"
                                                    title="#{lang['webchain.actionLogDetail.head.table.newValue']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.newValue}"
                                                       value="#{dto.newValue}"
                                                       style="float: left"
                                        >
                                        </p:outputLabel>
                                    </p:column>

                                    <!--ACTION_DATE-->
                                    <p:column style="width: 17%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLogDetail.head.table.actionDate']}"
                                                    title="#{lang['webchain.actionLogDetail.head.table.actionDate']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.actionDate}"
                                                       value="#{dto.actionDate}"
                                                       style="float: center!important;"
                                        >
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                        </p:outputLabel>
                                    </p:column>

                                    <!--DESCRIPTION-->
                                    <p:column style="width: 14%; text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.actionLogDetail.head.table.description']}"
                                                    title="#{lang['webchain.actionLogDetail.head.table.description']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{dto.description}"
                                                       value="#{dto.description}"
                                                       style="float: left"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                </p:dataTable>
                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>

            </p:outputPanel>
        </h:form>
        <script>
            $(document).ready(function(){
                $('#formSearch').focus();
            });
            $('#formSearch').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    $('[id$=searchId]').click();
                }
            });
            function completeSelect() {
                $('#formSearch').focus();
            }
        </script>
    </ui:define>
</ui:composition>
