<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:cc="http://java.sun.com/jsf/composite"
>


    <cc:interface>
        <cc:attribute name="requiredMessage" default="#{lang['validate.capcha.require']}" shortDescription="message bat buoc cua capcha"/>
        <cc:attribute name="validatorMessage" default="#{lang['validate.capcha.validatorMessage']}" shortDescription="message validate loi capcha"/>
        <cc:attribute name="id" required="true" shortDescription="id component cua capcha"/>
        <cc:attribute name="capChaValue" required="true" shortDescription="gia tri capCha"/>

    </cc:interface>

    <cc:implementation>
        <p:outputPanel styleClass="Container100" rendered="#{lang['common.showCaptcha'] eq 'true'}">
            <script type="text/javascript">
                function f#{cc.attrs.id}(){
                    var timestamp = (new Date()).getTime();
                    if ($(".#{cc.attrs.id}CaptchaImgID")  != null &amp;&amp; $(".#{cc.attrs.id}CaptchaImgID").attr("src") != null) {
                        var newSrc = $(".#{cc.attrs.id}CaptchaImgID").attr("src").split("?");
                        newSrc = newSrc[0] + "?" + timestamp;
                        $(".#{cc.attrs.id}CaptchaImgID").attr("src", newSrc);
                        $(".#{cc.attrs.id}CaptchaImgID").slideDown("fast");
                    }
                }
            </script>
            <div class="Container100" align="center">
                <table align="center" >
                    <tr>
                        <td align="left" style="width: 30%;">
                            <p:outputLabel value="#{lang['lb.captcha']}" for="#{cc.attrs.id}" />
                        </td>
                        <td align="left" style="width: 30%;">
                            <p:inputText required="true" requiredMessage="#{cc.attrs.requiredMessage}" validator="capchaValidator"
                                         styleClass="a#{cc.attrs.id}pinputCaptcha" value="#{cc.attrs.capChaValue}"
                                         id="#{cc.attrs.id}" style="width: 142px;"
                                         validatorMessage="#{cc.attrs.validatorMessage}" immediate="true">
                            </p:inputText>
                        </td>
                        <td align="left" style="width: 20%;">
                            <h:graphicImage styleClass="#{cc.attrs.id}CaptchaImgID" value="/simpleCaptcha.png" style="float: left;height: 36px;"/>
                        </td>
                        <td align="left" style="text-align: left">
                            <p:commandLink styleClass="fa icon-ccw Fs18 f#{cc.attrs.id} black" process="@none" onclick="f#{cc.attrs.id}();$('.a#{cc.attrs.id}pinputCaptcha').val('');"
                                           style="text-decoration: none;" immediate="true"></p:commandLink>
                        </td>
                    </tr>
                </table>
            </div>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>