<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cc="http://java.sun.com/jsf/composite"
        xmlns:of="http://omnifaces.org/functions"
>
    <cc:interface>
        <cc:attribute name="idComponent" shortDescription="id component cua doi tuong " required="true"/>
        <cc:attribute name="value" shortDescription="Doi tuong chua ket qua tra ve"
                      required="true" type="com.viettel.bccs.sale.tag.PaymentTagV2"/>
        <cc:attribute name="renderMsg" default="true"
                      shortDescription="Co dung msg mac dinh cua tag hay khong, neu khong thi trong thuoc tinh update phai co id cua msg"/>
        <cc:attribute name="update" default="" shortDescription="Vung update sau khi click thanh toan"/>
        <cc:attribute name="oncomplete"
                      shortDescription="remote command chay sau khi click thanh toan"/>
        <cc:attribute name="width" default="100%"
                      shortDescription="Do rong cua div"/>
        <cc:attribute name="dialogAppendTo" required="true"
                      shortDescription="append dialog vao vung nao"/>
        <cc:attribute name="valueButtonPayment" default="group.payment"
                      shortDescription="gia tri cua nut"/>
    </cc:interface>
    <cc:implementation>
        <f:subview id="frmPaymentDialog">
            <style type="text/css">
                .preformatted {
                    white-space: pre-wrap;
                }

                .currency .pe-inputNumber {
                    width: 90% !important;
                    text-align: right !important;
                    background-color: #fdf6e3 !important;
                    color: red !important;
                }

                .ui-column-title {
                    white-space: nowrap;
                }
            </style>
            <p:outputPanel id="pnlMemberPayment" style="width: #{cc.attrs.width}">
                <p:outputPanel id="msgPaymentDlg">
                    <div class="Container100">
                        <p:messages rendered="#{cc.attrs.renderMsg}" closable="true" showDetail="true"
                                    showSummary="false"/>
                    </div>
                </p:outputPanel>
                <p:outputPanel styleClass="Container100" id="panelBank">
                    <p:outputPanel styleClass="ContainerIndent">
                        <p:outputPanel styleClass="Container33 Responsive TexAlLeft">
                            <div class=" Container10 Fleft">
                                <p:selectBooleanCheckbox id="chboxAnypay" value=""/>
                            </div>
                            <div class="Container50 Responsive50">
                                <p:outputLabel value="#{lang['payment.anyPay.lb.checkBox']}" styleClass="lb-sentinel"
                                               for="chboxAnypay"/>
                            </div>
                        </p:outputPanel>
                        <p:outputPanel styleClass="Container33 Responsive" rendered="#{cc.attrs.value.renderBank}" >
                            <div class="Container40 Responsive50">
                                <p:outputLabel for="cbxBankplusId" value="#{lang['sale.retail.titleBank']}" styleClass="lb-sentinel"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid">
                                <p:selectOneMenu id="cbxBankplusId" value="#{cc.attrs.value.codeBankPlus}"
                                                 syncTooltip="true" requiredMessage="#{lang['msg.please.choose.a.bank']}"
                                                 required="true">
                                    <f:selectItem itemLabel="#{lang['common.choose.value']}" itemValue=""
                                                  itemDescription="#{lang['common.choose.value']}"/>
                                    <f:selectItems value="#{cc.attrs.value.listBank}"
                                                   var="bank"
                                                   itemLabel="#{bank.value} - #{bank.name}"
                                                   itemDescription="#{bank.value} - #{bank.name}"
                                                   itemValue="#{bank.value}"/>
                                </p:selectOneMenu>
                            </div>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:outputPanel>
                <div class="Container100 TexAlCenter">
                    <p:dataTable id="tblPayment"
                                 rows="#{lang['common.paging.rows.default']}"
                                 value="#{cc.attrs.value.debitList}" var="payment"
                                 emptyMessage="#{lang['no.debt.account']}">
                        <p:column style="width:25px">
                            <p:rowToggler/>
                        </p:column>
                        <p:column style="width: 15%" priority="2">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.contract.no']}"/>
                            </f:facet>
                            <div class="TexAlCenter break-word">
                                <p:commandLink value="#{payment.contractNo}"
                                               process="@this" id="lblContractNo"
                                               update="@([id$=dlgAnalyzePaymentSub])"
                                               title="#{not empty cc.attrs.value.displayIsdns ?
                                               of:format2(lang['payment.for.sub'], payment.contractNo, payment.isdnsOfAccountId) :
                                               of:format1(lang['lb.charge.sub.detail'], payment.contractNo)}"
                                               oncomplete="PF('dlgAnalyzePaymentSub#{cc.attrs.idComponent}').show()"
                                               action="#{cc.attrs.value.viewAnalyzePaymentSub(payment)}"
                                               rendered="#{cc.attrs.value.viewSubInfo}"/>
                                <h:outputText value="#{payment.contractNo}"
                                              title="#{not empty cc.attrs.value.displayIsdns ?
                                               of:format2(lang['payment.for.sub'], payment.contractNo, payment.isdnsOfAccountId) :
                                               of:format1(lang['lb.charge.sub.detail'], payment.contractNo)}"
                                              rendered="#{!cc.attrs.value.viewSubInfo}"
                                              styleClass="lb-sentinel-bold"/>
                            </div>
                            <div class="TexAlCenter break-word">
                                <p:outputLabel value="(#{payment.isdnsOfAccountId})"
                                               rendered="#{not empty cc.attrs.displayIsdns and payment.contractDebit}"/>
                            </div>
                            <div class="TexAlCenter break-word">
                                <p:outputLabel value="(#{payment.description})" styleClass="preformatted"
                                               rendered="#{not empty payment.description}"/>
                            </div>
                        </p:column>
                        <!--Cuoc nong-->
                        <p:column rendered="#{cc.attrs.value.renderHotcharge}"
                                  styleClass="currencywidth TexAlRight" priority="5">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.hot.charge']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.hotCharge}"
                                          styleClass="text-sentinel-bold"
                                          id="#{cc.attrs.idComponent}hotCharge"
                                          rendered="#{payment.viewHotcharge}"
                                          converter="currencyFormat"/>
                            <p:commandLink styleClass="fa icon-chart" process="@this"
                                           action="#{cc.attrs.value.prepareContractId(payment)}"
                                           oncomplete="PF('dlgHotChargeInfo#{cc.attrs.idComponent}').show()"
                                           update="@([id$=dlgHotChargeInfo])"
                                           title="#{lang['common.summarize.hot.charge']}"
                                           rendered="#{payment.viewHotcharge}"/>

                            <p:outputLabel rendered="#{payment.viewHotcharge}"
                                           value="(#{lang['common.summarize.hot.charge']})"/>
                        </p:column>
                        <!--No dau ky-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.total.charge']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.amount}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--No truoc-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.charge.pre']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.priorDebit}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--No phat sinh-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.additional.debt']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.amountDebit}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--DC+KM-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold"
                                              value="#{lang['lb.payment.adjust.promo.short']}"
                                              title="#{lang['lb.payment.adjust.promo']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.adjustPromotion}"
                                          styleClass="lb-sentinel-bold"
                                          id="#{cc.attrs.idComponent}promotion"
                                          converter="currencyFormat"/>
                            <h:outputText styleClass="icon-info-circled green"
                                          title="#{cc.attrs.value.getAdjustPromoTitle(payment)}"/>
                        </p:column>
                        <!--Da thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.payment']}" value="#{lang['lb.payment.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:outputText value="#{payment.calcTotalPaymentAmount()}"
                                          styleClass="lb-sentinel-bold"
                                          title="#{cc.attrs.value.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"
                                          converter="currencyFormat"/>
                            <h:outputText styleClass="icon-info-circled green"
                                          title="#{cc.attrs.value.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"/>
                        </p:column>
                        <!--Phai thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="1">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.payment.must']}"
                                              value="#{lang['lb.payment.must.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:outputText value="#{payment.needAmount}"
                                          id="#{cc.attrs.idComponent}needAmount"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--Nhap tien thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="1">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.money.paid']}"
                                              value="#{lang['lb.money.paid.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:panelGroup styleClass="Fright">
                                <pe:inputNumber id="#{cc.attrs.idComponent}pay"
                                                styleClass="txtAmount currency"
                                                widgetVar="txtAmount"
                                                minValue="0" maxValue="9999999999"
                                                decimalSeparator="#{lang['common.currency.decimalSeparator']}"
                                                thousandSeparator="#{lang['common.currency.thousandSeparator']}"
                                                converterMessage="#{lang['common.sale.payment.amount']}"
                                                value="#{payment.payAmount}" maxlength="10">
                                    <p:ajax event="change" process="@this"
                                            listener="#{cc.attrs.value.changePaymentAmount(payment)}"
                                            update="@([id$=#{cc.attrs.idComponent}rowex]), @([id$=#{cc.attrs.idComponent}txtTotalDebt]), @([id$=txtPayAmount])"/>
                                </pe:inputNumber>
                            </h:panelGroup>
                        </p:column>

                        <p:rowExpansion>
                            <p:outputPanel id="#{cc.attrs.idComponent}rowex">
                                <h:outputText rendered="#{empty payment.invoiceList}"
                                              styleClass="lb-sentinel-bold"
                                              value="#{lang['payment.no.invoice.for.account']}"/>
                                <p:dataTable rendered="#{not empty payment.invoiceList}" value="#{payment.invoiceList}"
                                             var="invoice">
                                    <p:column styleClass="TexAlLeft">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['contract.invoice.number']}"/>
                                        </f:facet>

                                        <div>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{invoice.invoiceNo}" title="#{invoice.invoiceNo}"
                                                          rendered="#{!invoice.remainInvoice}"/>
                                            <p:commandLink
                                                    rendered="#{invoice.remainInvoice and not empty payment.isdnList}"
                                                    value="#{invoice.invoiceNo}"
                                                    process="@this"
                                                    title="#{lang['payment.reamin.chooseSubscriber']}"
                                                    update="@([id$=dlgSelectIsdnRemain#{cc.attrs.idComponent}])"
                                                    action="#{cc.attrs.value.selectIsdnRemainForAccount(payment)}"
                                                    oncomplete="if(!args.validationFailed){PF('dlgSelectIsdnRemain#{cc.attrs.idComponent}').show()}"
                                                    id="btnChooseIsdnRemain"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnList}"
                                                          value="#{invoice.invoiceNo}" title="#{invoice.invoiceNo}"/>
                                        </div>
                                        <div>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="(#{lang['payment.invoice.adjust']})"
                                                          rendered="#{invoice.adjustInvoice}"
                                                          title="(#{lang['payment.invoice.adjust']})"/>
                                        </div>
                                        <p:outputPanel id="divIsdnCharge" rendered="#{invoice.remainInvoice}">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['payment.info.selectRemainSub']}"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnCharge and not empty payment.isdnList}"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['payment.info.contractNoSub']}"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnCharge and empty payment.isdnList}"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{of:format1(lang['payment.info.remainSub'], payment.isdnCharge)}"
                                                          rendered="#{invoice.remainInvoice and not empty payment.isdnCharge}"/>
                                        </p:outputPanel>
                                    </p:column>
                                    <!--Ky cuoc-->
                                    <p:column styleClass="TexAlLeft">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['contract.cycle']}"/>
                                        </f:facet>
                                        <h:outputText styleClass="lb-sentinel-bold" value="#{invoice.billCycle}"
                                                      title="#{invoice.billCycle}">
                                            <f:convertDateTime type="date" pattern="#{lang['common.datetime.format']}"/>
                                        </h:outputText>
                                    </p:column>
                                    <!--Khong thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="5">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.no.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amountNotTax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Co thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="5">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.with.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amountTax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.tax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Tong tien-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.total']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Phai tt-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.payment.must.short']}"
                                                          title="#{lang['lb.payment.must']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.needAmount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Tien tt-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.payment.short']}"
                                                          title="#{lang['lb.additional.payment']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.paymentAmount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:rowExpansion>

                        <f:facet name="footer">
                            <div class="TexAlRight">
                                <p:outputLabel value="#{lang['payment.totalPayment']} "
                                               styleClass="text-bold"/>
                                <h:outputText value="#{cc.attrs.value.totalDebt}"
                                              style="margin-right: 5px"
                                              id="#{cc.attrs.idComponent}txtTotalDebt"
                                              styleClass="textImportant" converter="currencyFormat"/>
                            </div>
                        </f:facet>
                    </p:dataTable>
                </div>
                <div class="Container100" style="margin-top: 10px;margin-bottom: 8px;">
                    <p:outputPanel rendered="#{cc.attrs.value.renderButton}" styleClass="ContainerIndent TexAlCenter">
                        <cbs:confirmButton dlgWidgetVar="confirmPay"
                                           disableButton="#{cc.attrs.value.disablePayButton or cc.attrs.value.disableBtPay}"
                                           id="btnPayment"
                                           appendTo="#{cc.attrs.dialogAppendTo}"
                                           oncompleteOK="focusButton();if(!args.validationFailed){#{cc.attrs.oncomplete}}"
                                           valueButton="#{lang[cc.attrs.valueButtonPayment]}"
                                           messageConfirm="#{cc.attrs.value.confirmPayMessage}"
                                           actionValidate="#{cc.attrs.value.preConfirmPayAmount}"
                                           action="#{cc.attrs.value.doPaymentWeb}"
                                           process="@this, @([id$=tblPayment]), @([id$=panelBank])"
                                           headerConfirm="#{lang['group.pay.comfim']}"
                                           updateArea="@([id$=tblPayment]), @([id$=msgPaymentDlg]), @([id$=btnPayment]),
                                             @([id$=btnPrintReceipt]),@([id$=panelBank]), #{cc.attrs.value.updateArea}, #{cc.attrs.update}"/>
                        <p:commandButton value="#{lang['group.print.receipt']}"
                                         id="btnPrintReceipt" process="@this"
                                         action="#{cc.attrs.value.prePrintReceipt}"
                                         disabled="#{!cc.attrs.value.renderReceipt}"
                                         style="margin-left: 5px"/>

                    </p:outputPanel>
                </div>
            </p:outputPanel>
        </f:subview>
        <p:dialog closeOnEscape="true"
                  position="top" appendTo="#{cc.attrs.dialogAppendTo}"
                  id="dlgHotChargeInfo" widgetVar="dlgHotChargeInfo#{cc.attrs.idComponent}"
                  header="#{lang['group.removeGroup.hotChargeInfo']}" dynamic="true"
                  modal="true" resizable="true" minWidth="900" width="900"
                  onShow="PF('hotChargeSumpaymentHotCharge#{cc.attrs.idComponent}').getJQ().focus()">
            <cbs:hotChargeViewer value="#{cc.attrs.value.hotChargeInfo}"
                                 update="@([id$=#{cc.attrs.idComponent}hotCharge]),
                                 @([id$=#{cc.attrs.idComponent}pay]),
                                 @([id$=#{cc.attrs.idComponent}txtTotalDebt]),
                                 @([id$=#{cc.attrs.idComponent}rowex]),
                                 @([id$=#{cc.attrs.idComponent}needAmount]),
                                 @([id$=#{cc.attrs.idComponent}promotion])"
                                 idComponent="paymentHotCharge#{cc.attrs.idComponent}"/>
        </p:dialog>
        <p:dialog closable="true" closeOnEscape="true"
                  position="top" appendTo="#{cc.attrs.dialogAppendTo}"
                  id="dlgAnalyzePaymentSub" widgetVar="dlgAnalyzePaymentSub#{cc.attrs.idComponent}"
                  header="#{lang['lb.charge.sub']} #{cc.attrs.value.debitToViewInfo.contractNo}"
                  dynamic="true" modal="true" resizable="true"
                  onShow="$('.focusOn:first').focus()"
                  minWidth="900" width="95%">
            <div style="overflow-y: auto; max-height: 500px">
                <cbs:subdebitInfo value="#{cc.attrs.value.subdebitInfo}"
                                  callFromPaymentTag="#{true}"/>
            </div>
        </p:dialog>
        <p:dialog appendTo="#{cc.attrs.dialogAppendTo}" closable="true" closeOnEscape="true"
                  position="top"
                  id="dlgSelectIsdnRemain#{cc.attrs.idComponent}" widgetVar="dlgSelectIsdnRemain#{cc.attrs.idComponent}"
                  header="#{lang['payment.hotCharge.subscriber']}"
                  dynamic="true" modal="true" resizable="true" minWidth="600"
                  width="600">
            <p:outputPanel id="pnlIsdnRemain">
                <h:outputText value="#{lang['payment.reamin.chooseSubscriber']} "/>
                <h:outputText value="#{cc.attrs.value.selectedDebit.contractNo}"
                              styleClass="textImportant"/>

                <p:outputPanel rendered="#{not empty cc.attrs.value.selectedDebit.isdnCharge}">
                    <h:outputText value="#{lang['sub.for.remain']}"/>
                    <h:outputText styleClass="textImportant"
                                  value=" #{cc.attrs.value.selectedDebit.isdnCharge}"/>
                </p:outputPanel>

                <p:dataTable id="tblIsdnRemain"
                             selectionMode="single"
                             selection="#{cc.attrs.value.selectedIsdn}"
                             value="#{cc.attrs.value.selectedDebit.isdnList}" var="isdn"
                             rowKey="#{isdn}">
                    <p:ajax event="rowSelect" listener="#{cc.attrs.value.selectIsdn}"
                            update="tblIsdnRemain, @([id$=divIsdnCharge])"
                            oncomplete="PF('dlgSelectIsdnRemain#{cc.attrs.idComponent}').hide()"/>
                    <p:column headerText="#{lang['sale.aftersale.blockOpen.subNo']}" styleClass="TexAlLeft">
                        <h:outputText styleClass="lb-sentinel-bold" value="#{isdn.isdn}"/>
                    </p:column>
                </p:dataTable>

                <h:outputText title="#{lang['payment.isdn.remain.suggest']}"
                              value="#{lang['payment.isdn.remain.suggest']}"/>
            </p:outputPanel>
        </p:dialog>
        <p:confirmDialog global="true" showEffect="fade">
            <p:outputPanel id="buttonPanel" styleClass="TexAlRight">
                <p:commandButton value="#{lang['common.button.YES']}" styleClass="ui-confirmdialog-yes white"
                                 icon="fa fa-check"/>
                <p:commandButton value="#{lang['common.button.NO']}" styleClass="ui-confirmdialog-no white"
                                 icon="fa fa-times"/>
            </p:outputPanel>
        </p:confirmDialog>

        <!--<p:dialog closable="false" closeOnEscape="true"-->
        <!--appendTo="#{cc.attrs.dialogAppendTo}"-->
        <!--id="dlgPaymentOriComfirm" widgetVar="dlgPaymentOriComfirm#{cc.attrs.idComponent}"-->
        <!--header="#{lang['group.pay.comfim']}"-->
        <!--modal="true" focus="btnConfirmPay"-->
        <!--resizable="false">-->
        <!--<div class="Container100">-->
        <!--<p:outputLabel styleClass="ui-icon ui-icon-alert" style="float: left;color: #d76666;margin-top: 1px;"/>-->
        <!--<h:outputText style="color: #d76666" value="#{cc.attrs.value.confirmPayMessage}"/>-->
        <!--</div>-->

        <!--<f:facet name="footer">-->
        <!--<div class="ContainerIndent TexAlRight">-->
        <!--<p:commandButton id="cancelPay" value="#{lang['common.button.NO']}"-->
        <!--styleClass="FlatBlueButton"-->
        <!--widgetVar="cancelPay" process="@this"-->
        <!--update="@([id$=tblPayment]),@([id$=msgPaymentDlg]), @([id$=btnPayment]),@([id$=btnPrintReceipt]), #{cc.attrs.update}"-->
        <!--style="margin-left: 5px"-->
        <!--oncomplete="PF('dlgPaymentOriComfirm#{cc.attrs.idComponent}').hide()"/>-->
        <!--<p:commandButton value="#{lang['common.button.YES']}"-->
        <!--process="@this" id="btnConfirmPay"-->
        <!--update="@([id$=tblPayment]),@([id$=msgPaymentDlg]), @([id$=btnPayment]), @([id$=btnPrintReceipt]), #{cc.attrs.update}"-->
        <!--oncomplete="PF('dlgPaymentOriComfirm#{cc.attrs.idComponent}').hide();if(!args.validationFailed){#{cc.attrs.oncomplete}}"-->
        <!--action="#{cc.attrs.value.doPaymentWeb}"-->
        <!--styleClass="FlatBlueButton"/>-->
        <!--</div>-->
        <!--</f:facet>-->
        <!--</p:dialog>-->
        <script type="text/javascript">
            function focusButton() {
                try {
                    jQuery('.txtAmount input').focus();
                } catch (e) {
                }
            }
            focusButton();
        </script>
    </cc:implementation>
</ui:composition>


        <!--<p:treeTable id="tblPayment"-->
        <!--rows="#{lang['common.paging.rows.default']}"-->
        <!--value="#{cc.attrs.value.root}" var="payment"-->
        <!--emptyMessage="#{lang['no.debt.account']}">-->
        <!--<p:column style="width: 15%" priority="2">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.contract.no']}"/>-->
        <!--</f:facet>-->
        <!--<div class="TexAlCenter break-word">-->
        <!--<p:commandLink value="#{payment.contractNo}"-->
        <!--process="@this" id="lblContractNo"-->
        <!--update="@([id$=dlgAnalyzePaymentSub])"-->
        <!--title="#{not empty cc.attrs.value.displayIsdns ?-->
        <!--of:format2(lang['payment.for.sub'], payment.contractNo, payment.isdnsOfAccountId) :-->
        <!--of:format1(lang['lb.charge.sub.detail'], payment.contractNo)}"-->
        <!--oncomplete="PF('dlgAnalyzePaymentSub#{cc.attrs.idComponent}').show()"-->
        <!--action="#{cc.attrs.value.viewAnalyzePaymentSub(payment)}"-->
        <!--rendered="#{payment.contractDebit and cc.attrs.value.viewSubInfo}"/>-->
        <!--&lt;!&ndash;title="#{not empty cc.attrs.value.displayIsdns ? of:format1(lang['payment.for.sub'], payment.isdnsOfAccountId) : lang['lb.charge.sub'] payment.contractNo}"&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="TexAlCenter break-word">-->
        <!--<p:outputLabel value="(#{payment.isdnsOfAccountId})"-->
        <!--rendered="#{not empty cc.attrs.displayIsdns and payment.contractDebit}"/>-->
        <!--</div>-->
        <!--<div class="TexAlCenter break-word">-->
        <!--<p:outputLabel value="(#{payment.description})" styleClass="preformatted"-->
        <!--rendered="#{not empty payment.description}"/>-->
        <!--</div>-->
        <!--</p:column>-->
        <!--<p:column style="width: 15%;" priority="4" styleClass="TexAlCenter">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{lang['contract.invoice.number']}"/>-->
        <!--</f:facet>-->

        <!--<div>-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="#{payment.invoiceNo}" title="#{payment.invoiceNo}"-->
        <!--rendered="#{!payment.contractDebit and !payment.remainInvoice}"/>-->
        <!--<p:commandLink rendered="#{payment.remainInvoice and payment.isdnList.size() gt 2}"-->
        <!--value="#{payment.invoiceNo}"-->
        <!--process="@this"-->
        <!--title="#{lang['payment.reamin.chooseSubscriber']}"-->
        <!--update="@([id$=dlgSelectIsdnRemain])"-->
        <!--action="#{cc.attrs.value.selectIsdnRemainForAccount(payment)}"-->
        <!--oncomplete="if(!args.validationFailed){PF('dlgSelectIsdnRemain#{cc.attrs.idComponent}').show()}"-->
        <!--id="btnChooseIsdnRemain"/>-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--rendered="#{payment.remainInvoice and payment.isdnList.size() le 2}"-->
        <!--value="#{payment.invoiceNo}" title="#{payment.invoiceNo}"/>-->
        <!--</div>-->
        <!--<div>-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="(#{lang['payment.invoice.adjust']})"-->
        <!--rendered="#{payment.adjustInvoice}"-->
        <!--title="(#{lang['payment.invoice.adjust']})"/>-->
        <!--</div>-->
        <!--<p:outputPanel id="divIsdnCharge" rendered="#{payment.remainInvoice}">-->
        <!--<div class="preformatted">-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="#{lang['payment.info.selectRemainSub']}"-->
        <!--rendered="#{payment.remainInvoice and empty payment.isdnCharge and payment.isdnList.size() gt 2}"/>-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="#{lang['payment.info.contractNoSub']}"-->
        <!--rendered="#{payment.remainInvoice and empty payment.isdnCharge and payment.isdnList.size() eq 1}"/>-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="#{of:format1(lang['payment.info.remainSub'], payment.isdnCharge)}"-->
        <!--rendered="#{payment.remainInvoice and not empty payment.isdnCharge}"/>-->
        <!--</div>-->
        <!--</p:outputPanel>-->
        <!--</p:column>-->
        <!--&lt;!&ndash;Ky cuoc&ndash;&gt;-->
        <!--<p:column style="width: 10%" priority="6">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{lang['contract.cycle']}"/>-->
        <!--</f:facet>-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{payment.billCycleDate}"-->
        <!--title="#{payment.billCycle}">-->
        <!--<f:convertDateTime type="date" pattern="#{lang['common.datetime.format']}"/>-->
        <!--</h:outputText>-->
        <!--</p:column>-->
        <!--&lt;!&ndash;Cuoc nong&ndash;&gt;-->
        <!--<p:column rendered="#{cc.attrs.value.renderHotcharge}"-->
        <!--styleClass="currencywidth TexAlRight" priority="5">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.hot.charge']}"/>-->
        <!--</f:facet>-->
        <!--<h:outputText value="#{payment.hotCharge}"-->
        <!--styleClass="text-sentinel-bold"-->
        <!--rendered="#{payment.contractDebit and payment.viewHotcharge}"-->
        <!--converter="currencyFormat"/>-->
        <!--<p:commandLink styleClass="fa icon-chart" process="@this"-->
        <!--action="#{cc.attrs.value.prepareContractId(payment)}"-->
        <!--oncomplete="PF('dlgHotChargeInfo#{cc.attrs.idComponent}').show()"-->
        <!--update="@([id$=dlgHotChargeInfo])"-->
        <!--title="#{lang['common.summarize.hot.charge']}"-->
        <!--rendered="#{payment.contractDebit and payment.viewHotcharge}"/>-->

        <!--<p:outputLabel rendered="#{payment.contractDebit and payment.viewHotcharge}"-->
        <!--value="(#{lang['common.summarize.hot.charge']})"/>-->
        <!--</p:column>-->
        <!--&lt;!&ndash;Truoc thue&ndash;&gt;-->
        <!--&lt;!&ndash;<p:column styleClass="currencywidth TexAlRight" priority="5">&ndash;&gt;-->
        <!--&lt;!&ndash;<f:facet name="header">&ndash;&gt;-->
        <!--&lt;!&ndash;<h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.money.before.tax']}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</f:facet>&ndash;&gt;-->
        <!--&lt;!&ndash;<h:outputText value="#{payment.amountPreTax}"&ndash;&gt;-->
        <!--&lt;!&ndash;styleClass="#{payment.contractDebit ? 'text-sentinel-bold' : 'lb-sentinel-bold'}"&ndash;&gt;-->
        <!--&lt;!&ndash;rendered="#{payment.contractDebit or payment.adjustInvoice}"&ndash;&gt;-->
        <!--&lt;!&ndash;converter="currencyFormat"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</p:column>&ndash;&gt;-->
        <!--&lt;!&ndash;Thue&ndash;&gt;-->
        <!--&lt;!&ndash;<p:column styleClass="currencywidth TexAlRight" priority="6">&ndash;&gt;-->
        <!--&lt;!&ndash;<f:facet name="header">&ndash;&gt;-->
        <!--&lt;!&ndash;<h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.money.tax']}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</f:facet>&ndash;&gt;-->
        <!--&lt;!&ndash;<h:outputText value="#{payment.tax}" style="float: right"&ndash;&gt;-->
        <!--&lt;!&ndash;styleClass="#{payment.contractDebit ? 'text-sentinel-bold' : 'lb-sentinel-bold'}"&ndash;&gt;-->
        <!--&lt;!&ndash;rendered="#{payment.contractDebit or payment.adjustInvoice}"&ndash;&gt;-->
        <!--&lt;!&ndash;converter="currencyFormat"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</p:column>&ndash;&gt;-->
        <!--&lt;!&ndash;No dau ky&ndash;&gt;-->
        <!--<p:column styleClass="currencywidth TexAlRight" priority="3">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.total.charge']}"/>-->
        <!--</f:facet>-->
        <!--<h:outputText value="#{payment.amount}"-->
        <!--styleClass="#{payment.contractDebit ? 'text-sentinel-bold' : 'lb-sentinel-bold'}"-->
        <!--converter="currencyFormat"/>-->
        <!--<h:outputText styleClass="icon-info-circled green"-->
        <!--rendered="#{payment.contractDebit}"-->
        <!--title="#{cc.attrs.value.getTotalChargeTitle(payment)}"/>-->
        <!--</p:column>-->
        <!--&lt;!&ndash;DC+KM&ndash;&gt;-->
        <!--<p:column styleClass="currencywidth TexAlRight" priority="3">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText styleClass="lb-sentinel-bold"-->
        <!--value="#{lang['lb.payment.adjust.promo.short']}"-->
        <!--title="#{lang['lb.payment.adjust.promo']}"/>-->
        <!--</f:facet>-->
        <!--<h:outputText value="#{payment.adjustPromotion}"-->
        <!--styleClass="text-sentinel-bold"-->
        <!--rendered="#{payment.contractDebit}"-->
        <!--converter="currencyFormat"/>-->
        <!--<h:outputText styleClass="icon-info-circled green"-->
        <!--rendered="#{payment.contractDebit}"-->
        <!--title="#{cc.attrs.value.getAdjustPromoTitle(payment)}"/>-->
        <!--</p:column>-->
        <!--<p:column styleClass="currencywidth TexAlRight" priority="3">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText title="#{lang['lb.payment']}" value="#{lang['lb.payment.short']}"-->
        <!--styleClass="lb-sentinel-bold"/>-->
        <!--</f:facet>-->
        <!--<h:outputText value="#{payment.calcTotalPaymentAmount()}"-->
        <!--rendered="#{!payment.remainInvoice and !payment.adjustInvoice}"-->
        <!--styleClass="#{payment.contractDebit ? 'text-sentinel-bold' : 'lb-sentinel-bold'}"-->
        <!--title="#{cc.attrs.value.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"-->
        <!--converter="currencyFormat"/>-->
        <!--<h:outputText styleClass="icon-info-circled green"-->
        <!--rendered="#{payment.contractDebit}"-->
        <!--title="#{cc.attrs.value.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"/>-->
        <!--</p:column>-->
        <!--<p:column styleClass="currencywidth TexAlRight" priority="1">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText title="#{lang['lb.payment.must']}"-->
        <!--value="#{lang['lb.payment.must.short']}"-->
        <!--styleClass="lb-sentinel-bold"/>-->
        <!--</f:facet>-->
        <!--<h:outputText value="#{payment.needAmount}"-->
        <!--styleClass="#{payment.contractDebit ? 'text-sentinel-bold' : 'lb-sentinel-bold'}"-->
        <!--rendered="#{!payment.remainInvoice and !payment.adjustInvoice}"-->
        <!--converter="currencyFormat"/>-->
        <!--</p:column>-->
        <!--<p:column styleClass="currencywidth TexAlRight" priority="1">-->
        <!--<f:facet name="header">-->
        <!--<h:outputText title="#{lang['lb.money.paid']}"-->
        <!--value="#{lang['lb.money.paid.short']}"-->
        <!--styleClass="lb-sentinel-bold"/>-->
        <!--</f:facet>-->
        <!--<h:panelGroup rendered="#{payment.contractDebit}" styleClass="Fright">-->
        <!--<pe:inputNumber styleClass="txtAmount currency"-->
        <!--widgetVar="txtAmount"-->
        <!--minValue="0" maxValue="9999999999"-->
        <!--decimalSeparator="#{lang['common.currency.decimalSeparator']}"-->
        <!--thousandSeparator="#{lang['common.currency.thousandSeparator']}"-->
        <!--converterMessage="#{lang['common.sale.payment.amount']}"-->
        <!--value="#{payment.payAmount}" maxlength="10">-->
        <!--<p:ajax event="change" process="@this"-->
        <!--listener="#{cc.attrs.value.changePaymentAmount(payment)}"-->
        <!--update="@([id$=tblPayment]), @([id$=txtTotalDebt]), @([id$=txtPayAmount])"/>-->
        <!--</pe:inputNumber>-->
        <!--</h:panelGroup>-->
        <!--</p:column>-->

        <!--<f:facet name="footer">-->
        <!--<div class="TexAlRight">-->
        <!--<p:outputLabel value="#{lang['payment.totalPayment']} "-->
        <!--styleClass="text-bold"/>-->
        <!--<h:outputText value="#{cc.attrs.value.totalDebt}"-->
        <!--style="margin-right: 5px"-->
        <!--styleClass="textImportant" converter="currencyFormat"/>-->
        <!--</div>-->
        <!--</f:facet>-->
        <!--</p:treeTable>-->