<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        >
<h:head>
    <title><ui:insert name="title">Template</ui:insert></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="#{request.contextPath}/resources/css/framework.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/resources/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/resources/css/navbar.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="#{request.contextPath}/resources/js/advance.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/js/framework.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/js/util.js"></script>
    <!-- THIENDN ADD -->
    <script type="text/javascript">
        var t;

        function startTimer() {
            t = setTimeout("PF('statusDialog').show()", 1000);
        }

        function stopTimer() {
            clearTimeout(t);

        }

        function handleMessage(facesmessage) {
            facesmessage.severity = 'info';
            PF('pushGrowlVar').show([facesmessage]);
        }


    </script>

    <script type="text/javascript">
        function refreshParent() {
            window.opener.location.reload();
        }
        try {
            window.onunload = refreshParent();
        }
        catch (e) {
            console.log(e.message)
        }
    </script>
    <!-- END THIENDN ADD -->
</h:head>

<h:body>
    <body onbeforeunload="refreshAndClose();">
    <p:socket id="wdaPushing" onMessage="handleMessage"  channel="/#{loginBean.rememberMe}/" />
    <p:growl id="pushGrowl" widgetVar="pushGrowlVar" life="3000"/>
    <f:view locale="#{locateBean.selectedLocale}" contentType="text/html" id="viewLocale">


        <p:ajaxStatus onstart="startTimer();trimAllInputText();"
                      onsuccess="PF('statusDialog').hide();stopTimer();"
                      onerror="PF('errorDialog').show();stopTimer();PF('statusDialog').hide()" />

        <p:dialog modal="true" widgetVar="statusDialog" header="Processing"
                  draggable="false" closable="false" resizable="false">
            <img alt="" src="#{request.contextPath}/resources/themes/logo/ajaxloadingbar.gif"/>
        </p:dialog>

        <p:dialog modal="true" widgetVar="errorDialog"
                  header="#{lang['common.error.happened.againAction']}" draggable="false" closable="false" resizable="false">
            #{lang['common.error.pressF5']}
        </p:dialog>


        <p:commandButton style="display: none"
                         widgetVar="globalCFM"
                         actionListener="#{fwe.getAlertMsg}"
                         update="globalConfirmDialog"
                         global="false"
                         oncomplete="PF('globalConfirmDialog').show()">
        </p:commandButton>
        <p:commandButton style="display: none"
                         widgetVar="globalReportBtn"
                         actionListener="#{fwe.report()}"
                         global="false">
        </p:commandButton>

        <p:dialog id="globalConfirmDialog" appendTo="@(body)"
                  header="#{fwe.header==null?Confirmation:fwe.header}"
                  styleClass="sale"
                  width="300"
                  widgetVar="globalConfirmDialog" modal="true"
                  closable="false"
                  resizable="false">

            <div align="center" style="margin-top:10px">

                <h:outputFormat value="#{fwe.alertMsg}" style="font-size: medium"
                                rendered="#{fwe.paramCfm!=null}">
                    <f:param value="#{fwe.paramCfm}"/>
                </h:outputFormat>
                <h:outputText value="#{fwe.alertMsg}" rendered="#{fwe.paramCfm==null}"/>
            </div>
            <div align="center">

                <p:commandButton value="#{fwe.yesLabel}"
                                 icon="ui-icon-check"
                                 id="executeButton"
                                 global="#{fwe.global}"
                                 actionListener="#{fwe.execute}"
                                 oncomplete="PF('globalConfirmDialog').hide()"
                                 style="margin-right: 40px;margin-top: 30px"/>
                <p:commandButton value="#{fwe.noLabel}"
                                 style="margin-top: 30px"
                                 global="false"
                                 icon="ui-icon-power"
                                 actionListener="#{fwe.resetMsg}"
                                 oncomplete="PF('globalConfirmDialog').hide()"/>
            </div>

        </p:dialog>
        <p:confirmDialog global="true">
            <div align="center">
                <p:commandButton value="#{lang['common.button.YES']}"
                                 type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 style="margin-right: 40px;margin-top: 10px"/>
                <p:commandButton value="#{lang['common.button.NO']}" style="margin-top: 10px"
                                 type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </div>
        </p:confirmDialog>
        <p:outputPanel id="displayDlg" style="height:1px"></p:outputPanel>
        <!-- body -->
        <div class="wrapper">

            <div class="clear-both"></div>
            <div id="vt-header">
                <ui:insert name="header">
                    <ui:include src="header.xhtml"/>
                </ui:insert>
            </div>

            <div id="vt-body">
                <!-- RIGHT - BODY -->
                <div id="feature-name">
                    <h:form id="breadRemoteForm" prependId="false">
                        <p:inputText type="hidden" id="txtMenuItemUrl" value="#{loginBean.url}"/>
                        <p:remoteCommand name="loadBreadCrum" process="@form" action="#{loginBean.loadBreadCrumb}"
                                         update=":breadCrumbForm" global="false"/>
                    </h:form>
                    <h:form id="breadCrumbForm">
                        <p:cache region="cache" key="menuCache"/>
                        <p:breadCrumb id="menuCache">
                            <p:menuitem value="Categories" url="/home"/>
                            <c:forEach items="#{loginBean.grap.childObjects}" var="item">
                                <c:if test="#{not empty item.childObjects}">
                                    <p:menuitem value="#{loginBean.grap.objectName}" url="#"/>
                                    <c:forEach items="#{item.childObjects}" var="item2">
                                        <p:menuitem value="#{item.objectName}" url="#"/>
                                        <c:if test="#{not empty item2.childObjects}">
                                            <c:forEach items="#{item2.childObjects}" var="item3">
                                                <p:menuitem value="#{item2.objectName}" url="#"/>
                                                <c:if test="#{not empty item3.childObjects}">
                                                    <c:forEach items="#{item3.childObjects}" var="item4">
                                                        <p:menuitem value="#{item4.objectName}"
                                                                    url="#{item4.objectUrl}"/>
                                                    </c:forEach>
                                                </c:if>
                                                <c:if test="#{empty item3.childObjects}">
                                                    <p:menuitem value="#{item3.objectName}" url="#{item3.objectUrl}"/>
                                                </c:if>
                                            </c:forEach>
                                        </c:if>
                                        <c:if test="#{empty item2.childObjects}">
                                            <p:menuitem value="#{item2.objectName}" url="#{item2.objectUrl}"/>
                                        </c:if>
                                    </c:forEach>
                                </c:if>
                                <c:if test="#{empty item.childObjects}">
                                    <p:menuitem value="#{item.objectName}" url="#{item.objectUrl}"/>
                                </c:if>
                            </c:forEach>
                        </p:breadCrumb>
                        <p:remoteCommand name="reloadDatatable" global="false" process="@this"
                                         oncomplete="reloadWizard();"/>
                    </h:form>
                    <!--                            <ui:insert name="featureName"></ui:insert>-->
                </div>
                <p:outputPanel id="bodyContent">
                    <div id="reload-area" class="reloadData" style="margin-bottom:10px;">
                        <p:outputPanel id="displayArea">
                            <p:focus id="focusElement" context="bodyContent"/>
                            <ui:insert name="content">
                                <f:subview id="content_xhtml">
                                    <ui:include src="content.xhtml"/>
                                </f:subview>
                            </ui:insert>
                        </p:outputPanel>
                    </div>
                </p:outputPanel>
                <!-- RIGHT - BODY -->
            </div>
            <div id="vt-footer" class="w100 clear-both"><h:outputText value="&copy; "/>#{lang['vt.copyright']}</div>
        </div>

        <script type="text/javascript">
            var rsTimer;
            jQuery(document).ready(function () {
                reloadHeightBody();
                //load breadcrum
                loadBreadCrum();
                var href = window.location.href;
                //href = href.substr(href.lastIndexOf("/"));
                if (href != "" || href != null) {

                    if (!(href.lastIndexOf("#") > 0)) {
                        jQuery("#txtMenuItemUrl").val(href);
                        loadBreadCrum();
                    }
                }
                //reload datatable
                reloadDatatable();
            });
            jQuery(window).resize(function () {
                if (rsTimer != null) {
                    clearTimeout(rsTimer);
                }
                rsTimer = setTimeout(function () {
                    reloadHeightBody();
                }, 100);
            });

        </script>
    </f:view>
    </body>
</h:body>
</html>


