<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="idComponent" shortDescription="id component cua doi tuong" required="true" default="#{cc.clientId}"/>
    <composite:attribute name="update" shortDescription="update" required="false"/>
    <composite:attribute name="value" shortDescription="Doi tuong chua ket qua tra ve"
                         required="true" type="com.viettel.bccs.sale.tag.LocationInforNameable"/>
    <composite:attribute name="oncomplete" default="emptyFunction()" shortDescription="action concomplete"/>
    <composite:attribute name="onhide"
                         shortDescription="ham xu ly khi dong popup dia chi, thuong la focus doi tuong tiep theo"
                         default="emptyFunction()"/>
    <composite:attribute name="onshow"
                         shortDescription="ham xu ly khi mo popup dia chi, thuong la focus doi tuong tiep theo"
                         default="emptyFunction()"/>
    <composite:attribute name="required" shortDescription="Xac dinh require cua dia chi, defaul = true" default="true"/>
    <composite:attribute name="requiredMessage" default="#{lang['sale.mobile.prePaid.requiredMsg.custAddress']}"
                         shortDescription="Noi dung message bat buoc nhap cua thong tin dia chi, mac dinh la Thieu truong thong tin dia chi"/>
    <composite:attribute name="methodName" shortDescription="ham nhan data Location" required="true"/>
    <composite:attribute name="methodNameReset" shortDescription="ham nhan data khi reset"/>
    <composite:attribute name="style" shortDescription="style of this component"/>
    <composite:attribute name="styleClass" default="areaClass" shortDescription="styleClass for this component"/>

    <composite:attribute name="disableProvince" shortDescription="dung khi muon disable province" default="false"
                         required="false"/>
    <composite:attribute name="disableDistrict" shortDescription="dung khi muon disable district" default="false"
                         required="false"/>
    <composite:attribute name="disablePrecinct" shortDescription="dung khi muon disable precinct" default="false"
                         required="false"/>
    <composite:attribute name="disableStreetBlock" shortDescription="dung khi muon streent (to thon)" default="false"
                         required="false"/>
    <composite:attribute name="disableHomeNumber" shortDescription="" default="false" required="false"/>

    <composite:attribute name="requireProvince" default="true"
                         shortDescription="check bat buoc nhap tinh, default la true"/>
    <composite:attribute name="requireDistrict" default="true"
                         shortDescription="check bat buoc nhap huyen, default la true"/>
    <composite:attribute name="requirePrecinct" default="true"
                         shortDescription="check bat buoc nhap xa phuong, default la true"/>
    <composite:attribute name="requireStreet" default="true"
                         shortDescription="check bat buoc nhap to thon, default la true"/>
    <composite:attribute name="classDivLabel" shortDescription="class css cua div label"/>
    <composite:attribute name="classDivInput" shortDescription="class css cua div input"/>
    <composite:attribute name="label" shortDescription="noi dung tittle hang muc"/>
    <composite:attribute name="placeholder" default="test" shortDescription="placeholder mac dinh cua dia chi"/>
    <composite:attribute name="isTextArea" default="true"
                         shortDescription="dinh dang hien thi default la textArea, true la textArea, false la inputText"/>
    <composite:attribute name="disabled" shortDescription="bien disable cua noi dung , mac dinh la false"
                         default="false"/>
    <composite:attribute name="titleLabel" shortDescription="tootip cua label" default=""/>
</composite:interface>
<composite:implementation>
    <p:outputPanel styleClass="Container100 " id="pnInput#{cc.attrs.idComponent}Location">
        <p:commandLink id="testLink#{cc.attrs.idComponent}" styleClass="#{cc.attrs.idComponent}btn_over_pn"
                       oncomplete="$('.inputProvince#{cc.attrs.idComponent}').focus();" style="height: 0px;float: left;"
                       process="@this" immediate="true"/>

        <div class="#{cc.attrs.classDivLabel} input_for_address_#{cc.attrs.idComponent}_txt_col mg-top-5">
            <p:outputLabel value="#{cc.attrs.label}"
                           styleClass="lb-sentinel"
                           for="input_for_address_#{cc.attrs.idComponent}_txt2" rendered="#{!cc.attrs.isTextArea}"
                           title="#{empty cc.attrs.titleLabel ? cc.attrs.label : cc.attrs.titleLabel}"/>
            <p:outputLabel value="#{cc.attrs.label}"
                           styleClass="lb-sentinel"
                           for="input_for_address_#{cc.attrs.idComponent}_txt" rendered="#{cc.attrs.isTextArea}"
                           title="#{empty cc.attrs.titleLabel ? cc.attrs.label : cc.attrs.titleLabel}"/>
        </div>
        <div class="#{cc.attrs.classDivInput} input_for_address_#{cc.attrs.idComponent}_txt mg-top-4 ui-fluid ui-relative">
            <!--#{cc.attrs.value.fullAddressDTO.fullAddress}-->
            <p:inputText
                    value="#{cc.attrs.value.fullAddressDTO.fullAddress}"
                    disabled="#{cc.attrs.disabled}"
                    readonly="#{facesContext.renderResponse}"
                    title="#{cc.attrs.value.fullAddressDTO.fullAddress}"
                    required="#{cc.attrs.required}"
                    id="input_for_address_#{cc.attrs.idComponent}_txt2"
                    styleClass="#{cc.attrs.styleClass}#{cc.attrs.idComponent} input_for_address_#{cc.attrs.idComponent}_txt"
                    style="float:left;height:27px;#{cc.attrs.style}"
                    placeholder="#{cc.attrs.placeholder}"
                    onfocus="this.blur();reload_#{cc.attrs.idComponent}_location();"
                    requiredMessage="#{cc.attrs.requiredMessage}"
                    rendered="#{!cc.attrs.isTextArea}">
            </p:inputText>
            <!--disabled="#{cc.attrs.disabled}"-->
            <p:inputTextarea
                    value="#{cc.attrs.value.fullAddressDTO.fullAddress}"
                    disabled="#{cc.attrs.disabled}"
                    readonly="#{facesContext.renderResponse}"
                    title="#{cc.attrs.value.fullAddressDTO.fullAddress}"
                    required="#{cc.attrs.required}"
                    id="input_for_address_#{cc.attrs.idComponent}_txt"
                    styleClass="#{cc.attrs.styleClass}#{cc.attrs.idComponent} input_for_address_#{cc.attrs.idComponent}_txt"
                    style="float:left;height:27px;#{cc.attrs.style}"
                    placeholder="#{cc.attrs.placeholder}"
                    onfocus="this.blur();reload_#{cc.attrs.idComponent}_location();"
                    requiredMessage="#{cc.attrs.requiredMessage}"
                    rendered="#{cc.attrs.isTextArea}"
                    rows="2"
                    >
            </p:inputTextarea>
            <p:commandLink
                    rendered="#{!cc.attrs.required and cc.attrs.isTextArea and not empty cc.attrs.methodNameReset}"
                    style="float:left;"
                    value="#{lang['common.btn.refresh']}"
                    disabled="#{cc.attrs.disabled}"
                    action="#{cc.attrs.value.resetAddressMethod(cc.attrs.methodNameReset)}"
                    ajax="true"
                    process="@this"
                    resetValues="true"
                    update="@([id$=pnInput#{cc.attrs.idComponent}Location])"
                    />
            <p:commandLink
                    rendered="#{!cc.attrs.required and !cc.attrs.isTextArea and not empty cc.attrs.methodNameReset}"
                    value="#{lang['common.btn.refresh']}"
                    disabled="#{cc.attrs.disabled}"
                    action="#{cc.attrs.value.resetAddressMethod(cc.attrs.methodNameReset)}"
                    ajax="true"
                    process="@this"
                    resetValues="true"
                    update="@([id$=pnInput#{cc.attrs.idComponent}Location])"
                    styleClass="ui-link-right"/>
        </div>
    </p:outputPanel>
    <p:dialog widgetVar="a#{cc.attrs.idComponent}dlgLocation"
              id="a#{cc.attrs.idComponent}dlgLocation"
              styleClass=" a#{cc.attrs.idComponent}dlgLocation dlgLocation"
              appendTo="@(body)"
              closable="true"
              closeOnEscape="true"
              onHide="enableAllLocation#{cc.attrs.idComponent}();#{cc.attrs.onhide}"
              onShow="disableAllLocation#{cc.attrs.idComponent}();bindEventF8#{cc.attrs.idComponent}();#{cc.attrs.onshow}"
              header="#{lang['lb.address']}"
              modal="true" resizable="false"
              dynamic="false"
              width="330">
        <script type="text/javascript">
            function enableAllLocation#{cc.attrs.idComponent}() {
                PF('#{cc.attrs.idComponent}province').activate();
                PF('#{cc.attrs.idComponent}district').activate();
                PF('#{cc.attrs.idComponent}precinct').activate();
                PF('#{cc.attrs.idComponent}groupStreet').activate();
            }
            function disableAllLocation#{cc.attrs.idComponent}() {
                PF('#{cc.attrs.idComponent}province').deactivate();
                PF('#{cc.attrs.idComponent}district').deactivate();
                PF('#{cc.attrs.idComponent}precinct').deactivate();
                PF('#{cc.attrs.idComponent}groupStreet').deactivate();
            }
            var countF9 = 0;

            var countDistrict = 0;

            var countPrecinct = 0;

            var countStreet = 0;

            function bindEventF8#{cc.attrs.idComponent}() {
                $(document).on("keyup", ".submit#{cc.attrs.idComponent}Location", function (event) {
                    if (event.keyCode === 119) {
                        clickLinkByClass('#{cc.attrs.idComponent}btnSumitLocation');
                    }
                });
                $(document).on("keyup", ".#{cc.attrs.idComponent}btnSumitLocation", function (event) {
                    if (event.keyCode === 119) {
                        clickLinkByClass('#{cc.attrs.idComponent}btnSumitLocation');
                    }
                });
                $(document).on("keyup", ".inputProvince#{cc.attrs.idComponent}", function (event) {
                    console.log('lolotica');
                    if (event.keyCode === 120 &amp;&amp; countF9 == 0) {
                        countF9++;
                        if (PF('#{cc.attrs.idComponent}province') == null) {
                            console.log('ko co');
                        } else {
                            console.log('co nay');
                        }
                        PF('#{cc.attrs.idComponent}province').activate();
                        PF('#{cc.attrs.idComponent}province').search(this.value);
                    }
                });
                $(document).on("keyup", ".inputDistrict#{cc.attrs.idComponent}", function (event) {
                    if (event.keyCode === 120 &amp;&amp; $('.inputProvince#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; countF9 == 0) {
                        countF9++;
//                    console.log('sdfdsf');
                        processIpHd#{cc.attrs.idComponent}a();
                        PF('#{cc.attrs.idComponent}district').activate();
                        PF('#{cc.attrs.idComponent}district').search(this.value);
                    }
                });
                $(document).on("keyup", ".inputPrecinct#{cc.attrs.idComponent}", function (event) {
                    if (event.which === 120 &amp;&amp; $('.inputProvince#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; $('.inputDistrict#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; countF9 == 0) {
//                    console.log('sdfdsfaaaaaaaaaa');
                        countF9++;
                        processIpHd#{cc.attrs.idComponent}a();
                        PF('#{cc.attrs.idComponent}precinct').activate();
                        PF('#{cc.attrs.idComponent}precinct').search(this.value);
                    }
                });
                $(document).on("keyup", ".inputGroupStreet#{cc.attrs.idComponent}", function (event) {
                    if (event.keyCode === 120 &amp;&amp; $('.inputProvince#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; $('.inputDistrict#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; $('.inputPrecinct#{cc.attrs.idComponent}').val().trim() != '' &amp;&amp; countF9 == 0) {
                        countF9++;
                        processIpHd#{cc.attrs.idComponent}a();
                        PF('#{cc.attrs.idComponent}groupStreet').activate();
                        PF('#{cc.attrs.idComponent}groupStreet').search(this.value);
                    }
                });
            }

            function setDataIpHiddent#{cc.attrs.idComponent}() {
                $('.iphd#{cc.attrs.idComponent}province').val($('.inputProvince#{cc.attrs.idComponent}').val());
                $('.iphd#{cc.attrs.idComponent}district').val($('.inputDistrict#{cc.attrs.idComponent}').val());
                $('.iphd#{cc.attrs.idComponent}precinct').val($('.inputPrecinct#{cc.attrs.idComponent}').val());
                $('.iphd#{cc.attrs.idComponent}groupStreet').val($('.inputGroupStreet#{cc.attrs.idComponent}').val());
            }
        </script>
        <p:remoteCommand name="reload_#{cc.attrs.idComponent}_location" process="@this" action="#{cc.attrs.value.openLocation}"
                         global="false" immediate="true"
                         update="@([id$=pnAddress#{cc.attrs.idComponent}])"
                         oncomplete="PF('a#{cc.attrs.idComponent}dlgLocation').show();"/>
        <p:remoteCommand global="false"
                         process="@this, @(.iphd#{cc.attrs.idComponent}province), @(.iphd#{cc.attrs.idComponent}precinct),@(.iphd#{cc.attrs.idComponent}district),@(.iphd#{cc.attrs.idComponent}groupStreet)"
                         name="processIpHd#{cc.attrs.idComponent}a"/>
        <p:remoteCommand global="false"
                         process="@this,@(.iphd#{cc.attrs.idComponent}province), @(.iphd#{cc.attrs.idComponent}precinct),@(.iphd#{cc.attrs.idComponent}district),@(.iphd#{cc.attrs.idComponent}groupStreet)"
                         name="rmFocusStreetPro#{cc.attrs.idComponent}a" update="@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                         actionListener="#{cc.attrs.value.onFocusLoadStreetPro}"/>
        <p:remoteCommand name="onFocus#{cc.attrs.idComponent}Number" process="@this,@([id$=#{cc.attrs.idComponent}streetPro])"
                         global="false" update="@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                         actionListener="#{cc.attrs.value.onFocusNumber}"/>
        <p:remoteCommand name="onBlur#{cc.attrs.idComponent}Number" process="@this,@([id$=#{cc.attrs.idComponent}noApartment])"
                         global="false" update="@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                         actionListener="#{cc.attrs.value.onBlurNumber}"/>
        <p:remoteCommand update="@([id$=pnInput#{cc.attrs.idComponent}Location]),#{cc.attrs.update}" global="false"
                         process="@this" name="sucess#{cc.attrs.idComponent}msg"
                         oncomplete="PF('a#{cc.attrs.idComponent}dlgLocation').hide();"
                         actionListener="#{cc.attrs.value.onClick(cc.attrs.methodName, cc.attrs.id)}"/>
        <p:outputPanel id="pnAddress#{cc.attrs.idComponent}" styleClass="Container100 pnAddress#{cc.attrs.idComponent}">
            <p:focus context="pnAddress#{cc.attrs.idComponent}"/>
            <p:messages id="msgLocation_#{cc.attrs.idComponent}" showSummary="false" showDetail="true" closable="true"/>
            <p:outputPanel id="pn#{cc.attrs.idComponent}province" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 #{cc.attrs.idComponent}province_col">
                    <p:outputLabel value="#{lang['lb.location.province']}" for="#{cc.attrs.idComponent}province"
                                   styleClass="lb-sentinel">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel value="#{lang['lb.location.province']}" for="#{cc.attrs.idComponent}province"
                                   rendered="#{!cc.attrs.requireProvince}"/>
                </div>
                <p:outputPanel styleClass="Container60 Responsive50 #{cc.attrs.idComponent}province ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}province" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:autoComplete
                            widgetVar="#{cc.attrs.idComponent}province"
                            placeholder="#{lang['common.location.placehoder']}"
                            id="#{cc.attrs.idComponent}province"
                            disabled="#{cc.attrs.disableProvince}"
                            inputStyleClass="inputProvince#{cc.attrs.idComponent} submit#{cc.attrs.idComponent}Location"
                            value="#{cc.attrs.value.fullAddressDTO.province}"
                            completeMethod="#{cc.attrs.value.searchProvince}"
                            var="province"
                            onfocus="this.setSelectionRange(0, this.value.length);PF('#{cc.attrs.idComponent}province').deactivate();countF9  = 0;"
                            onblur="this.value = this.value.trim().toUpperCase();$('.iphd#{cc.attrs.idComponent}province').val(this.value);"
                            maxlength="50"
                            itemLabel="#{province.code}"
                            itemValue="#{province}"
                            cacheTimeout="500000"
                            required="false"
                            converter="LocationConverter"
                            scrollHeight="300"
                            >
                        <o:converter converterId="LocationConverter" list="#{cc.attrs.value.listProvince}"/>
                        <p:ajax event="itemSelect" oncomplete="setFocusByClass('inputDistrict#{cc.attrs.idComponent}');"
                                listener="#{cc.attrs.value.onProvinceChanged}"
                                update="@([id$=pn#{cc.attrs.idComponent}district]),@([id$=pn#{cc.attrs.idComponent}precinct]),@([id$=pn#{cc.attrs.idComponent}groupStreet]),@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                                process="@([id$=#{cc.attrs.idComponent}province])"/>
                        <p:column headerText="#{lang['lb.code']}">
                            <p:outputLabel value="#{province.code}"/>
                        </p:column>
                        <p:column headerText="#{lang['lb.name']}">
                            <p:outputLabel value="#{province.name}"/>
                        </p:column>
                    </p:autoComplete>
                    <p:inputText value="#{cc.attrs.value.strProvince}"
                                 styleClass="iphd#{cc.attrs.idComponent}province none-class"/>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.idComponent}district" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 #{cc.attrs.idComponent}district_col">
                    <p:outputLabel value="#{lang['lb.location.district']}" for="#{cc.attrs.idComponent}district"
                                   rendered="#{cc.attrs.requireDistrict}" styleClass="lb-sentinel">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel value="#{lang['lb.location.district']}" for="#{cc.attrs.idComponent}precinct"
                                   rendered="#{!cc.attrs.requireDistrict}"/>
                </div>

                <p:outputPanel styleClass="Container60 Responsive50 #{cc.attrs.idComponent}district ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}district" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:autoComplete
                            required="false"
                            placeholder="#{lang['common.location.placehoder']}"
                            widgetVar="#{cc.attrs.idComponent}district"
                            id="#{cc.attrs.idComponent}district"
                            inputStyleClass="inputDistrict#{cc.attrs.idComponent} submit#{cc.attrs.idComponent}Location"
                            disabled="#{cc.attrs.disableDistrict}"
                            value="#{cc.attrs.value.fullAddressDTO.district}"
                            completeMethod="#{cc.attrs.value.searchDistrict}"
                            onfocus="this.setSelectionRange(0, this.value.length);PF('#{cc.attrs.idComponent}district').deactivate();countF9  = 0;"
                            onblur="this.value = this.value.trim().toUpperCase();$('.iphd#{cc.attrs.idComponent}district').val(this.value);"
                            var="dist"
                            maxlength="50"
                            itemLabel="#{dist.code}"
                            itemValue="#{dist}"
                            cacheTimeout="500000"
                            styleClass="district "
                            scrollHeight="300"
                            >
                        <o:converter converterId="LocationConverter" list="#{cc.attrs.value.listDistrict}"/>
                        <p:ajax event="itemSelect" global="false" process="@this"
                                oncomplete="setFocusByClass('inputPrecinct#{cc.attrs.idComponent}');"
                                listener="#{cc.attrs.value.onDistrictChanged}"
                                update="@([id$=pn#{cc.attrs.idComponent}precinct]),@([id$=pn#{cc.attrs.idComponent}groupStreet]),@([id$=a#{cc.attrs.idComponent}pnFullAddress])"/>
                        <p:column headerText="#{lang['lb.code']}">
                            <p:outputLabel value="#{dist.code}"/>
                        </p:column>
                        <p:column headerText="#{lang['lb.name']}">
                            <p:outputLabel value="#{dist.name}">
                            </p:outputLabel>
                        </p:column>
                        <p:ajax global="false" event="query"/>
                    </p:autoComplete>
                    <p:inputText value="#{cc.attrs.value.strDistrict}"
                                 styleClass="iphd#{cc.attrs.idComponent}district none-class"></p:inputText>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.idComponent}precinct" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 #{cc.attrs.idComponent}precinct_col">
                    <p:outputLabel value="#{lang['lb.location.precinct']}" for="#{cc.attrs.idComponent}precinct"
                                   rendered="#{cc.attrs.requirePrecinct}" styleClass="lb-sentinel">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel value="#{lang['lb.location.precinct']}" for="#{cc.attrs.idComponent}precinct"
                                   rendered="#{!cc.attrs.requirePrecinct}" styleClass="lb-sentinel"/>
                </div>
                <p:outputPanel styleClass="Container60 Responsive50 #{cc.attrs.idComponent}precinct ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}precinct" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:autoComplete
                            required="false"
                            placeholder="#{lang['common.location.placehoder']}"
                            widgetVar="#{cc.attrs.idComponent}precinct"
                            id="#{cc.attrs.idComponent}precinct"
                            disabled="#{cc.attrs.disablePrecinct}"
                            value="#{cc.attrs.value.fullAddressDTO.precinct}"
                            completeMethod="#{cc.attrs.value.searchPrecinct}"
                            inputStyleClass="inputPrecinct#{cc.attrs.idComponent} submit#{cc.attrs.idComponent}Location"
                            var="pre"
                            maxlength="50"
                            itemLabel="#{pre.code}"
                            itemValue="#{pre}"
                            onfocus="this.setSelectionRange(0, this.value.length);PF('#{cc.attrs.idComponent}precinct').deactivate();countF9  = 0;"
                            onblur="this.value = this.value.trim().toUpperCase();$('.iphd#{cc.attrs.idComponent}precinct').val(this.value);"
                            styleClass="precinct"
                            converter="LocationConverter"
                            scrollHeight="300"
                            >
                        <o:converter converterId="LocationConverter" list="#{cc.attrs.value.listPrecinct}"/>
                        <p:ajax event="itemSelect" process="@this" global="false"
                                oncomplete="setFocusByClass('inputGroupStreet#{cc.attrs.idComponent}');"
                                listener="#{cc.attrs.value.onPrecinctChanged}"
                                update="@([id$=pn#{cc.attrs.idComponent}groupStreet]),@([id$=a#{cc.attrs.idComponent}pnFullAddress])"/>
                        <p:column headerText="#{lang['lb.code']}">
                            <p:outputLabel value="#{pre.code}"/>
                        </p:column>
                        <p:column headerText="#{lang['lb.name']}">
                            <p:outputLabel value="#{pre.name}"/>
                        </p:column>
                        <p:ajax global="false" event="query"/>
                    </p:autoComplete>
                    <p:inputText value="#{cc.attrs.value.strPrecinct}"
                                 styleClass="iphd#{cc.attrs.idComponent}precinct none-class"></p:inputText>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel styleClass="ContainerIndent" id="pn#{cc.attrs.idComponent}groupStreet">
                <div class="Container40 pd-top-6 #{cc.attrs.idComponent}groupStreet_col">
                    <p:outputLabel value="#{lang['lb.location.groupStreet']}" for="#{cc.attrs.idComponent}groupStreet"
                                   rendered="#{cc.attrs.requireStreet}" styleClass="lb-sentinel">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel value="#{lang['lb.location.groupStreet']}" for="#{cc.attrs.idComponent}groupStreet"
                                   rendered="#{!cc.attrs.requireStreet}" styleClass="lb-sentinel"/>
                </div>
                <div class="Container60 Responsive50 #{cc.attrs.idComponent}groupStreet ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}groupStreet" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:autoComplete
                            required="false"
                            placeholder="#{lang['common.location.placehoder']}"
                            widgetVar="#{cc.attrs.idComponent}groupStreet"
                            id="#{cc.attrs.idComponent}groupStreet"
                            disabled="#{cc.attrs.disableStreetBlock}"
                            value="#{cc.attrs.value.fullAddressDTO.streetBlock}"
                            completeMethod="#{cc.attrs.value.searchStreetBlock}"
                            inputStyleClass="inputGroupStreet#{cc.attrs.idComponent} submit#{cc.attrs.idComponent}Location"
                            var="street"
                            maxlength="50"
                            itemLabel="#{street.code}"
                            itemValue="#{street}"
                            onfocus="this.setSelectionRange(0, this.value.length);PF('#{cc.attrs.idComponent}groupStreet').deactivate();countF9  = 0;"
                            onblur="this.value = this.value.trim().toUpperCase();$('.iphd#{cc.attrs.idComponent}groupStreet').val(this.value);"
                            styleClass="groupStreet "
                            converter="LocationConverter"
                            scrollHeight="300"
                            >
                        <o:converter converterId="LocationConverter" list="#{cc.attrs.value.listGroup}"/>
                        <p:ajax event="itemSelect" global="false" listener="#{cc.attrs.value.onStreetBlockChanged}"
                                oncomplete="setFocusByClass('#{cc.attrs.idComponent}streetPro');"
                                update="@([id$=pn#{cc.attrs.idComponent}no]),@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                                process="@this"/>
                        <p:column headerText="#{lang['lb.code']}">
                            <p:outputLabel value="#{street.code}"/>
                        </p:column>
                        <p:column headerText="#{lang['lb.name']}">
                            <p:outputLabel value="#{street.name}"/>
                        </p:column>
                        <p:ajax global="false" event="query"/>
                    </p:autoComplete>
                    <p:inputText value="#{cc.attrs.value.strStreet}"
                                 styleClass="iphd#{cc.attrs.idComponent}groupStreet none-class"></p:inputText>
                </div>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.idComponent}street" styleClass="ContainerIndent">
                <div class="Container40 mg-top-5">
                    <p:outputLabel value="#{lang['lb.location.streetPro']}" for="#{cc.attrs.idComponent}streetPro"
                                   styleClass="lb-sentinel"/>
                </div>
                <div class="Container60 Responsive50 ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}streetPro" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+/\\]/i"/>
                    <p:inputText id="#{cc.attrs.idComponent}streetPro" onblur="this.value=this.value.trim();" maxlength="50"
                                 onfocus="rmFocusStreetPro#{cc.attrs.idComponent}a();"
                                 styleClass="#{cc.attrs.idComponent}streetPro submit#{cc.attrs.idComponent}Location"
                                 value="#{cc.attrs.value.fullAddressDTO.street}"
                                 validatorMessage="#{lang['common.msg.location.maxlength.street']}"
                                 disabled="#{cc.attrs.readOnlyStreetBlock}">
                        <f:validateLength maximum="50"/>
                    </p:inputText>
                </div>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.idComponent}no" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6">
                    <p:outputLabel value="#{lang['lb.location.apartment']}" for="#{cc.attrs.idComponent}noApartment"
                                   styleClass="lb-sentinel"/>
                </div>
                <div class="Container60 Responsive50 ui-fluid">
                    <pe:keyFilter for="#{cc.attrs.idComponent}noApartment" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+/\\]/i"/>
                    <p:inputText id="#{cc.attrs.idComponent}noApartment"
                                 onblur="this.value=this.value.trim();onBlur#{cc.attrs.idComponent}Number();"
                                 onfocus="onFocus#{cc.attrs.idComponent}Number();" styleClass="submit#{cc.attrs.idComponent}Location"
                                 maxlength="30" value="#{cc.attrs.value.fullAddressDTO.number}"
                                 validatorMessage="#{lang['common.msg.location.maxlength.number']}"
                                 disabled="#{cc.attrs.readOnlyHomeNumber}">
                        <f:validateLength maximum="50"></f:validateLength>
                    </p:inputText>
                </div>
            </p:outputPanel>
            <p:outputPanel id="a#{cc.attrs.idComponent}pnFullAddress" styleClass="ContainerIndent">
                <div class="Container40 mg-top-5">
                    <p:outputLabel value="#{lang['lb.address']}" styleClass="lb-sentinel"/>
                </div>
                <div class="Container60 mg-top-5 Responsive50">
                    <p:outputLabel value="#{cc.attrs.value.fullAddressDTO.fullAddress}" styleClass="lb-sentinel-bold"/>
                </div>
            </p:outputPanel>

            <div class="ContainerIndent">
                <p:outputPanel id="pn#{cc.attrs.idComponent}buttonLocation" styleClass="Container100" style="text-align: center">
                    <p:commandButton
                            styleClass="#{cc.attrs.idComponent}btnSumitLocation"
                            value="#{lang['common.select']}(F8)"
                            disabled="#{cc.attrs.disabled}"
                            onstart="setDataIpHiddent#{cc.attrs.idComponent}();"
                            action="#{cc.attrs.value.validateLocation(cc.attrs.requireProvince, cc.attrs.requireDistrict, cc.attrs.requirePrecinct, cc.attrs.requireStreet,cc.attrs.id)}"
                            process="@this,@(.iphd#{cc.attrs.idComponent}province),@(.iphd#{cc.attrs.idComponent}district),@(.iphd#{cc.attrs.idComponent}precinct),@(.iphd#{cc.attrs.idComponent}groupStreet),@([id$=#{cc.attrs.idComponent}noApartment]),@([id$=#{cc.attrs.idComponent}streetPro])"
                            ajax="true"
                            resetValues="true"
                            update="@([id$=msgLocation_#{cc.attrs.idComponent}]),@([id$=a#{cc.attrs.idComponent}pnFullAddress])"
                            oncomplete="if(!args.validationFailed) {sucess#{cc.attrs.idComponent}msg();#{cc.attrs.oncomplete}} else {$( '.ui-state-error-com input:first').focus();}"
                            />
                    <p:commandButton
                            id="refresh#{cc.attrs.idComponent}"
                            style="margin-left: 5px;"
                            value="#{lang['common.btn.refresh']}"
                            disabled="#{cc.attrs.disabled}"
                            action="#{cc.attrs.value.resetAddress(cc.attrs.disableProvince, cc.attrs.disableDistrict, cc.attrs.disablePrecinct, cc.attrs.disableStreetBlock)}"
                            ajax="true"
                            process="@this"
                            resetValues="true"
                            update="@([id$=pnAddress#{cc.attrs.idComponent}])"
                            />

                </p:outputPanel>
                <!--oncomplete="setFocusByClass('input_for_address_#{cc.attrs.idComponent}_txt')"-->
            </div>
        </p:outputPanel>
    </p:dialog>
</composite:implementation>
</html>
