<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions">
    <cc:interface>
        <cc:attribute name="idComponent" shortDescription="id component cua doi tuong " required="true"/>
        <cc:attribute name="update" shortDescription="id component cua doi tuong " required="false"/>
        <cc:attribute name="value" shortDescription="Doi tuong chua ket qua tra ve"
                      required="true" type="com.viettel.bccs.sale.tag.UploadDocumentTag"/>
        <cc:attribute name="styleClass" default="Container100" shortDescription="class css cho tag"/>
        <cc:attribute name="style" default="" shortDescription="css cho tag"/>
        <cc:attribute name="updateSeparateMessage" default="" shortDescription="css cho tag"/>
        <cc:attribute name="styleClassNotInclude" default="" shortDescription="ten class de exclude luc submit"/>
    </cc:interface>
    <cc:implementation>
        <p:outputPanel id="#{cc.attrs.idComponent}uploadDocumentPanel" styleClass="#{cc.attrs.styleClass}"
                       style="#{cc.attrs.style}">
            <style type="text/css">
                .ui-fileupload-buttonbar{
                    padding: 0!important;
                }
            </style>
            <p:outputPanel rendered="#{not empty cc.attrs.value.listDocument}" styleClass="Container100">
                <p:messages id="#{cc.attrs.idComponent}msgUploadDocV2" closable="true" showDetail="true"
                            showSummary="false"
                            severity="error"
                            rendered="#{empty cc.attrs.updateSeparateMessage or cc.attrs.updateSeparateMessage eq ''}"/>
                <!--style="max-height: 230px;overflow-y: scroll;"-->
                <p:outputPanel id="#{cc.attrs.idComponent}idListDocument" styleClass="Container100">

                    <cbs:panel classForToggle="tagShowDocument" titleHeader="#{lang['lb.xFiles']}"/>

                    <ui:repeat value="#{cc.attrs.value.listDocumentShow}" var="document">
                        <p:outputPanel styleClass="Container100">
                            <div class="Container30 Responsive50">
                                <div class="Container30 Responsive50">
                                    <p:outputLabel for="#{cc.attrs.idComponent}documentTypeCbx"
                                                   value="#{lang['lb.document.select']}"
                                                   styleClass="lb-sentinel"/>
                                    <!--<p:outputLabel rendered="#{document.isRecordRequired eq 'true'}">-->
                                    <p:outputLabel rendered="#{document.recordTypeScanSelected.reqScan eq 1}">
                                        <span class="ui-outputlabel-rfi">*</span>
                                    </p:outputLabel>
                                </div>
                                <div class="Container70 Responsive50 ui-fluid">
                                    <p:selectOneMenu value="#{document.recordTypeScanSelected}"
                                                     requiredMessage="#{lang['msg.type.document']}"
                                                     appendTo="@(body)" styleClass="#{cc.attrs.styleClassNotInclude}"
                                                     filter="true" filterMatchMode="contains"
                                                     id="#{cc.attrs.idComponent}documentTypeCbx"
                                                     syncTooltip="true">
                                        <o:converter converterId="RecordTypeScanConverter" list="#{document.listRecord}"/>
                                        <f:selectItems value="#{document.listRecord}"
                                                       var="recordType"
                                                       itemDescription="#{recordType.recordName}"
                                                       itemValue="#{recordType}"
                                                       itemLabel="[#{recordType.recordCode}] #{recordType.recordName}"/>
                                        <p:ajax event="change" process="@this"
                                                update="@([id$=#{cc.attrs.idComponent}uploadDocumentPanel])"
                                                listener="#{cc.attrs.value.onChangeSelectRecord(document)}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <div class="Container70 Responsive50">
                                <div class="Container60 Responsive50">
                                    <!--allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|doc|docx|pdf)$/"-->
                                    <!--sizeLimit="2097152"-->

                                    <div style="float: left">
                                        <p:fileUpload label="#{lang['common.choose.file']}"
                                                      update="@([id$=#{cc.attrs.idComponent}uploadDocumentPanel]),@([id$=#{cc.attrs.idComponent}msgUploadDocV2]),#{cc.attrs.updateSeparateMessage}"
                                                      mode="advanced"
                                                      skinSimple="true"
                                                      auto="true"
                                                      invalidSizeMessage="#{lang['common.file.allow.excel.max.size.desc']}"
                                                      invalidFileMessage="#{lang['common.file.allow']}"
                                                      fileLimit="1"
                                                      process="@this"
                                                      styleClass="#{cc.attrs.styleClassNotInclude}"
                                                      fileUploadListener="#{cc.attrs.value.handleFileUpload}">
                                            <f:attribute name="docAtt" value="#{document}"/>
                                        </p:fileUpload>
                                    </div>
                                    <p:commandButton value="#{lang['common.choose.file.join']}"
                                                     update="@([id$=uploadJoinFile])"
                                                     process="@this"
                                                     actionListener="#{cc.attrs.value.preDiaglogJoinFile(document)}"
                                                     oncomplete="PF('uploadJoinFile').show()"/>
                                    <!--<p:outputLabel title="#{document.uploadedFileDTO.fileName}" value="#{document.uploadedFileDTO.fileName}"/>-->
                                    <p:commandLink
                                            styleClass="mg-left-5"
                                            id="btnOverPreviewFile"
                                            process="@this"
                                            update="overPreviewFile"
                                            oncomplete="PF('overPreviewFile').show()"
                                            value="#{document.uploadedFileDTO.fileName}"
                                            actionListener="#{cc.attrs.value.creatPreview(document.uploadedFileDTO)}"
                                            title="#{lang['lb.view.detail']}"/>
                                    <p:overlayPanel widgetVar="overPreviewFile"
                                                    id="overPreviewFile"
                                                    style="background: white"
                                                    my="left top" at="right bot">
                                        <div class="ContainerIndent">
                                            <iframe id="iframeOverPreView" src="#{cc.attrs.value.imgPreViewUrl}"
                                                    width="500"
                                                    height="450"
                                                    frameborder="0">
                                            </iframe>
                                        </div>
                                    </p:overlayPanel>

                                </div>
                                <div class="Container40 Responsive50">
                                    <p:commandButton value="#{lang['sale.common.photo.cam']}"
                                                     icon="icon-camera-alt"
                                                     update="@([id$=#{cc.attrs.idComponent}photoCamConfirmDialog]),#{cc.attrs.updateSeparateMessage}"
                                                     process="@this,@([id$=#{cc.attrs.idComponent}idListDocument])"
                                                     actionListener="#{cc.attrs.value.preViewPhotoCam(document)}"
                                                     oncomplete="PF('photoCamConfirmDialog').show()"/>
                                    <p:commandButton value="#{lang['sale.common.photo.reset']}"
                                                     update="@([id$=#{cc.attrs.idComponent}uploadDocumentPanel]),@([id$=#{cc.attrs.idComponent}msgUploadDocV2]),#{cc.attrs.updateSeparateMessage}"
                                                     process="@this,@([id$=#{cc.attrs.idComponent}idListDocument])"
                                                     actionListener="#{cc.attrs.value.resetFileUpload(document)}"/>
                                </div>
                            </div>
                        </p:outputPanel>
                    </ui:repeat>
                </p:outputPanel>
            </p:outputPanel>
        </p:outputPanel>
        <cbs:viewPhotoCam widgetVarDlg="photoCamConfirmDialog"
                          value="#{cc.attrs.value.viewPhotoCamTag}"
                          update="@([id$=#{cc.attrs.idComponent}uploadDocumentPanel])"
                          widthDlg="800"/>


        <p:dialog id="uploadJoinFile"
                  closable="true"
                  closeOnEscape="true"
                  modal="true"
                  appendTo="@(body)"
                  widgetVar="uploadJoinFile"
                  position="center"
                  resizable="false"
                  dynamic="true"
                  width="900"
                  header="#{lang['common.choose.file']}">

            <div class="Container100">
                <p:messages id="msgChangeDeploy" closable="true" showDetail="true" showSummary="false"/>
                <p:outputLabel styleClass="title-fieldset" value="#{lang['upload.handle.file.info.notice.only.image']} #{cc.attrs.value.getImgExtendAllowJoin()}"/>
            </div>
            <div class="Container100">
                <p:outputPanel id="tblLstFileName" styleClass="ContainerIndent">
                    <p:dataTable
                            id="tblFileName"
                            rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                            paginator="#{lang['common.paging.paginator']}"
                            resizableColumns="#{lang['common.paging.resizableColumns']}"
                            draggableColumns="#{lang['common.paging.draggableColumns']}"
                            draggableRows="#{lang['common.paging.draggableRows']}"
                            paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                            paginatorAlwaysVisible="#{lang['common.paging.paginatorAlwaysVisible']}"
                            paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                            currentPageReportTemplate=""
                            rows="#{lang['common.paging.rows.short']}"
                            styleClass="Container40"
                            value="#{cc.attrs.value.lstFileName}"
                            var="profile"
                            rowKey="#{profile}"
                            rowIndexVar="rowIndexSub"
                            selection="#{cc.attrs.value.selectedFileName}">
                        <p:column selectionMode="single"
                                  style="width: 15%!important;"/>
                        <p:ajax event="rowSelectRadio"
                                process="@this"
                                resetValues="true"
                                update="@([id$=tblLstFileName]), @([id$=iframePreView]), @([id$=tblFileName]), @([id$=msgChangeDeploy])"
                                listener="#{cc.attrs.value.chooseFilePreView(cc.attrs.value.selectedFileName)}"/>

                        <p:column headerText="">
                            <p:outputLabel value="#{profile}" title="#{profile}"/>
                        </p:column>
                        <p:column headerText="" styleClass="TexAlCenter" style="width: 15%!important;">
                            <p:commandLink
                                    id="cmLinkDel" styleClass="marL10 icon-cancel"

                                    action="#{cc.attrs.value.delFileInDialog(profile)}"
                                    update="@([id$=tblLstFileName]), @([id$=iframePreView]), @([id$=tblFileName]), @([id$=msgChangeDeploy]),@([id$=pnBtJoinFile])"
                                    process="@this">
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <div class="Container60" >
                        <!--<img id="profileImage" src="#{cc.attrs.value.imgPreViewUrl}" height="300"></img>-->

                        <iframe id="iframePreView" src="#{cc.attrs.value.imgPreViewUrl}"
                                width="100%"
                                height="350"
                                frameborder="0">
                        </iframe>

                        <!--<p:media value="/preViewUpload" player="pdf" width="100%" height="300" id="pdfViewer"/> cai nay danh neu base64 nang qua thi dung cai nay-->

                    </div>
                </p:outputPanel>
            </div>
            <div class="Container100 Responsive100">
                <p:outputPanel id="pnBtJoinFile" styleClass="ContainerIndent">
                    <div class="Container20 Responsive">
                        <!--allowTypes="/(\.|\/)(gif|jpe?g|png|bmp|doc|docx|pdf)$/"-->
                        <!--sizeLimit="2097152"-->
                        <!--fileLimitMessage="#{lang['common.file.limit']}"-->
                        <!--fileLimit="5"-->
                        <div style="float: left">
                            <h:form enctype="multipart-data">
                                <p:fileUpload label="#{lang['common.choose.file']}"
                                              update="@([id$=tblLstFileName]),@([id$=msgChangeDeploy]),@([id$=pnBtJoinFile])"
                                              multiple="true"
                                              invalidSizeMessage="#{lang['common.file.allow.excel.max.size.desc']}"
                                              sizeLimit="2000000"
                                              auto="true"
                                              process="@this"
                                              mode="advanced"
                                              styleClass="#{cc.attrs.styleClassNotInclude}"
                                              fileUploadListener="#{cc.attrs.value.handleFileJoin}"
                                        >
                                </p:fileUpload>
                            </h:form>
                        </div>
                    </div>
                    <div class="Container20 Responsive">
                        <p:commandButton value="OK"
                                         rendered="#{cc.attrs.value.lstFileName ne null and not empty cc.attrs.value.lstFileName}"
                                         update="@([id$=#{cc.attrs.idComponent}uploadDocumentPanel]), @([id$=msgChangeDeploy])"
                                         process="@this"
                                         actionListener="#{cc.attrs.value.doJoinFile}"
                                         oncomplete="PF('uploadJoinFile').hide()"
                                />
                    </div>
                </p:outputPanel>
            </div>

        </p:dialog>
    </cc:implementation>
</ui:composition>

