<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style type="text/css">
        #changePasswordOne {
            display: inline-block;
            text-align: center;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <ui:define name="title"> #{lang['pw.forget.password']}</ui:define>
    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <p:outputPanel rendered="#{resetPasswordController.viewReset}" id="frmGetCodeSecurity"
                               styleClass="text-align: center">
                    <h:form id="frmChangePwOne" styleClass="Container100">
                        <p:outputPanel id="changePasswordOne" styleClass="Container100" style="horiz-align: center">
                            <p:outputPanel id="pnlReportLabelOne" styleClass="ContainerIndent mg-top-3">

                                <cbs:panel classForToggle="pnlReportSearch"
                                           titleHeader="#{resetPasswordController.header}"/>
                                <div class="Container100 Responsive100">
                                    <hr></hr>
                                    <p:messages id="msgFormOne" showDetail="true" globalOnly="true" showSummary="true"
                                                closable="true"/>

                                    <!--Ten dang nhap -->
                                    <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                        <div class="Container90 Responsive" id="pnlDocCode">
                                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                <p:outputLabel styleClass="lb-sentinel"
                                                               value="#{lang['dlg.pw.nameLogin']}"/>
                                                <p:outputLabel value="*" style="color: red"/>
                                            </div>
                                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                <p:inputText id="nameLoginOne" maxlength="150"
                                                             onchange="this.value=this.value.trim()"
                                                             value="#{resetPasswordController.userName}"
                                                             title=" ">
                                                </p:inputText>
                                            </div>
                                        </div>
                                    </p:outputPanel>

                                    <!--Image captcha-->
                                    <p:outputPanel style="text-align: center;margin-top: 15px;margin-bottom: -15px;">
                                        <p:graphicImage id="imgCaptchaId" value="#{resetPasswordController.imageUrl}"
                                                        height="40px"
                                                        width="100px"/>
                                        <p:commandLink
                                                process="@this"
                                                update="@([id$=imgCaptchaId])">
                                            <p:graphicImage library="images"
                                                            value="#{resource['images:/reload.png']}" height="35px"
                                                            style="margin-bottom: 3px"/>
                                        </p:commandLink>
                                    </p:outputPanel>

                                    <p:outputPanel class="ContainerIndent" style="text-align: right">

                                    </p:outputPanel>

                                    <!-- Mã xác nhận -->
                                    <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                        <div class="Container90 Responsive" id="pnlDocCode">
                                            <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                <p:outputLabel styleClass="lb-sentinel"
                                                               value="#{lang['reset.pass.code.confirm']}"/>
                                                <p:outputLabel value="*" style="color: red"/>
                                            </div>
                                            <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                <p:inputText id="confirmCode" maxlength="150"
                                                             onchange="this.value=this.value.trim()"
                                                             value="#{resetPasswordController.captcha}"
                                                             title=" ">
                                                </p:inputText>
                                            </div>
                                        </div>
                                    </p:outputPanel>

                                    <!--button-->
                                    <p:outputPanel style="text-align: center">
                                        <!-- Đổi mật khẩu -->
                                        <p:commandButton id="btnChangePasswordOne"
                                                         value="#{lang['reset.pass.get.code.security']}"
                                                         style="alignment: center;margin-top: 20px;margin-bottom: 15px"
                                                         actionListener="#{resetPasswordController.checkUserName}"
                                                         update="@this, @([id$=frmChangePwOne]), @([id@=pnlReset]), @([id$=frmGetCodeSecurity])"
                                        >
                                        </p:commandButton>

                                        <!--Đóng-->
                                        <p:commandButton
                                                style="margin-left: 5px"
                                                id="closeDlg"
                                                action="#{resetPasswordController.closeForm}"
                                                value="#{lang['dlg.pw.close']}">
                                        </p:commandButton>
                                    </p:outputPanel>
                                    <!--End button-->

                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                    </h:form>
                </p:outputPanel>
            </div>
        </div>
        <!--Form reset password-->
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <p:outputPanel id="pnlReset" titleHeader="#{resetPasswordController.header}">
                    <p:outputPanel rendered="#{!resetPasswordController.viewReset}">
                        <h:form id="frmChangePw" styleClass="Container100">
                            <p:outputPanel id="changePassword" styleClass="Container100">
                                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">

                                    <cbs:panel classForToggle="pnlReportSearch"
                                               titleHeader="#{resetPasswordController.header}"/>
                                    <div class="Container100 Responsive100">
                                        <hr></hr>
                                        <p:messages id="msgForm" showDetail="true" globalOnly="true" showSummary="true"
                                                    closable="true"/>

                                        <!--Ten dang nhap -->
                                        <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                            <!-- rendered="#{chainUserControler.checkUser()}">-->
                                            <div class="Container90 Responsive" id="pnlDocCode">
                                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                    <p:outputLabel styleClass="lb-sentinel"
                                                                   value="#{lang['dlg.pw.nameLogin']}"/>
                                                    <p:outputLabel value="*" style="color: red"/>
                                                </div>
                                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                    <p:inputText id="nameLogin" maxlength="150" required="true"
                                                                 disabled="true"
                                                                 onchange="this.value=this.value.trim()"
                                                                 value="#{resetPasswordController.userName}"
                                                                 title=" ">
                                                    </p:inputText>
                                                </div>
                                            </div>
                                        </p:outputPanel>

                                        <!-- Mã bí mật -->
                                        <div class="ContainerIndent" style="text-align: justify">
                                            <div class="Container90 Responsive">
                                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                    <p:outputLabel styleClass="lb-sentinel"
                                                                   value="#{lang['reset.pass.code.security']}"/>
                                                    <p:outputLabel value="*" style="color: red"/>
                                                </div>
                                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                    <p:inputText id="pwOld" maxlength="4"
                                                                    groupingUsed="false"
                                                                onchange="this.value=this.value.trim()"
                                                                value="#{resetPasswordController.securityCode}"
                                                                title="#{resetPasswordController.securityCode}"
                                                    >
                                                    </p:inputText>
                                                    <p:message for="pwOld" id="messPwOld"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Mat khau moi -->
                                        <div class="ContainerIndent" style="text-align: justify">
                                            <div class="Container90 Responsive" id="pnlDocCode">
                                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                    <p:outputLabel styleClass="lb-sentinel"
                                                                   value="#{lang['dlg.pw.newPassword']}"/>
                                                    <p:outputLabel value="*" style="color: red"/>
                                                </div>
                                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                    <p:password id="pwNew"
                                                                onchange="this.value=this.value.trim()"
                                                                value="#{resetPasswordController.newPassword}"
                                                                title=" "
                                                                feedback="true"
                                                                requiredMessage=""
                                                                validatorMessage="Mật khẩu phải chứa 8 đến 20 kí tự với ít nhất 1 kí tự in hoa, 1 kí tự số, 1 kí tự đặc biệt."
                                                    />
                                                    <p:message for="pwNew" id="messPwNew"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Go lai mat khau -->
                                        <div class="ContainerIndent" style="text-align: justify">
                                            <div class="Container90 Responsive" id="pnlDocCode">
                                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                    <p:outputLabel styleClass="lb-sentinel"
                                                                   value="#{lang['dlg.pw.againPassWord']}"/>
                                                    <p:outputLabel value="*" style="color: red"/>
                                                </div>
                                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                    <p:password id="pwRepeat"
                                                                onchange="this.value=this.value.trim()"
                                                                value="#{resetPasswordController.typeAgainPassword}"
                                                                title=" "
                                                                feedback="true"
                                                    >
                                                    </p:password>
                                                    <p:message for="pwRepeat" id="messPwRepeat"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Image captcha-->
                                        <p:outputPanel
                                                style="text-align: center;margin-top: 15px;margin-bottom: -15px;">
                                            <p:graphicImage id="imgCaptchaResetId"
                                                            value="#{resetPasswordController.imageUrl}"
                                                            height="40px"
                                                            width="100px"/>
                                            <p:commandLink
                                                    process="@this"
                                                    update="@([id$=imgCaptchaResetId])">
                                                <p:graphicImage library="images"
                                                                value="#{resource['images:/reload.png']}" height="35px"
                                                                style="margin-bottom: 3px"/>
                                            </p:commandLink>
                                        </p:outputPanel>

                                        <!-- Mã xác nhận -->
                                        <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                            <div class="Container90 Responsive" id="pnlDocCode">
                                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                                    <p:outputLabel styleClass="lb-sentinel"
                                                                   value="#{lang['reset.pass.code.confirm']}"/>
                                                    <p:outputLabel value="*" style="color: red"/>
                                                </div>
                                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                                    <p:inputText id="confirmCodeReset" maxlength="150"
                                                                 onchange="this.value=this.value.trim()"
                                                                 value="#{resetPasswordController.captchaReset}"
                                                                 title=" ">
                                                    </p:inputText>
                                                </div>
                                            </div>
                                        </p:outputPanel>

                                        <!--button-->
                                        <div class="Container100" style="text-align: center">

                                            <!-- Đổi mật khẩu -->
                                            <p:commandButton id="btnChangePassword"
                                                             value="#{lang['dlg.pw.changePassword']}"
                                                             style=";margin-top: 20px;margin-bottom: 15px;horiz-align: center"
                                                             actionListener="#{resetPasswordController.checkResetPass}"
                                                             update="@form"
                                            />

                                            <!--Đóng-->
                                            <p:commandButton
                                                    style="margin-left: 5px;margin-top: 20px;margin-bottom: 15px"
                                                    id="btnClose"
                                                    onclick="PF('frmChangePw').hide();"
                                                    update="@([id$=frmChangePw]), @([id$=frmChangePwOne])"
                                                    value="#{lang['dlg.pw.close']}">
                                                <f:setPropertyActionListener value="#{true}"
                                                                             target="#{resetPasswordController.viewReset}"/>
                                            </p:commandButton>
                                        </div>
                                        <!--End button-->
                                    </div>

                                </p:outputPanel>

                            </p:outputPanel>
                        </h:form>
                    </p:outputPanel>
                </p:outputPanel>
            </div>
        </div>
    </ui:define>
</ui:composition>
