<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
>
<h:head>
    <title>Logout</title>


</h:head>

<h:body>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('logoutForm:link').onclick();
        };
    </script>

    <div class="mrgAuto">
        <h:form id="logoutForm">
            <h:commandLink id="link" ajax="false" action="#{authenticationController.logout}">
            </h:commandLink>
        </h:form>
    </div>

</h:body>

</html>

