<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:fn="http://java.sun.com/jsp/jstl/functions"
        xmlns:cbs="http://xmlns.jcp.org/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_CM_FUNCTION_GROUP']}</ui:define>
    <ui:define name="content">
        <style type="text/css">

            .ui-selectonemenu-panel{
                max-width: 450px !important;
            }
            .ui-selectonemenu-items-wrapper{
                word-break: break-all;
                max-width: 450px !important;
                overflow: auto !important;
            }
        </style>
        <h:form id="form" styleClass="Container100">
            <p:outputPanel id="pnlReportLabela" styleClass="Container100">
                <!--<p:focus context="form:pnlReportLabela"/>-->
                <!--form tìm kiếm-->
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="messages" for="messages" autoUpdate="true" showDetail="true" globalOnly="true"
                                showSummary="true"
                                closable="true"/>
                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['common.search.header']}"/>
                    <div id="f" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">
                            <!-- ma nhom chuc nang-->
                            <div class="Container50 Responsive" id="permissionGroupCode">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.functionGroup.permissionGroupCode']}"/>
                                </div>
                                <div class="Container50 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="code"
                                                     value="#{functionGroupController.inputLazyFunctionGroupSearch.permissionGroupCode}"
                                                     filter="true"
                                                     style="min-width: 75%; margin-left: 0px"
                                                     filterMatchMode="contains">
                                        <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                      itemValue=""
                                                      escape="true"/>
                                        <f:selectItems
                                                value="#{functionGroupController.listPermissionCode}"
                                                var="dto"
                                                itemLabel="#{dto.permissionGroupCode}"
                                                itemValue="#{dto.permissionGroupCode}"/>

                                        />
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <!--Trạng thái-->
                            <div class="Container50 Responsive" id="statuss">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.functionGroup.status']}"/>
                                </div>
                                <div class="Container50 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="status"
                                                     value="#{functionGroupController.inputLazyFunctionGroupSearch.status}" >
                                        <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                      itemValue=""
                                                      escape="true"/>
                                        <f:selectItems
                                                value="#{functionGroupController.listStatus}"
                                                var="status"
                                                itemLabel="#{status.name}" itemValue="#{status.value}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <p:outputPanel styleClass="Container100 TexAlCenter"
                                       style="background-color: white; margin-top: 0px; padding: 1% 0%">
                            <div class="ContainerIndent">
                                <!--Tìm kiếm-->
                                <p:commandButton process="@this,@([id$=pnlReportLabel])"
                                                 id="searchId"
                                                 update="@([id$=tblListFunctionGroup])"
                                                 action="#{functionGroupController.doSearch}"
                                                 onclick="PF('tblListFunctionGroup').getPaginator().setPage(0);"
                                                 value="#{lang['common.button.search']}" style="margin-right: 5px"/>
                                <!--Them moi-->
                                <p:commandButton widgetVar="AddBtn" id="AddBtn"
                                                 value="#{lang['common.button.addnew']}"
                                                 process="@this,@form"
                                                 style="margin-right:5px;"
                                                 update="@([id$=dlgFunctionGroup])"
                                                 actionListener="#{functionGroupController.prepareToShowAdd}"
                                                 oncomplete="PF('dlgFunctionGroup').show();"

                                />
                                <!--Import-->
                                <p:commandButton process="@this"
                                                 oncomplete="if(!args.validationFailed){PF('dlgImport').show();}"
                                                 update="@([id$=dlgImport]), @([id$=msgSearch])"
                                                 action="#{functionGroupController.preImport}"
                                                 id="importId"
                                                 style="margin-right: 5px"
                                                 value="#{lang['common.choose.import']}"
                                />
                                <!--Xuat Excel-->
                                <p:commandButton
                                        id="exportExcel"
                                        immediate="true"
                                        update="@([id$=messages])"
                                        widgetVar="exportExcel"
                                        ajax="false"
                                        style="margin-right: 5px"
                                        actionListener="#{functionGroupController.prepareDownloadFileExport}"
                                        value="#{lang['common.button.export.excel']}">
                                    <p:fileDownload value="#{functionGroupController.downloadFile()}"/>
                                </p:commandButton>
                            </div>
                        </p:outputPanel>
                    </div>
                </p:outputPanel>

                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultAction" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlDebitRequestList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>

                        <div class="pnlDebitRequestList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:messages for="msgtable" showDetail="true" autoUpdate="true" showSummary="false"
                                            closable="true"/>
                                <p:dataTable id="tblListFunctionGroup"
                                             widgetVar="tblListFunctionGroup"
                                             styleClass="tblListFunctionGroup"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['webchain.catalog.paginator']}"
                                             var="functionGroup"
                                             rowIndexVar="rowIndex"
                                             value="#{functionGroupController.permissionGroupDTOS}"
                                             rowKey="#{functionGroup.permissionGroupId}"
                                             lazy="true"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['webchain.catalog.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['webchain.catalog.paginatorPosition']}"
                                             paginatorTemplate="#{lang['webchain.catalog.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['webchain.catalog.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['webchain.catalog.search.not.record.found']}"
                                             scrollable="true" scrollWidth="110%"
                                >

                                    <!--Số thứ tự-->
                                    <p:column styleClass="TexAlCenter" style="width: 3%;">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.catalog.stt']}"
                                                          title="#{lang['webchain.catalog.stt']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <!--Thao tác-->
                                    <p:column styleClass="TexAlCenter" style="width: 5%">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <!--sửa-->
                                        <p:commandLink title="#{lang['common.icon.update']}"
                                                       style="margin-right: 1%;"
                                                       process="@this,@([id$=pnlReportLabel])"
                                                       resetValues="true"
                                                       styleClass="fa icon-edit Fs16 blue"
                                                       update="@([id$=dlgFunctionGroup])"
                                                       actionListener="#{functionGroupController.prepareToShowEdit(functionGroup)}"
                                                       oncomplete="if(!args.validationFailed){PF('dlgFunctionGroup').show()}"
                                        >
                                        </p:commandLink>
                                        <!--chi tiết-->
                                        <p:commandLink title="#{lang['webchain.functionGroup.permissionDetail']}"
                                                       style="margin-right: 1%;"
                                                       process="@this,@([id$=pnlReportLabel])"
                                                       resetValues="true"
                                                       styleClass="fa icon-table Fs16 blue"
                                                       update="@([id$=tblListApdomain])"
                                                       actionListener="#{functionGroupController.doViewDetail(functionGroup)}"
                                                       oncomplete="if(!args.validationFailed){PF('dlgFunctionGroupDetail').show()}"
                                        >
                                        </p:commandLink>
                                        <!--Xóa yêu cầu-->
                                        <p:commandLink title="#{lang['common.button.lock']}"
                                                       style="margin-left: 1%;"
                                                       process="@this,@([id$=tblListFunctionGroup])"
                                                       resetValues="true"
                                                       disabled="#{functionGroup.status == 0 ? true : false}"
                                                       styleClass="fa icon-trash-1 Fs16 blue"
                                                       update="@([id$=tblListFunctionGroup])"
                                                       actionListener="#{functionGroupController.doDelete(functionGroup)}">
                                            <p:confirm header="#{lang['common.confirm']}"
                                                       message="#{lang['webchain.catalog.comfirm.delete']}"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>


                                    <!--Mã nhóm chức năng-->
                                    <p:column style="width: 10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.permissionGroupCode']}"
                                                    title="#{lang['webchain.functionGroup.permissionGroupCode']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_code"
                                                       title="#{functionGroup.permissionGroupCode}"
                                                       value="#{functionGroup.permissionGroupCode}"/>
                                    </p:column>

                                    <!--Tên nhóm chức năng-->
                                    <p:column style="width: 10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.functionGroup.permissionGroupName']}"
                                                          title="#{lang['webchain.functionGroup.permissionGroupName']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left; text-align: left" id="output_name"
                                                       title="#{functionGroup.permissionGroupName}"
                                                       value="#{functionGroup.permissionGroupName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Đối tượng sử dụng-->
                                    <p:column style="width:9%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.permissionGroupType']}"
                                                    title="#{lang['webchain.functionGroup.permissionGroupType']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left"
                                                       rendered="#{functionGroup.userObjectType == 1}"
                                                       value="#{lang['webchain.functionGroup.detail_wc_chain_user']}"
                                                       title="#{functionGroup.userObjectType}"/>

                                        <p:outputLabel style="float: left"
                                                       rendered="#{functionGroup.userObjectType == 2}"
                                                       value="#{lang['webchain.functionGroup.detail_wc_chain_user2']}"
                                                       title="#{functionGroup.userObjectType}"/>
                                        <p:outputLabel/>
                                        <p:outputLabel style="float: left"
                                                       rendered="#{functionGroup.userObjectType == 3}"
                                                       value="#{lang['webchain.functionGroup.detail_wc_chain_user1']}"
                                                       title="#{functionGroup.userObjectType}"/>
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--descrip-->
                                    <p:column style="width:9%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.permissionGroupDescription']}"
                                                    title="#{lang['webchain.functionGroup.permissionGroupDescription']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_descrip"
                                                       title="#{functionGroup.description}"
                                                       value="#{functionGroup.description}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--Trạng thái-->
                                    <p:column style="width: 7%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.status']}"
                                                          title="#{lang['common.status']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_status"
                                                       rendered="#{functionGroup.status == 0}"
                                                       value="#{lang['webchain.catalog.status0']}"
                                                       title="#{lang['webchain.catalog.status1']}"/>

                                        <p:outputLabel style="float: left"
                                                       rendered="#{functionGroup.status == 1}"
                                                       value="#{lang['webchain.catalog.status1']}"
                                                       title="#{lang['webchain.catalog.status1']}"/>
                                    </p:column>
                                    <!--ngày tạo-->
                                    <p:column style="width:10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.createDate']}"
                                                    title="#{lang['webchain.functionGroup.createDate']}"/>
                                        </f:facet>
                                        <p:outputLabel id="output_createDate"
                                                       title="#{functionGroup.createDate}"
                                                       value="#{functionGroup.createDate}"
                                        >
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                        </p:outputLabel>
                                    </p:column>
                                    <!--Người tạo-->
                                    <p:column style="width:8%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.createUser']}"
                                                    title="#{lang['webchain.functionGroup.createUser']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_createUser"
                                                       title="#{functionGroup.createUser}"
                                                       value="#{functionGroup.createUser}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                </p:dataTable>

                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>

        <p:dialog id="dlgFunctionGroup"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgFunctionGroup"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  header="#{functionGroupController.permissionGroupDTO.permissionGroupId ==null ? lang['webchain.functionGroup.addnew'] : lang['webchain.functionGroup.update']}"
                  width="89%">
            <ui:include src="dlgFunctionGroup.xhtml"/>
        </p:dialog>
        <p:dialog id="dlgFunctionGroupDetail"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgFunctionGroupDetail"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  header="#{lang['webchain.functionGroup.header']}"
                  width="89%">
            <ui:include src="dlgFunctionGroupDetail.xhtml"/>
        </p:dialog>
        <p:dialog id="dlgImport"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgImport"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="fasle"
                  header="#{lang['webchain.functionGroup.import.dlg.header']}"
                  width="89%">
            <ui:include src="dlgImportFile.xhtml"/>
        </p:dialog>
<script>
    $(document).ready(function(){
        $('#f').focus();
    });
    $('#f').keypress(function (e) {
        if (e.which == 13|| e.keyCode === 13) {
            if($('[id$=importId]').is( ":focus" )
                || $('[id$=AddBtn]').is( ":focus" )
                || $('[id$=exportExcel]').is( ":focus" )){
                return;
            }
            $('[id$=searchId]').click();
        }
    });
    function completeSelect() {
        $('#f').focus();
    }
</script>
    </ui:define>

</ui:composition>