<!DOCTYPE html>
<html style="height: 100%"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
<script type="text/javascript">
    document.addEventListener('keydown', function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        if (e.ctrlKey &amp;&amp; e.keyCode == 80) {
            alert("dfadsf")
        }
    });

</script>
<h:body style="height: 100%;overflow: hidden">
    <f:view locale="#{locateBean.selectedLocale}" contentType="text/html" id="viewLocale">

        <h:form style="height: 100%">
            <p:commandButton rendered="#{invoiceExcelController.file!=null}"
                             style="width: 100%;padding: 5px; height:5%; text-align:center; background: none; color: blue;font-size: medium"
                             process="@this" ajax="false"
                             value="#{lang['sale.invoice.download.table']}">
                <p:fileDownload value="#{invoiceExcelController.file}"/>
            </p:commandButton>
            <p:media value="/viewFile" player="pdf" width="100%" height="100%"/>
        </h:form>
    </f:view>

</h:body>

</html>