<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags">
    <ui:define name="title"> #{lang['webchain.transaction.cancel.header']}</ui:define>
    <ui:define name="content">
        <h:form id="form" styleClass="Container100">
            <p:outputPanel id="transferCash" styleClass="Container100">
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">
                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['webchain.transaction.cancel.header']}"
                               styleHeader="margin: 10px;"/>
                    <p:messages id="msg" showDetail="true" autoUpdate="true" globalOnly="true" showSummary="false"
                                closable="true" style="margin-top: 50px;"/>
                    <div class="Container50 Responsive50" style="margin: 20px auto !important; float: none !important;">
                        <div class="Container100 Responsive100" style="width:100% !important; margin: 8px 10px;">
                            <div class="Container100 Responsive100" id="pnlDocCode">
                                <div class="Container40 Responsive40 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.transaction.cancel.transfer.msisdn']}"/>
                                    <p:outputLabel style="color: red !important;" value="*"/>
                                </div>
                                <div class="Container60 Responsive60 ui-fluid ui-relative">
                                    <p:inputText id="phone" maxlength="13"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{cancelViettelCTVTransactionController.msisdn}"
                                                 title="#{cancelViettelCTVTransactionController.msisdn}">
                                        <!--<p:keyFilter regEx="/[\d]/"/>-->
                                    </p:inputText>
                                </div>
                            </div>
                        </div>

                        <div class="Container100 Responsive100" style="width:100% !important; margin: 8px 10px;">
                            <div class="Container100 Responsive100" id="pnlDocCode">
                                <div class="Container40 Responsive40 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.transaction.cancel.transfer.amount']}"/>
                                    <p:outputLabel style="color: red !important;" value="*"/>
                                </div>
                                <div class="Container60 Responsive60">
                                    <div class="Container85 Responsive85 ui-fluid ui-relative">
                                        <p:inputNumber id="amountE"
                                                       maxlength="8"
                                                       minValue="0"
                                                       maxValue="99999999"
                                                       onchange="this.value=this.value.trim()"
                                                       value="#{cancelViettelCTVTransactionController.amount}"
                                                       title="#{cancelViettelCTVTransactionController.amount}">
                                        </p:inputNumber>
                                    </div>
                                    <div class="Container15 Responsive15 ui-fluid ui-relative TexAlRight pd-top-3">
                                        <p:outputLabel styleClass="lb-sentinel" style="padding-top: 5px;"
                                                       value="#{lang['webchain.transaction.cancel.transfer.amount.VND']}"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Container100 Responsive100" style="width:100% !important; margin: 8px 10px;">
                            <div class="Container100 Responsive100" id="pnlDocCode" style="margin: 0px auto;">
                                <div class="Container40 Responsive40 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.transaction.cancel.transfer.receptCode']}"/>
                                    <p:outputLabel style="color: red !important;" value="*"/>
                                </div>
                                <div class="Container60 Responsive60 ui-fluid ui-relative">
                                    <p:inputText id="idCard" maxlength="10"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{cancelViettelCTVTransactionController.receiptCode}"
                                                 title="#{cancelViettelCTVTransactionController.receiptCode}">
                                        <!--<p:keyFilter regEx="/[\d]/"/>-->
                                    </p:inputText>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Container100 Responsive100 TexAlCenter">
                        <p:focus context="dlgSubmit"/>
                        <h:panelGroup id="dlgSubmit">
                            <div class="Container100 " style="padding-bottom: 20px">
                                <!--Thuc hien-->
                                <p:commandButton process="@this,@form"
                                                 global="true"
                                                 id="submitForm"
                                                 update="@form,@([id$=msg])"
                                                 onclick="this.disabled=true; "
                                                 oncomplete="this.disabled=false; window.onAjax = false"
                                                 updateArea="@form" value="#{lang['webchain.transaction.management.cancel.transaction']}"
                                                 action="#{cancelViettelCTVTransactionController.preCancelTrans()}">
                                </p:commandButton>

                                <p:confirmDialog id="dlgConfirm" widgetVar="dlgConfirm"
                                                 header="#{lang['webchain.transaction.management.cancel.dlh.header']}">
                                    <f:facet name="message">
                                        <p:outputLabel style="padding-left:0px !important; color: red !important;" value="#{cancelViettelCTVTransactionController.giveMoney}"/>
                                        <br/>
                                        #{lang['webchain.transaction.management.cancel.other.msg']}
                                    </f:facet>
                                    <div class="ContainerIndent TexAlRight">
                                        <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                                         id="yesId"
                                                         action= "#{cancelViettelCTVTransactionController.onCancelTrans()}"
                                                         process="@this, @form"
                                                         onclick="this.disabled=true; PF('dlgConfirm').hide()"
                                                         oncomplete="this.disabled=false; window.onAjax = false"
                                                         update="@form,@([id$=msg])"/>
                                        <p:commandButton id="noIdDlg" value="#{lang['common.button.NO']}" onclick="PF('dlgConfirm').hide()"
                                                         styleClass="ui-confirmdialog-no" style="margin-left: 5px !important;"/>
                                    </div>
                                </p:confirmDialog>
                                <p:focus context="dlg"/>
                                <p:outputLabel id="dlg">
                                    <p:confirmDialog id="dlgValidate" widgetVar="dlgValidate"
                                                     closable="false"
                                                     header="#{lang['common.validate.dialog.header']}"
                                                     message="#{lang['common.validate.dialog.msg']}">
                                        <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                                         id="OK"
                                                         global="true"
                                                         onclick="PF('dlgValidate').hide();"
                                                         action="#{cancelViettelCTVTransactionController.redirectLogout(request)}"
                                                         process="@this"/>
                                    </p:confirmDialog>
                                </p:outputLabel>
                            </div>
                        </h:panelGroup>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <script>
            $(document).ready(function () {
                window.onAjax = false;
            });
            $(document).keypress(function (e) {
                if ((e.which == 13 || e.keyCode === 13) &amp;&amp; window.onAjax == false) {
                    e.preventDefault();
                    if ($("div[id$='dlgConfirm']").css('display') == 'block' &amp;&amp; $("div[id$='dlgValidate']").css('display') == 'none') {
                        if (document.getElementsByClassName('ui-state-focus').length == 0) {
                            window.onAjax = true;
                            $("button[id$='yesId']").click()
                        } else {
                            window.onAjax = true;
                            $('.ui-state-focus').click();
                        }
                    } else if ($("div[id$='dlgConfirm']").css('display') == 'none' &amp;&amp; $("div[id$='dlgValidate']").css('display') == 'block') {
                        window.onAjax = true;
                        $("button[id$='OK']").click()
                    } else if ($("div[id$='dlgConfirm']").css('display') == 'none' &amp;&amp; $("div[id$='dlgValidate']").css('display') == 'none') {
                        window.onAjax = true;
                        $("button[id$='submitForm']").click()
                    }
                }
            });
        </script>
    </ui:define>
</ui:composition>