<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <h:form id="dlgChainUser" styleClass="Container100">
        <p:outputPanel id="pnlFunctionDlg" styleClass="Container100">
            <p:defaultCommand target="saveButton"/>
            <p:outputPanel id="pnlCategory" styleClass="ContainerIndent mg-top-3">
                <div class="Container100 Responsive100">
                    <p:messages id="msgFormDlg" showSummary="false" showDetail="true" globalOnly="true" closable="true"/>
                    <div class="ContainerIndent Responsive100">
                        <!--ma cua hang chuoi -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="chainShopListDlg"
                                               value="#{lang['webchain.user.shop.name']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="chainShopListDlg" widgetVar="chainShopListDlg" disabled="#{not empty employeeController.chainUserDTO.chainUserId}"
                                                 value="#{employeeController.chainUserDTO.chainShopId}"
                                                 converterMessage="#{lang['message.function.status.error.invalid']}"
                                                 filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems value="#{employeeController.chainShopDTOList}"
                                                   var="chainShop"
                                                   itemLabel="#{chainShop.chainShopName}"
                                                   itemValue="#{chainShop.chainShopId}"
                                    />
                                    <p:ajax event="change" process="@this" update="@([id$=txtChainPrefixUsername])" listener="#{employeeController.genUserNameByChainShopCode()}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <!--Ten dang nhap -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtChainUsername"
                                               value="#{lang['webchain.user.user.name']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container20 Responsive50 ui-fluid ui-relative">
                                <p:outputLabel id="txtChainPrefixUsername" style="text-align: right!important;" rendered="#{ empty employeeController.chainUserDTO.chainUserId}"
                                               value="#{employeeController.chainUserDTO.prefixUsername}"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputText disabled="#{not empty employeeController.chainUserDTO.chainUserId}"
                                             id="txtChainUsername" widgetVar="txtChainUsername"
                                             style="float: right"
                                             value="#{employeeController.chainUserDTO.userName}"
                                             label="#{employeeController.chainUserDTO.userName}"
                                             onchange="this.value = this.value.trim()"
                                             maxlength="100">
                                    <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                </p:inputText>
                            </div>
                        </div>
                    </div>
                    <div class="ContainerIndent Responsive100">

                        <!--Ho va ten -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtChainUserFullName"
                                               value="#{lang['webchain.user.full.name']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        style="float: left"
                                        id="txtChainUserFullName" widgetVar="txtChainUserFullName"
                                        value="#{employeeController.chainUserDTO.fullName}"
                                        label="#{employeeController.chainUserDTO.fullName}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="100"
                                />
                            </div>
                        </div>
                        <!--So dien thoai-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtPhoneNumber"
                                               value="#{lang['webchain.user.phone.number']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        style="float: left"
                                        id="txtPhoneNumber" widgetVar="txtPhoneNumber"
                                        value="#{employeeController.chainUserDTO.phoneNumber}"
                                        label="#{employeeController.chainUserDTO.phoneNumber}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="12"
                                >
                                    <p:keyFilter regEx="/[\d]/"/>
                                </p:inputText>
                            </div>
                        </div>
                    </div>

                    <div class="ContainerIndent Responsive100">
                        <!--Mat khau-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtPassword" rendered="#{ empty employeeController.chainUserDTO.chainUserId}"
                                               value="#{lang['webchain.user.password']}"/>
                                <p:outputLabel value="*" style="color: red" rendered="#{ empty employeeController.chainUserDTO.chainUserId}"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:password rendered="#{ empty employeeController.chainUserDTO.chainUserId}"
                                            style="float: left"
                                            id="txtPassword" widgetVar="txtPassword"
                                            value="#{employeeController.chainUserDTO.password}"
                                            label="#{employeeController.chainUserDTO.password}"
                                            onchange="this.value = this.value.trim()"
                                            maxlength="50"
                                >
                                    <p:keyFilter regEx="/[a-z0-9_\@\#\$\%]/i"/>
                                </p:password>
                            </div>
                        </div>
                        <!--nhap lai Mat khau-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtRepeatPassword" rendered="#{ empty employeeController.chainUserDTO.chainUserId}"
                                               value="#{lang['webchain.user.repeat.password']}"/>
                                <p:outputLabel value="*" style="color: red" rendered="#{ empty employeeController.chainUserDTO.chainUserId}"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:password rendered="#{ empty employeeController.chainUserDTO.chainUserId}"
                                            style="float: left"
                                            id="txtRepeatPassword" widgetVar="txtRepeatPassword"
                                            value="#{employeeController.chainUserDTO.repeatPassword}"
                                            label="#{employeeController.chainUserDTO.repeatPassword}"
                                            onchange="this.value = this.value.trim()"
                                            maxlength="50"
                                >
                                    <p:keyFilter regEx="/[a-z0-9_\@\#\$\%]/i"/>
                                </p:password>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Container100 TexAlCenter"
                     style="background-color: white; margin-top: 0px; padding: 1% 0%">
                    <p:commandButton id="cancelBtn"
                                     value="#{lang['common.button.NO']}"
                                     style="margin-right:5px"
                                     onclick="PF('dlgChainUserForm').hide()"
                                     immediate="true"
                                     process="@none"
                                     icon="ui-icon-search"
                    />
                    <p:commandButton
                            id="saveButton"
                            update="@([id$=tblListFunction]),@([id$=msgFormDlg])"
                            process="@this,@([id$=dlgChainUser])"
                            global="true"
                            actionListener="#{employeeController.doCreateOrUpdate}"
                            styleClass="waves-effect waves-light btn"
                            style="margin-right:5px"
                            value="#{lang['common.save']}">
                        <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                   message="#{lang['webchain.catalog.comfirm.addForm']}"
                                   icon="ui-icon-alert"/>

                    </p:commandButton>


                </div>
            </p:outputPanel>
        </p:outputPanel>
    </h:form>
</ui:composition>