<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form id="topBarForm" prependId="false">
        <style>
            .iconPadTop10 {
                padding-top: 10px;
            }

            .nounderlink {
                text-decoration: none;
            }

            #divLogo:hover {
                cursor: pointer;
            }

            .link-logo-poiter {

                font-weight: 400 !important;
                color: white;
            }

            .link-logo-poiter:hover {
                cursor: pointer;
                text-decoration: underline !important;
            }
        </style>

        <h:outputScript>
            function onClickEmail() {
            window.open("mailto:#{lang['dashboard.support.email']}")
            }

            function backHome() {
            window.location.replace("#{request.contextPath}/home")
            }
        </h:outputScript>
        <div id="layout-header" class="Unselectable favoriteDropPoint">
            <div  class="divLogo" id="divLogo" onclick="backHome()" style="float: left">
                <p:outputLabel value="#{lang['dashboard.bar.home']}"
                               style="font-size: 25px; margin-left : 5%; color: white;"/>
            </div>
            <div>
                <img src="#{resource['images/support.png']}" style="height: 1%;width: 1%; margin-right: 0.5%"/>
                <p:outputLabel value="#{lang['dashboard.support']}" style="font-weight: 500!important;color: white;"/>
                <div style="display: block">
                    <img src="#{resource['images/support_tel.png']}"
                         style="height: 1%;width: 1%; margin-right: 0.5%"/>
                    <p:outputLabel value="#{lang['dashboard.support.phone']}"
                                   style="font-weight: 400!important;color: white;"/>
                    <img src="#{resource['images/support_email.png']}"
                         style="height: 1%;width: 1%; margin-right: 0.5%;margin-left: 0.5%"/>
                    <p:outputLabel title="#{lang['dashboard.support.email.title']}" onclick="onClickEmail()"
                                   value="#{lang['dashboard.support.email']}" styleClass="link-logo-poiter"
                    />
                    <p:outputLabel rendered="#{not empty loginBean.userToken}">
                        <img src="#{resource['images/menu1992.png']}"
                             style="height: 1%;width: 1%; margin-right: 0.5%;margin-left: 0.5%"/>
                        <!--<p:outputLabel-->
                        <!--value="#{lang['dashboard.chain']}" style="font-weight: 500!important;color: white;margin-right: 0.5%;margin-left: 0.5%"-->
                        <!--/>-->
                        <p:outputLabel
                                value="  #{loginBean.userToken.description}" style="font-weight: 500!important;color: white;"
                        />
                    </p:outputLabel>
                    <p:outputLabel rendered="#{loginBean.userToken.gender ==3}">
                        <img src="#{resource['images/shop.png']}"
                             style="height: 1%;width: 1%; margin-right: 0.5%;margin-left: 0.5%"/>
                        <!--<p:outputLabel-->
                        <!--value="#{lang['dashboard.chain.store']}" style="font-weight: 500!important;color: white;margin-right: 0.5%;margin-left: 0.5%"-->
                        <!--/>-->
                        <p:outputLabel
                                value="  #{loginBean.userToken.deptName}" style="font-weight: 500!important;color: white;"
                        />
                    </p:outputLabel>
                </div>

            </div>

            <p:outputPanel rendered="#{not empty loginBean.userToken}">
                <ul id="sm-topmenu" class="layout-header-widgets white Fs14" style="padding-right: 30px">
                    <li class="Fleft"
                        style="background: none; width: auto;"
                        title="#{loginBean.userToken.userName}">
                        <h:outputText style="margin-top:8px;display:block;" value="#{loginBean.userToken.userName} - #{loginBean.userToken.fullName}"/>
                    </li>
                    <li class="Fleft BordRadHalf TexAlCenter "> <!-- iconProfile -->
                        <i class="icon-user-male"/>
                        <ul class="layout-header-widgets-submenu BordRad5 shadows white Animated05">
                            <li class="Animated05" style="width: 250px">
                                <a class="white Unselectable"><i
                                        class="icon-user-male blue Fs26 OvHidden"></i>
                                    <span class="Fs14">#{loginBean.userToken.userName}<br/>
                                        <span class="Fs10">
                                            <h:outputText value="#{lang['dashboard.user.login']}" style="float: left !important;"/>
                                            <h:outputText value="#{loginBean.loginDate}" style="float: right !important;">
                                                <f:convertDateTime timeStyle="medium" type="date" pattern="dd/MM/yyyy HH:mm:ss"/>
                                        </h:outputText>
                                    </span>
                                </span>
                                </a>
                            </li>
                            <li class="Animated05"><i class=" icon-th-1 iconPadTop10"/> <a
                                    href="#{request.contextPath}/changePassword.jsf" class="white Unselectable">
                                #{lang['changePassword']}</a></li>

                            <li class="Animated05"><i class="icon-logout iconPadTop10"/> <a
                                    href="#{request.contextPath}/logout" class="white Unselectable">
                                #{lang['logout']}</a></li>
                        </ul>
                    </li>
                </ul>
            </p:outputPanel>
            <!-- NEVER REMOVE FOLLOWING 'UL' TAG ! BECAUSE THIS CONTAINS RESPONSIVE MODE HEADER MENU OPEN-CLOSE BUTTON -->
            <ul id="sm-mobiletopmenu" class="layout-header-widgets white Fs14">
                <li class="Fleft BordRadHalf TexAlCenter Animated05 DisplayOnResponsive"><i class="icon-th-1"></i></li>
            </ul>
            <!-- ****** -->
        </div>

    </h:form>


</ui:composition>
