<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
    </style>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <ui:define name="title"> #{lang['changePassword']}</ui:define>
    <ui:define name="content">
        <h:form id="frmChangePw" styleClass="Container30" style="margin-left: 30%;margin-top: 5%">
            <p:outputPanel id="changePassword" styleClass="Container100">
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">

                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['dlg.pw.alterPassword']}"/>
                    <div class="Container100 Responsive100">
                        <hr></hr>
                        <p:messages id="msgForm" showDetail="true" globalOnly="true" showSummary="true"
                                    closable="true"/>

                        <!--Ten dang nhap -->
                        <p:outputPanel class="ContainerIndent" style="text-align: justify">
                            <!-- rendered="#{chainUserControler.checkUser()}">-->
                            <div class="Container90 Responsive" id="pnlDocCode">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['dlg.pw.nameLogin']}"/>
                                    <p:outputLabel value="*" style="color: red"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="nameLogin" maxlength="150" required="true" disabled="true"
                                                 onchange="this.value=this.value.trim()"
                                                 value=" "
                                                 title=" ">
                                    </p:inputText>
                                </div>
                            </div>
                        </p:outputPanel>

                        <!-- Mat khau cu -->
                        <div class="ContainerIndent" style="text-align: justify">
                            <div class="Container90 Responsive">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['dlg.pw.oldPassword']}"/>
                                    <p:outputLabel value="*" style="color: red"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:password id="pwOld"
                                                onchange="this.value=this.value.trim()"
                                                value=" "
                                                title=" "
                                    >
                                    </p:password>
                                    <p:message for="pwOld" id="messPwOld"/>
                                </div>
                            </div>
                        </div>
                        <!-- Mat khau moi -->

                        <div class="ContainerIndent" style="text-align: justify">
                            <div class="Container90 Responsive" id="pnlDocCode">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['dlg.pw.newPassword']}"/>
                                    <p:outputLabel value="*" style="color: red"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:password id="pwNew"
                                                onchange="this.value=this.value.trim()"
                                                value=" "
                                                title=" "
                                                feedback="true"
                                                requiredMessage=""
                                                validatorMessage="Mật khẩu phải chứa 8 đến 20 kí tự với ít nhất 1 kí tự in hoa, 1 kí tự số, 1 kí tự đặc biệt."
                                    />
                                    <p:message for="pwNew" id="messPwNew"/>
                                </div>
                            </div>
                        </div>

                        <!-- Go lai mat khau -->
                        <div class="ContainerIndent" style="text-align: justify">
                            <div class="Container90 Responsive" id="pnlDocCode">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['dlg.pw.againPassWord']}"/>
                                    <p:outputLabel value="*" style="color: red"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:password id="pwRepeat"
                                                onchange="this.value=this.value.trim()"
                                                value=" "
                                                title=" "
                                                feedback="true"
                                    >
                                    </p:password>
                                    <p:message for="pwRepeat" id="messPwRepeat"/>
                                </div>
                            </div>
                        </div>
                        <div class="Container100 ">
                            <!-- Đổi mật khẩu -->
                            <p:commandButton id="btnChangePassword"
                                             value="#{lang['dlg.pw.changePassword']}"
                                             style="margin-left:80px;margin-top: 20px;margin-bottom: 15px"
                                             actionListener=" "
                                             update="@this,@([id$=frmChangePw])"
                            />

                            <!--Đóng-->
                            <p:commandButton
                                    style="margin-left:20px;margin-top: 20px;margin-bottom: 15px"
                                    id="btnClose"
                                    onclick="PF('frmChangePw').hide();"
                                    value="#{lang['dlg.pw.close']}">
                            </p:commandButton>
                        </div>
                        <!--End button-->
                    </div>

                </p:outputPanel>

            </p:outputPanel>
        </h:form>
    </ui:define>
</ui:composition>
