<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:fw="http://viettel.cbs.com/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Hệ thống chuỗi</title>
</h:head>
<h:body style="background-image: url('#{resource['images/bg-login.png']}');rgba(0, 0, 0, 0); repeat-x scroll 100% transparent;">
    <h:form id="loginForm">

        <div class="ui-g" style="text-align: center; background-color: white; margin-bottom: 2%;">
            <div class="ui-g-12">
                <div>
                    <img src="#{resource['images/logohachinet.png']}"
                         style="height: 10%;width: 10%;" alt=""/>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-3 ui-lg-4"></div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g-1"></div>
                <div class="ui-g-10" style="background-color: white;">
                    <div class="ui-g" style="padding:2% 0 5% 0%; text-align: center;">
                        <div id="darkbanner" class="ui-g-12"
                             style="background: #424242; width: 98%;margin: 10px 0 0 -22px;height: 45px;">
                            <h2 style="color: white; margin: 0% 45% 0% 0%;">Login</h2>
                            <div style="width:0px;height:0px;
                                  margin: 4px 0 0 -2px;
                                  border-bottom:9px solid transparent;
                                  border-top:9px solid transparent;
                                  border-left:9px solid #2f2f2f;
                                  transform: rotate(-45deg); ">
                            </div>
                        </div>
                        <h:outputText style="color: red; margin: 5% 0% 0% 5%;font-weight: 700;" styleClass="ui-g-12"
                                      rendered="#{not empty authenticationController.msgError}"
                                      value="#{authenticationController.msgError}"/>
                    </div>

                    <!--ten dang nhap-->
                    <div class="ui-g" style="padding: 1% 0; text-align: left;">
                        <h:outputLabel for="username"
                                       styleClass="ui-g-12 ui-md-12 ui-lg-5"
                                       value="Tên đăng nhập "/>
                        <p:inputText id="username"
                                     styleClass="ui-g-12 ui-md-12 ui-lg-6 ui-input-text"
                                     value="#{authenticationController.username}" label="username"/>
                    </div>

                    <!--mat khau-->
                    <div class="ui-g" style="padding: 1% 0; text-align: left;">
                        <h:outputLabel styleClass="ui-g-12 ui-md-12 ui-lg-5" for="password" value="Mật khẩu" style="float:right;"/>
                        <p:password styleClass="ui-g-12 ui-md-12 ui-lg-6" id="password" value="#{authenticationController.password}" label="password"/>
                    </div>

                    <!--capcha-->
                    <div class="ui-g" style="padding: 1% 0; text-align: left;">
                        <p:outputLabel styleClass="ui-g-12 ui-md-12 ui-lg-5"
                                       value="Mã xác nhận"/>
                        <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: center">
                            <p:graphicImage id="imgCaptcha" height="40px" width="100px"
                                            style="margin-bottom: 1%"
                                            value="#{authenticationController.imageUrl}"
                            />
                            <p:commandLink process="@this" update="@([id$=imgCaptcha])">
                                <p:graphicImage library="images" height="25px"
                                                value="#{resource['images:/reload.png']}"
                                                style="margin-bottom: 10px;"
                                />
                            </p:commandLink>
                        </div>
                    </div>

                    <!--ma xac nhan reset.pass.code.confirm-->
                    <div class="ui-g" style="padding: 1% 0; text-align: left;">
                        <p:outputLabel styleClass="ui-g-12 ui-md-12 ui-lg-5"
                                       value="Gõ lại mã xác nhận"/>
                        <p:inputText styleClass="ui-g-12 ui-md-12 ui-lg-6"
                                     id="confirmCodeReset"
                                     style="height: 37px; margin-top: 3px" maxlength="150"
                                     onchange="this.value=this.value.trim()"
                                     value="#{authenticationController.captcha}">
                        </p:inputText>
                    </div>

                    <!--dang nhap, quen mat khau-->
                    <div class="ui-g-12 ui-g-nopad">
                        <p:commandButton widgetVar="loginButton" id="loginButton"
                                         value="Đăng nhập"
                                         process="@this,@form"
                                         onstart="PF('statusDialog').show();"
                                         onsuccess="PF('statusDialog').hide();stopTimer();bindEventForButton();"
                                         onerror="PF('errorDialog').show();stopTimer();PF('statusDialog').hide()"
                                         update="@form"
                                         actionListener="#{authenticationController.login}"
                                         style="margin: 4% 0 8% 20%;"/>
                        <p:link outcome="forgetPassword" value="Quên mật khẩu" style="margin: 0 0 1% 2%"/>
                    </div>

                    <div class="ui-g-12 ui-g-nopad" style="text-align: center">
                        <a href="#" style="text-decoration:none;color:#a9a9a9;font-size: 10px;">Powered By Fintech Department, Viettel Telecom Software.</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="layout-portlets-cover" class="fontRegular">

            <p:dialog modal="true" widgetVar="statusDialog" header="Đang đăng nhập"
                      draggable="false" closable="false" resizable="false">
                <img alt="" src="#{request.contextPath}/resources/themes/logo/ajaxloadingbar.gif"/>
            </p:dialog>

        </div>

    </h:form>


</h:body>
<script type="text/javascript">
    var t;

    function startTimer() {
        t = setTimeout("PF('statusDialog').show()", 1000);
    };

    function stopTimer() {
        clearTimeout(t);

    };

    function bindEventForButton() {
        try {
            jQuery.each(jQuery(".ui-button"), function () {
                jQuery(this).click(function () {
                    setTimeout('resetAnyChange()', 50);
                });
            });
            jQuery.each(jQuery("html button"), function () {
                jQuery(this).click(function () {
                    setTimeout('resetAnyChange()', 50);
                });
            });
        } catch (e) {
            console.log("loi bind event")
        }
    };
</script>
</html>

