<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui" xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<style>
    .shadow-bottom {
        box-shadow: none;
    }
</style>
    <p:outputPanel id="pnlAdd">
        <cbs:panel classForToggle="pnlfunctionSearch"
                   titleHeader="#{groupPermissionFunctionController.header}"/>
        <h:form id="form" styleClass="Container100">
            <p:defaultCommand target="btnAdd"/>
            <p:outputPanel id="pnlfunctionSearch" styleClass="Container100">
                <div id="add" tabindex="1">
                <p:outputPanel id="pnlFunctionSearchLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="msgForm" for="msgForm" autoUpdate="true" showDetail="true" globalOnly="true"
                                showSummary="true"
                                closable="true"/>
                    <div class="Container100 Responsive100">
                        <!--nhom chuc nang-->
                        <div style="width: 46%; float: left; padding:20px 10px;">
                            <cbs:panel classForToggle="pnlfunctionSearch"
                                       titleHeader="#{lang['permission.function.group.group']}"/>
                            <div class="Container100 Responsive100">
                                <div class="Container30 Responsive50 pd-top-4">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['permission.function.action']}"/>
                                    <p:outputLabel value="*" style="color: red"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="action"
                                                     value="#{groupPermissionFunctionController.create}">
                                        <f:selectItem itemLabel="#{lang['permission.function.add']}"
                                                      itemValue="#{true}"/>
                                        <f:selectItem itemLabel="#{lang['permission.function.update']}"
                                                      itemValue="#{false}"/>
                                        <p:ajax event="change" onstart="disableSelect()" oncomplete="enableSelect();"
                                                listener="#{groupPermissionFunctionController.updateList}"
                                                update="@(.needUpdate), @([id$=pnlAdd])" process="@this"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>

                                <!--nhom chưc năng-->
                                <div class="Container100 Responsive100">
                                    <div class="Container30 Responsive50 pd-top-4">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['permission.function.group']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:selectCheckboxMenu id="group"
                                                              widgetVar="group"
                                                              styleClass="needUpdate"
                                                              rendered="#{groupPermissionFunctionController.create eq true}"
                                                              disabled=""
                                                              value="#{groupPermissionFunctionController.selectList}"
                                                              filter="true"
                                                              label="#{groupPermissionFunctionController.label}"
                                                              filterMatchMode="contains"
                                                              onHide="updateTable();"
                                                              style="border: solid 1px #C0C5C7 !important;border-left: none !important;border-top: none !important;border-right: none !important;">
                                            <f:selectItems
                                                    value="#{groupPermissionFunctionController.permissionGroupDTOList}"
                                                    var="permission"
                                                    itemLabel="#{permission.permissionGroupName}"
                                                    itemValue="#{permission.permissionGroupId}"/>
                                        </p:selectCheckboxMenu>
                                        <p:selectOneMenu id="groupSelect"
                                                         widgetVar="groupSelect"
                                                         styleClass="needUpdate"
                                                         rendered="#{groupPermissionFunctionController.create eq false}"
                                                         value="#{groupPermissionFunctionController.selectOne}"
                                                         filter="true"
                                                         filterMatchMode="contains">
                                            <p:ajax event="change"
                                                    listener="#{groupPermissionFunctionController.setList}"
                                                    process="@this"
                                                    update="@([id$=tblListGroup]), @([id$=treeMenu]), @([id$=tblListFunction]), "/>
                                            <f:selectItem itemLabel="#{lang['webchain.catalog.satus2']}" itemValue=""/>
                                            <f:selectItems
                                                    value="#{groupPermissionFunctionController.permissionGroupDTOList}"
                                                    var="permission"
                                                    itemLabel="#{permission.permissionGroupName}"
                                                    itemValue="#{permission.permissionGroupId}"/>
                                        </p:selectOneMenu>
                                        <p:remoteCommand name="updateTable"
                                                         actionListener="#{groupPermissionFunctionController.setList}"
                                                         update="@([id$=tblListGroup]), @([id$=group])"/>
                                    </div>
                                </div>
                                <!--table
                                <cbs:panel classForToggle="pnlfunctionSearch"
                                           titleHeader="#{lang['permission.function.group.select']}"/>
                                <div class="Container100 Responsive100 MarTop10" id="tableSelect">
                                    <p:dataTable id="tblListGroup"
                                                 widgetVar="tblListGroup"
                                                 styleClass="tableListCustomer"
                                                 rows="#{lang['common.paging.rows.default']}"
                                                 paginator="#{lang['common.paging.paginator']}"
                                                 var="groupDTO"
                                                 rowIndexVar="rowIndex"
                                                 value="#{groupPermissionFunctionController.selectPermissionGroupDTOList}"
                                                 rowKey="#{groupDTO.permissionGroupId}"
                                                 lazy="false"
                                                 scrollable="true" scrollWidth="100%"
                                                 paginatorAlwaysVisible="true"
                                                 pageLinks="#{lang['common.paging.pageLink']}"
                                                 rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                 paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                 paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                 currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                 emptyMessage="#{lang['common.search.not.record.found']}">
                                        <p:column style="width: 10%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['lb.STT']}"
                                                              title="#{lang['lb.STT']}"/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column style="width: 45%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.group.code']}"
                                                        title="#{lang['permission.function.group.code']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    title="#{groupDTO.permissionGroupCode}" style="float:left;"
                                                    value="#{groupDTO.permissionGroupCode}"/>
                                        </p:column>

                                        <p:column style="width: 45%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.group.name']}"
                                                        title="#{lang['permission.function.group.name']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{groupDTO.permissionGroupName}" style="float:left;"
                                                           value="#{groupDTO.permissionGroupName}"
                                            />

                                        </p:column>
                                    </p:dataTable>
                                </div>-->
                            </div>
                        <!--danh sach chuc nang-->
                        <div style="width: 50%; float: right; padding:20px 10px;">
                                <!--chuc nang-->
                                <p:outputPanel styleClass="content-tree">
                                    <cbs:panel classForToggle="pnlfunctionSearch"
                                               titleHeader="#{lang['permission.function.group.function']}"/>
                                    <p:outputPanel styleClass="Container100 Responsive100">
                                        <p:tree value="#{groupPermissionFunctionController.rootTreeMenu}"
                                                var="root"
                                                style="overflow: auto; max-height: 200px;margin:10px 20px; width: 600px"
                                                selectionMode="checkbox"
                                                selection="#{groupPermissionFunctionController.selectedNode}"
                                                id="treeMenu"
                                                widgetVar="treeMenu">
                                            <p:ajax event="select" process="@this"
                                                    listener="#{groupPermissionFunctionController.onSelect}"
                                                    update="@([id$=tblListFunction])"/>
                                            <p:ajax event="unselect" process="@this"
                                                    listener="#{groupPermissionFunctionController.onSelect}"
                                                    update="@([id$=tblListFunction])"/>
                                            <p:treeNode expandedIcon="ui-icon-home"
                                                        collapsedIcon="ui-icon-home"
                                                        icon="ui-icon-note">
                                                <h:outputText value="#{root.functionName}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </p:outputPanel>
                                </p:outputPanel>
                                <!--table-->
                                <!--<cbs:panel classForToggle="pnlfunctionSearch"
                                           titleHeader="#{lang['permission.function.group.select']}"/>
                                <div class="Container100 Responsive100 MarTop10" id="tableSelectFunction">
                                    <p:dataTable id="tblListFunction"
                                                 widgetVar="tblListFunction"
                                                 styleClass="tableListCustomer"
                                                 rows="#{lang['common.paging.rows.default']}"
                                                 paginator="#{lang['common.paging.paginator']}"
                                                 var="functionDTO"
                                                 rowIndexVar="rowIndex"
                                                 value="#{groupPermissionFunctionController.functionObjectDTOList}"
                                                 rowKey="#{functionDTO.functionObjectId}"
                                                 lazy="false"
                                                 scrollable="true" scrollWidth="100%"
                                                 paginatorAlwaysVisible="true"
                                                 pageLinks="#{lang['common.paging.pageLink']}"
                                                 rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                 paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                 paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                 currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                 emptyMessage="#{lang['common.search.not.record.found']}">
                                        <p:column style="width: 10%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['lb.STT']}"
                                                              title="#{lang['lb.STT']}"/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <p:column style="width: 45%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.tree.code']}"
                                                        title="#{lang['permission.function.tree.code']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    title="#{functionDTO.functionCode}" style="float:left;"
                                                    value="#{functionDTO.functionCode}"/>
                                        </p:column>

                                        <p:column style="width: 45%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.tree.name']}"
                                                        title="#{lang['permission.function.tree.name']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{functionDTO.functionName}" style="float:left;"
                                                           value="#{functionDTO.functionName}"
                                            />

                                        </p:column>
                                    </p:dataTable>
                                </div>-->
                            </div>
                        <!--button-->
                        <div class="Container100 TexAlCenter" style="margin-top: 10px;">
                            <!--<p:commandButton id="cancelBtn"
                                             value="#{lang['common.button.NO']}"
                                             immediate="true"
                                             process="@this"
                                             update="@([id$=pnlAdd]), @([id$=pnlSearch])"
                                             style="margin-right: 5px;margin-bottom: 10px;">
                                &lt;!&ndash;<f:setPropertyActionListener value="#{true}"
                                                             target="#{groupPermissionFunctionController.viewSearch}"/>&ndash;&gt;
                            </p:commandButton>

                            <p:commandButton process="@this, @([id$=form])"

                                             id="btnadd"
                                             global="true"
                                             update="@form"
                                             updateArea="@form" value="#{lang['common.save']}"
                                             action="#{groupPermissionFunctionController.showDlg()}">
                            </p:commandButton>

                            <p:confirmDialog id="dialog" widgetVar="test"
                                             message="#{lang['webchain.catalog.comfirm.addForm']}"
                                             header="#{lang['webchain.catalog.dl.title']}">
                                <div class="ContainerIndent TexAlRight">
                                    <p:commandButton id="noIdDlg" value="#{lang['common.button.NO']}"
                                                     onclick="PF('test').hide()"
                                                     styleClass="ui-confirmdialog-no"
                                                     style="margin-right: 5px !important;"/>
                                    <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                                     id="yesId"
                                                     action="#{groupPermissionFunctionController.doCreateOrUpdate()}"
                                                     process="@this, @form"
                                                     onclick="PF('test').hide()"
                                                     update="@([id$=pnlAdd]), @([id$=pnlSearch])"/>
                                </div>
                            </p:confirmDialog>-->
                            <div class="ContainerIndent">
                                <p:commandButton
                                        style="margin-right: 5px"
                                        id="btnClose"
                                        onclick="PF('dlgGroupPermissionFunction').hide();"
                                        value="#{lang['common.button.NO']}">
                                </p:commandButton>
                                <p:commandButton
                                        id="btnAdd"
                                        styleClass="waves-effect waves-light btn"
                                        process="@this,@([id$=form])"
                                        global="true"
                                        update="@this,@([id$=tblListGroupFunction])"
                                        actionListener="#{groupPermissionFunctionController.doCreateOrUpdate()}"
                                        value="#{lang['webchain.catalog.addForm']}"
                                        style="margin-right: 5px">
                                    <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                               message="#{lang['webchain.catalog.comfirm.addForm']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </div>
                        </div>
                    </div>
                </p:outputPanel>
                </div>
                <!--table-->
                <p:outputPanel id="pnlFunctionSearchLabel1" styleClass="ContainerIndent mg-top-3">
                    <div class="Container100 Responsive100">
                        <!--table nhom chucws nangw-->
                        <div style="width: 46%; float: left; padding:20px 10px;box-shadow: none !important;">
                            <cbs:panel classForToggle="pnlfunctionSearch"
                                       titleHeader="#{lang['permission.function.group.select']}"/>
                            <div class="Container100 Responsive100 MarTop10" id="tableSelect">
                                <p:dataTable id="tblListGroup"
                                             widgetVar="tblListGroup"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="groupDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{groupPermissionFunctionController.selectPermissionGroupDTOList}"
                                             rowKey="#{groupDTO.permissionGroupId}"
                                             lazy="false"
                                             scrollable="true" scrollWidth="100%"
                                             paginatorAlwaysVisible="true"
                                             pageLinks="#{lang['common.paging.pageLink']}"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <p:column style="width: 45%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['permission.function.group.code']}"
                                                    title="#{lang['permission.function.group.code']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{groupDTO.permissionGroupCode}" style="float:left;"
                                                value="#{groupDTO.permissionGroupCode}"/>
                                    </p:column>

                                    <p:column style="width: 45%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['permission.function.group.name']}"
                                                    title="#{lang['permission.function.group.name']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{groupDTO.permissionGroupName}" style="float:left;"
                                                       value="#{groupDTO.permissionGroupName}"
                                        />

                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <!-- table chuc nang-->
                        <div style="width: 50%;  float: right; padding:20px 10px;box-shadow: none !important;border-radius: 0px;">
                            <cbs:panel classForToggle="pnlfunctionSearch"
                                       titleHeader="#{lang['permission.function.group.select']}"/>
                            <div class="Container100 Responsive100 MarTop10" id="tableSelectFunction">
                                <p:dataTable id="tblListFunction"
                                             widgetVar="tblListFunction"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="functionDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{groupPermissionFunctionController.functionObjectDTOList}"
                                             rowKey="#{functionDTO.functionObjectId}"
                                             lazy="false"
                                             scrollable="true" scrollWidth="100%"
                                             paginatorAlwaysVisible="true"
                                             pageLinks="#{lang['common.paging.pageLink']}"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <p:column style="width: 45%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['permission.function.tree.code']}"
                                                    title="#{lang['permission.function.tree.code']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{functionDTO.functionCode}" style="float:left;"
                                                value="#{functionDTO.functionCode}"/>
                                    </p:column>

                                    <p:column style="width: 45%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['permission.function.tree.name']}"
                                                    title="#{lang['permission.function.tree.name']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{functionDTO.functionName}" style="float:left;"
                                                       value="#{functionDTO.functionName}"
                                        />

                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>

    </p:outputPanel>
    <script>
        $(document).ready(function(){
            $('#add').focus();
        });
        $('#add').keypress(function (e) {
            if (e.which == 13|| e.keyCode === 13) {
                $('[id$=btnAdd]').click();
            }
        });
        function completeSelect() {
            $('#add').focus();
        }
    </script>

</ui:composition>
