<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui" xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <style>
        /*   .ui-fileupload-content{
               position: fixed;
           }*/
        .ui-fileupload-upload .ui-icon-arrowreturnthick-1-n {
            background-image: none !important;
        }

        .ui-fileupload-cancel .ui-icon-cancel {
            background-image: none !important;
        }

        .hiddenthead .ui-datatable-scrollable-theadclone {
            display: none !important;
        }

        .ui-button-icon-only .ui-button-text {
            min-width: 30px !important;
            height: 15px !important;
        }

        .ui-fileupload-files {
            display: inline !important;
            float: left !important;
        }

        .cmdCloseFile {
            color: red !important;
            /* size: 30px !important;*/
            font-weight: bold;
            margin-right: 20px;
            font-size: 20px !important;
        }

        .ui-tree-container {
            max-height: 250px;
            overflow-x: hidden !important;
            background: white;
        }

        .ui-tree {
            width: 100% !important;
        }

    </style>


    <h:form id="addNewForm" styleClass="Container100" accept-charset="UTF-8">
        <p:defaultCommand target="btnAdd"/>
        <div id="add" tabindex="1">
        <p:outputPanel id="pnlPermissionGroupUserAdd" styleClass="Container100">
            <div class="Container100 Responsive100">
                <div class="ContainerIndent" style="background-color: white;">
                    <p:messages for="messageserror" autoUpdate="true"
                                showDetail="true" style="margin-top: 4%"
                                globalOnly="true" showSummary="true"
                                closable="true"/>
                </div>
                <div class="ContainerIndent" style="margin-bottom: 0px;margin-top: 0px;background-color: white;">
                    <!--nhom chuc nang-->
                    <div class="Container50">
                        <!--Thêm mới nhoms cn-->
                        <p:outputPanel rendered="#{!userGroupPermissionController.viewUpdate}"
                                       id="pnlPermissionGroupUserAddLable"
                                       styleClass="Container100">
                            <p:fieldset legend="#{lang['web.chain.permission.group.list']}"
                                        style="background-color: white;padding-bottom: 48px;">
                                <div class="Container100 Responsive100">
                                    <div class="ContainerIndent">
                                        <div class="Container50 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['web.chain.permission.group']}"/>
                                            <p:outputLabel value="*" style="color: red"/>
                                        </div>
                                        <div class="Container50 Responsive50 ui-fluid">
                                            <p:selectCheckboxMenu id="sbPermissionGroupDlg"
                                                                  widgetVar="sbPermissionGroupDlg"
                                                                  value="#{userGroupPermissionController.permissionGroupIdCreateSelected}"
                                                                  label="#{userGroupPermissionController.labelSelectCreateCheckBoxs[lang['web.chain.permission.group']]}"
                                                                  filter="true"
                                                                  style="border-bottom: solid 1px #C0C5C7 !important;border-left: 0px !important;border-right: 0px !important;"
                                                                  filterMatchMode="contains"
                                                                  styleClass="mui-select_2 Container75 "
                                                                  onHide="updateLabelForPermissionGroupDlg();">
                                                <f:selectItems
                                                        value="#{userGroupPermissionController.permissionGroupDTOList}"
                                                        var="permissionGroup"
                                                        itemLabel="#{permissionGroup.permissionGroupName}"
                                                        itemValue="#{permissionGroup.permissionGroupId}"/>
                                                <p:ajax event="toggleSelect"
                                                        listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                                <p:ajax event="change"
                                                        listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                                <p:remoteCommand name="updateLabelForPermissionGroupDlg"
                                                                 update="@([id$=sbPermissionGroupDlg]),@([id$=tblLisUser2])"
                                                                 actionListener="#{userGroupPermissionController.updateLabelSelectCreateCheckBoxPermissionGroup(lang['web.chain.permission.group'],fn:length(userGroupPermissionController.permissionGroupIdCreateSelected))}"/>
                                            </p:selectCheckboxMenu>

                                        </div>

                                    </div>
                                </div>
                            </p:fieldset>
                            <p:outputPanel styleClass="Container100">


                            </p:outputPanel>

                        </p:outputPanel>
                        <!--update nhom chuc nhang-->
                        <p:outputPanel rendered="#{userGroupPermissionController.viewUpdate}"
                                       id="pnlPermissionGroupUserUpdateLable"
                                       styleClass="Container100">
                            <p:fieldset legend="#{lang['web.chain.permission.group.list']}"
                                        style="background-color: white;">
                                <div class="Container100 Responsive100">
                                    <!--update nhom chuc nhang-->
                                    <div class="ContainerIndent">
                                        <div class="Container50 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['web.chain.permission.group']}"/>
                                        </div>
                                        <div class="Container50 Responsive50 ui-fluid">
                                            <p:inputText id="checkCode"
                                                         disabled="true"
                                                         value="#{userGroupPermissionController.permissionGroupUserDTO.permissionGroupName}"
                                                         title="#{userGroupPermissionController.permissionGroupUserDTO.permissionGroupName}">
                                            </p:inputText>

                                        </div>

                                    </div>
                                    <!--trang thai cau hinh-->
                                    <div class="ContainerIndent">
                                        <div class="Container100 Responsive">
                                            <div class="Container50  pd-top-4 mg-left-15">
                                                <p:outputLabel for="updateStatus"
                                                               value="#{lang['webchain.functionGroup.statusSearch']}"/>
                                                <p:outputLabel value="*" style="color: red"/>
                                            </div>
                                            <div class="Container50 ui-fluid ui-relative">
                                                <p:selectOneMenu id="updateStatus" widgetVar="updateStatus"
                                                                 value="#{userGroupPermissionController.permissionGroupUserDTO.status}"
                                                                 converterMessage="#{lang['message.function.status.error.invalid']}"
                                                                 filter="true" filterMatchMode="contains">
                                                    <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                                  itemValue="#{null}"
                                                                  escape="true"/>
                                                    <f:selectItems value="#{userGroupPermissionController.statusList}"
                                                                   var="dto"
                                                                   itemValue="#{dto.value}"
                                                                   itemLabel="#{dto.name}"
                                                    />
                                                    <p:ajax event="change" process="@this"/>
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p:fieldset>

                        </p:outputPanel>
                    </div>
                    <!--Cua hang chuoi& nguoi dung chuoi-->
                    <div class="Container50">
                        <!--them moi cua hang chuoi-->
                        <p:outputPanel rendered="#{!userGroupPermissionController.viewUpdate}"
                                       id="pnlUserLabel" styleClass="Container100 ">
                            <p:fieldset legend="#{lang['web.chain.user.list']}"
                                        style="background-color: white"
                            >
                                <!--cua hang  chuoi-->
                                <div class="ContainerIndent">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.user.shop.name']}"/>
                                        <p:outputLabel value="*  " style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50">
                                        <p:selectOneMenu id="chainShopList" widgetVar="chainShopList"
                                                         style="min-width: 75%; margin-left: 0px"
                                                         filter="true" filterMatchMode="contains"
                                                         value="#{userGroupPermissionController.chainShopId}">
                                            <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems value="#{userGroupPermissionController.chainShopDTOList}"
                                                           var="chainShop"
                                                           itemLabel="#{chainShop.chainShopName}"
                                                           itemValue="#{chainShop.chainShopId}"
                                            />
                                            <p:ajax update="@([id$=sbUserDlg]),@([id$=tblLisUser])" event="change"
                                                    process="@this"
                                                    listener="#{userGroupPermissionController.perepareToclickNull}"/>
                                            <p:ajax event="change" process="@this"
                                                    update="sbUserDlg"
                                                    listener="#{userGroupPermissionController.getChainUserByChainShopId()}"/>
                                        </p:selectOneMenu>
                                    </div>

                                </div>
                                <!--nguoi dung chuoi-->
                                <div class="ContainerIndent">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['web.chain.user']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ">
                                        <p:selectCheckboxMenu id="sbUserDlg" widgetVar="sbUserDlg"
                                                              value="#{userGroupPermissionController.chainUserIdCreateSelected}"
                                                              label="#{userGroupPermissionController.labelSelectCreateCheckBoxs[lang['web.chain.user']]}"
                                                              filter="true"
                                                              style="border-bottom: solid 1px #C0C5C7 !important;border-left: 0px !important;border-right: 0px !important;"
                                                              filterMatchMode="contains"
                                                              styleClass="mui-select_2 Container75 "
                                                              onHide="updateLabelForUserDlg();">
                                            <f:selectItems
                                                    value="#{userGroupPermissionController.chainUserDTOList}"
                                                    var="chainUser"
                                                    itemLabel="#{chainUser.userName}"
                                                    itemValue="#{chainUser.chainUserId}"/>
                                            <p:ajax event="toggleSelect"
                                                    listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                            <p:ajax event="change"
                                                    listener="#{userGroupPermissionController.setOnChange(true)}"/>

                                            <p:remoteCommand name="updateLabelForUserDlg"
                                                             update="@([id$=sbUserDlg]),@([id$=tblLisUser])"
                                                             actionListener="#{userGroupPermissionController.updateLabelSelectCreateCheckBoxChainUser(lang['web.chain.user'],fn:length(userGroupPermissionController.chainUserIdCreateSelected))}"/>
                                        </p:selectCheckboxMenu>

                                    </div>
                                </div>
                            </p:fieldset>
                        </p:outputPanel>
                        <!--update Cua hang chuoi& nguoi dung chuoi-->
                        <p:outputPanel rendered="#{userGroupPermissionController.viewUpdate}"
                                       id="pnlUserLabelupdate" styleClass="Container100 ">
                            <p:fieldset legend="#{lang['web.chain.user.list']}" style="background-color: white"
                            >
                                <!--cua hang  chuoi-->
                                <div class="ContainerIndent">

                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['webchain.user.shop.name']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50">
                                        <p:selectOneMenu id="chainShopListupdate" widgetVar="chainShopListupdate"
                                                         style="min-width: 75%; margin-left: 0px"
                                                         filter="true" filterMatchMode="contains"
                                                         value="#{userGroupPermissionController.chainShopId}">
                                            <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems value="#{userGroupPermissionController.chainShopDTOList}"
                                                           var="chainShop"
                                                           itemLabel="#{chainShop.chainShopName}"
                                                           itemValue="#{chainShop.chainShopId}"
                                            />
                                            <p:ajax event="change" process="@this"
                                                    update="sbUserDlgupdate"
                                                    listener="#{userGroupPermissionController.getChainUserByChainShopIdForUpdate()}"/>
                                        </p:selectOneMenu>
                                    </div>

                                </div>
                                <!--nguoi dung chuoi-->
                                <div class="ContainerIndent">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['web.chain.user']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ">
                                        <p:selectOneMenu id="sbUserDlgupdate"
                                                         value="#{userGroupPermissionController.permissionGroupUserDTO.chainUserId}"
                                                         styleClass="mui-select_2 Container75 "
                                                         filter="true"
                                                         filterMatchMode="contains">
                                            <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                          itemValue="#{null}"
                                                          escape="true"/>
                                            <f:selectItems
                                                    value="#{userGroupPermissionController.chainUserDTOUpdateList}"
                                                    var="chainUser"
                                                    itemLabel="#{chainUser.userName}"
                                                    itemValue="#{chainUser.chainUserId}"/>
                                        </p:selectOneMenu>

                                    </div>
                                </div>
                            </p:fieldset>
                        </p:outputPanel>
                    </div>
                </div>
            </div>
            <!--Button lưu-->
            <p:outputPanel styleClass="Container100 TexAlCenter"
                           style="background-color: white; margin-top: 0px; padding: 1% 0%">
                <div class="ContainerIndent">
                    <p:commandButton
                            style="margin-right: 5px"
                            id="btnClose"
                            onclick="PF('dlgUserGroupPermission').hide();"
                            value="#{lang['common.button.NO']}">
                    </p:commandButton>
                    <p:commandButton
                            id="btnAdd"
                            styleClass="waves-effect waves-light btn"
                            process="@this,@([id$=addNewForm])"
                            global="true"
                            update="@this,@([id$=tblListPermissionGroupUser])"
                            actionListener="#{userGroupPermissionController.doCreateOrUpdate}"
                            value="#{lang['webchain.catalog.addForm']}"
                            style="margin-right: 5px">
                        <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                   message="#{lang['webchain.catalog.comfirm.addForm']}"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>
                </div>
            </p:outputPanel>
        </p:outputPanel>
        </div>
        <div class="Container100 Responsive100" style="width: 100%">
            <div class="ContainerIndent">
                <!--hien thi ban ghi khi chon nhom-->
                <p:outputPanel rendered="#{!userGroupPermissionController.viewUpdate}"
                               id="pnlUserLabel2" styleClass="Container50">
                    <div styleClass="Container92" style="width: 96% ">
                        <!--Trang thai value="#{lang['menu.function.status']}-->
                        <cbs:panel classForToggle="pnlUserLabel2"
                                   titleHeader="#{lang['permission.function.group.select']}"/>
                        <div class="Container100 Responsive100 MarTop10" id="permissiontable">
                            <p:dataTable id="tblLisUser2"
                                         pageLinks="1"
                                         widgetVar="tblLisUser2"
                                         styleClass="hiddenthead"
                                         rows="#{lang['common.paging.rows.default']}"
                                         paginator="#{lang['common.paging.paginator']}"
                                         var="groupDTO"
                                         rowIndexVar="rowIndex"
                                         value="#{userGroupPermissionController.selectPermissionGroupDTOList}"
                                         rowKey="#{groupDTO.permissionGroupId}"
                                         lazy="false"
                                         scrollable="true" scrollWidth="100%"
                                         paginatorAlwaysVisible="true"
                                         rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                         paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                         paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                         currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                         emptyMessage="#{lang['common.search.not.record.found']}"
                            >
                                <p:column style="width: 10%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText value="#{lang['lb.STT']}"
                                                      title="#{lang['lb.STT']}"/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>
                                </p:column>

                                <p:column style="width: 35%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText
                                                value="#{lang['permission.function.group.code']}"
                                                title="#{lang['permission.function.group.code']}"/>
                                    </f:facet>
                                    <p:outputLabel
                                            title="#{groupDTO.permissionGroupCode}" style="float:left;"
                                            value="#{groupDTO.permissionGroupCode}"/>
                                </p:column>

                                <p:column style="width: 55%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText
                                                value="#{lang['permission.function.group.name']}"
                                                title="#{lang['permission.function.group.name']}"/>
                                    </f:facet>
                                    <p:outputLabel title="#{groupDTO.permissionGroupName}"
                                                   style="float:left;"
                                                   value="#{groupDTO.permissionGroupName}"
                                    />
                                    <p:outputLabel/>
                                </p:column>
                            </p:dataTable>
                        </div>


                    </div>
                </p:outputPanel>
                <!--hien thi ban ghi khi con nguoi dung-->
                <p:outputPanel rendered="#{!userGroupPermissionController.viewUpdate}"
                               id="pnlUserLabel1" styleClass="Container50">
                    <div styleClass="Container92" style="width: 96%">
                        <cbs:panel classForToggle="pnlUserLabel1"
                                   titleHeader="#{lang['permission.function.group.select']}"/>
                        <div class="Container100 Responsive100 MarTop10" id="chainusertable">
                            <p:dataTable id="tblLisUser"
                                         pageLinks="1"
                                         widgetVar="tblLisUser"
                                         rows="#{lang['common.paging.rows.default']}"
                                         paginator="#{lang['common.paging.paginator']}"
                                         var="chainUserDTO"
                                         rowIndexVar="rowIndex"
                                         value="#{userGroupPermissionController.selectChainUserDTOLists}"
                                         rowKey="#{chainUserDTO.chainUserId}"
                                         lazy="false"
                                         styleClass="hiddenthead"
                                         scrollable="true" scrollWidth="100%"
                                         paginatorAlwaysVisible="true"
                                         rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                         paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                         paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                         currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                         emptyMessage="#{lang['common.search.not.record.found']}"
                            >
                                <p:column style="width: 10%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText value="#{lang['lb.STT']}"
                                                      title="#{lang['lb.STT']}"/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>
                                </p:column>

                                <p:column style="width: 35%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText
                                                value="#{lang['permission.functionGroup.user.name']}"
                                                title="#{lang['permission.functionGroup.user.name']}"/>
                                    </f:facet>
                                    <p:outputLabel
                                            title="#{chainUserDTO.userName}" style="float:left;"
                                            value="#{chainUserDTO.userName}"/>
                                </p:column>

                                <p:column style="width: 55%;" styleClass="TexAlCenter">
                                    <f:facet name="header">
                                        <h:outputText
                                                value="#{lang['permission.functionGroup.user.fullname']}"
                                                title="#{lang['permission.functionGroup.user.fullname']}"/>
                                    </f:facet>
                                    <p:outputLabel title="#{chainUserDTO.fullName}" style="float:left;"
                                                   value="#{chainUserDTO.fullName}"
                                    />
                                    <p:outputLabel/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </p:outputPanel>
            </div>
        </div>
    </h:form>
    <script>
        $(document).ready(function(){
            $('#add').focus();
        });
        $('#add').keypress(function (e) {
            if (e.which == 13|| e.keyCode === 13) {
                $('[id$=btnAdd]').click();
            }
        });
        function completeSelect() {
            $('#add').focus();
        }
    </script>
</ui:composition>
