<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
>


<ui:composition template="bccs2/sentinel/template.xhtml">
    <ui:define name="title">Home</ui:define>
    <ui:define name="featureName">Home</ui:define>
    <ui:define name="content">
        <style type="text/css">
            .link-style {
                text-decoration: none;
            }

            .link-softblue-style {
                text-decoration: none;
                color: #27AAE1;
            }

            .text-softblue-style {
                text-decoration: none;
                color: #27AAE1;
            }

            .zIndex1007-style {
                z-index: 997 !important;
            }

            .zIndex1006-style {
                z-index: 996 !important;
            }
        </style>
        <script type="text/javascript">
            (function () {
                Sentinel.toggleLeftMenu = function () {
                    if (this.menubar.hasClass('slimmenu')) {
                        this.menubar.removeClass('slimmenu');
                        $('#searchArea').removeClass('slimsearch');
                        $('.sentinelMenu').removeClass('slim');
                        $.cookie('sentinel_menumode', 'large', {path: '/'});
                        initDND();
                    }
                    else {
                        this.menubar.addClass('slimmenu').removeClass('layout-menubar-open-fullscr');
                        $('#searchArea').addClass('slimsearch');
                        //thiendn1: add sentinelMenuSlim
                        $('.sentinelMenu').addClass('slim');
                        $.cookie('sentinel_menumode', 'slim', {path: '/'});
                        initDND();
                    }

                }
            })();


        </script>

        <p:dialog widgetVar="dialogFavorite"
                  id="dialogFavorite"
                  header="Bookmark"
                  closable="false"
                  resizable="false"
                  styleClass="zIndex1007-style"
        >
            <h:form>
                <p:panel styleClass="favoriteDropPoint" style="width: 600px;height: 100px">
                    <div align="center" style="margin-top: 5%">

                        <p:outputLabel value="#{lang['dashboard.favorite.help']}"
                                       style="font-size: xx-large;opacity: 0.2">
                        </p:outputLabel>
                    </div>

                </p:panel>
            </h:form>
        </p:dialog>

        <p:blockUI widgetVar="blockActivityForm" block="@(body)"
                   styleClass="zIndex1006-style"/>

        <h:form id="activityForm">
            <p:messages id="msgFormHome" showDetail="true" globalOnly="true" showSummary="true"
                        closable="true"/>
            <!--<p:remoteCommand name="redirectChangePassword" process="@this" oncomplete="window.location.href = 'http://stackoverflow.com'" />-->
            <p:remoteCommand autoRun="true" update= "@([id$=msgFormHome])" actionListener="#{changePasswordController.messCheckChangePass}" process="@this"/>
            <div class="ContainerIndent margin4-10 shadow-bottom bg-panel">
                <div class="ContainerIndent">
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <div class="ContainerIndent">
                            <p:panel id="userPanel" style="min-height: 350px;" styleClass="ui-fluid">
                                <i class="icon-user-2 Fs50 Fleft Wid25 hardblue TexAlCenter"></i>

                                <div class="Fs24 Fright MarTop10 leaden Wid70">#{lang['dashboard.user.title.welcome']}
                                    <br/> <span
                                            class="hardblue">#{userActivityController.userToken.fullName}</span>
                                </div>
                                <div class="EmptyBox10"></div>

                                <div class="EmptyBox10"></div>
                                <div class="EmptyBox10"></div>
                                <p:separator styleClass="Wid100"></p:separator>

                                <div class="EmptyBox5"></div>
                                <p:outputPanel id="favoriteMenu" style="height: 150px;border: 0px">
                                    <ui:repeat value="#{favoriteActivityController.getSubFavoriteActivities()}"
                                               var="favorite"
                                               varStatus="activityStatus">
                                        <div style="padding-top: 5px"/>
                                        <i class="icon-star blue i"></i>
                                        <i>
                                            <p:commandLink styleClass="text-softblue-style"
                                                           actionListener="#{menuBean.redirect(favorite.url)}">
                                                <h:outputText styleClass="text-softblue-style"
                                                              title="#{menuBean.getUrlName(favorite.url)}"
                                                              value=" #{menuBean.getUrlName(favorite.url).length() gt 30? menuBean.getUrlName(favorite.url).substring(0,30).concat('...'):menuBean.getUrlName(favorite.url)}"/>
                                            </p:commandLink>
                                        </i>
                                        <i style="float: right">
                                            <p:commandLink update="activityForm:userPanel"
                                                           actionListener="#{favoriteActivityController.delete(favorite.url)}">
                                                <i class="icon-cancel red"></i>
                                            </p:commandLink>
                                        </i>

                                    </ui:repeat>
                                </p:outputPanel>
                            </p:panel>
                        </div>
                    </div>

                </div>
            </div>


        </h:form>
    </ui:define>
</ui:composition>

</html>
