<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_CM_CHAIN_NAME']}</ui:define>
    <ui:define name="content">
        <style type="text/css">
            td.selectionDisabled .ui-chkbox {
                display: none;
            }

            .mg-left-115 label:first-child {
                margin-left: 5px !important;
            }

            .ui-autocomplete-panel {
                width: 900px !important;
                max-width: 900px !important;
            }

            .ui-autocomplete-table {
                width: 100% !important;
            }

            .ui-autocomplete-panel .ui-autocomplete-table td {
                word-break: break-all;
            }
        </style>

        <h:form id="chainUser" styleClass="Container100">
            <p:outputPanel id="pnlChainUserSearch" styleClass="Container100">
                <!--<p:focus context="chainUser:pnlChainUserSearch"></p:focus>-->
                <p:outputPanel id="pnlChainUserSearchLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="msgSearch" showDetail="true" globalOnly="true"
                                showSummary="true"
                                closable="true"/>
                    <cbs:panel classForToggle="pnlChainUserSearch"
                               titleHeader="#{lang['common.search.header']}"/>
                    <div id="f" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">

                            <div class="Container50 Responsive" id="pnlShopName">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.user.username']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText maxlength="100"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{employeeController.inputLazyChainUserSearch.username}"
                                    >
                                        <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                    </p:inputText>
                                </div>
                            </div>
                        </div>
                        <!--trang thai-->
                        <div class="ContainerIndent">
                            <div class="Container50 Responsive">
                                <div class="Container30  pd-top-4 mg-left-15">
                                    <p:outputLabel for="searchStatus"
                                                   value="#{lang['webchain.shop.status']}"/>
                                    <!--<p:outputLabel value="*" style="color: red"/>-->
                                </div>
                                <div class="Container70 ui-fluid ui-relative">
                                    <p:selectOneMenu id="searchStatus" widgetVar="searchStatus"
                                                     value="#{employeeController.inputLazyChainUserSearch.status}"
                                                     converterMessage="#{lang['message.function.status.error.invalid']}"
                                                      filterMatchMode="contains">
                                        <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                      itemValue="#{null}"
                                                      escape="true"/>
                                        <f:selectItems value="#{employeeController.statusList}"
                                                       var="functionType"
                                                       itemValue="#{functionType.value}"
                                                       itemLabel="#{functionType.name}"
                                        />
                                        <p:ajax event="change" oncomplete="completeSelect();"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <p:outputPanel class="Container100 TexAlCenter"
                                       style="background-color: white; margin-top: 0px; padding: 1% 0%">
                            <!--Tìm kiếm -->
                            <p:commandButton process="@this,@form"
                                             id="searchId"
                                             update="@([id$=pnlResultFunction]), @([id$=tblListFunction]),@([id$=msgSearch])"
                                             action="#{employeeController.doSearch()}"
                                             onclick="PF('tblListFunction').getPaginator().setPage(0);"
                                             value="#{lang['common.button.search']}"
                                             style="margin-right: 5px;"/>
                            <!--Them moi-->
                            <p:commandButton
                                    process="@this,@([id$=dlgChainUserForm])"
                                    update="@([id$=dlgChainUserForm])"
                                    id="addBtnDetailUpdate"
                                    style="margin-right: 5px"
                                    ajax="true"
                                    actionListener="#{employeeController.preAddNewChainUser}"
                                    oncomplete="if(!args.validationFailed){PF('dlgChainUserForm').show()}"
                                    value="#{lang['common.button.addnew']}"
                            />
                            <p:commandButton process="@this"
                                             oncomplete="if(!args.validationFailed){PF('dlgImport').show();}"
                                             update="@([id$=dlgImport]), @([id$=msgSearch])"
                                             action="#{employeeController.preImport}"
                                             id="importId"
                                             style="margin-right: 5px"
                                             value="#{lang['common.choose.import']}"
                            />
                        </p:outputPanel>
                    </div>


                </p:outputPanel>
                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultFunction" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlFunctionList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>
                        <div class="pnlFunctionTableList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblListFunction"
                                             widgetVar="tblListFunction"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="chainUserDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{employeeController.chainUserDTOList}"
                                             rowKey="#{chainUserDTO.chainUserId}"
                                             lazy="true"
                                             scrollable="true" scrollWidth="110%"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">

                                    <!--Số thứ tự-->
                                    <p:column style="width: 4%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>
                                    <!--Thao tác-->
                                    <p:column style="width: 5%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <!--cap nhat-->
                                        <p:commandLink title="#{lang['common.icon.update']}"
                                                       style="margin-left: 5px;"
                                                       process="@this"
                                                       resetValues="true"
                                                       styleClass="fa icon-edit Fs16 blue"
                                                       update="@([id$=dlgChainUserForm]), @([id$=dlgChainUser])"
                                                       oncomplete="if(!args.validationFailed){PF('dlgChainUserForm').show()}"
                                                       actionListener="#{employeeController.preEditChainUser(chainUserDTO)}"
                                        >
                                        </p:commandLink>
                                        <!--xoa-->
                                        <p:commandLink title="#{lang['common.icon.delete']}"
                                                       disabled="#{chainUserDTO.status eq 0}"
                                                       style="margin-left: 5px;"
                                                       process="@this"
                                                       update="@([id$=pnlChainUserSearch]), @([id$=tblListFunction])"
                                                       resetValues="true"
                                                       styleClass="fa icon-trash-1 Fs16 blue"
                                                       actionListener="#{employeeController.deleteChainUser(chainUserDTO)}"
                                        >
                                            <p:confirm header="#{lang['com.dl.title']}"
                                                       message="#{lang['common.comfirm.delete']}"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>
                                    <!--Mã chuỗi-->
                                    <p:column style="width: 9%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.parent.code']}"
                                                    title="#{lang['webchain.user.parent.code']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{chainUserDTO.parentShopCode}" style="float:left;"
                                                value="#{chainUserDTO.parentShopCode}"/>
                                    </p:column>
                                    <!--Ma cua hang chuoi-->
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.shop.code']}"
                                                    title="#{lang['webchain.user.shop.code']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{chainUserDTO.chainShopCode}" style="float:left;"
                                                       value="#{chainUserDTO.chainShopCode}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Ten cua hang chuoi-->
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.shop.name']}"
                                                    title="#{lang['webchain.user.shop.name']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{chainUserDTO.chainShopName}" style="float:left; text-align: left"
                                                       value="#{chainUserDTO.chainShopName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Ten nguoi dung chuoi -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.user.name']}"
                                                    title="#{lang['webchain.user.user.name']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{chainUserDTO.userName}" style="float:left;"
                                                value="#{chainUserDTO.userName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--ho va ten -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.full.name']}"
                                                    title="#{lang['webchain.user.full.name']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{chainUserDTO.fullName}" style="float:left; text-align: left"
                                                value="#{chainUserDTO.fullName}"
                                        />
                                    </p:column>
                                    <!--So dien thoai-->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.user.phone.number']}"
                                                    title="#{lang['webchain.user.phone.number']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{chainUserDTO.phoneNumber}" style="float:left;"
                                                value="#{chainUserDTO.phoneNumber}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Trạng thái-->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.user.status']}"
                                                          title="#{lang['webchain.user.status']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{chainUserDTO.status == 1 ? lang['MENU.STATUS_ACTIVE'] : lang['MENU.STATUS_IN_ACTIVE']}"
                                                       style="float:left;"
                                                       value="#{chainUserDTO.status == 1 ? lang['MENU.STATUS_ACTIVE'] : lang['MENU.STATUS_IN_ACTIVE']}"/>
                                    </p:column>

                                </p:dataTable>
                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <p:dialog id="dlgChainUserForm"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgChainUserForm"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;font-weight: 500!important;color: dodgerblue;"
                  maximizable="false"
                  resizable="fasle"
                  width="90%"
                  header="#{employeeController.dlgHeader}">
            <ui:include src="dlgChainUser.xhtml"/>
        </p:dialog>
        <p:dialog id="dlgImport"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgImport"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="fasle"
                  header="#{lang['webchain.user.import.dlg.header']} "
                  width="89%">
            <ui:include src="dlgImport.xhtml"/>
        </p:dialog>
        <script>
            $(document).ready(function () {
                $('#f').focus();
            });
            $('#f').keypress(function (e) {
                if (e.which == 13 || e.keyCode === 13) {
                    if ($('[id$=importId]').is(":focus")
                        || $('[id$=addBtnDetailUpdate]').is(":focus")) {
                        return;
                    }
                    $('[id$=searchId]').click();
                }
            });

            function completeSelect() {
                $('#f').focus();
            }
        </script>
    </ui:define>
</ui:composition>