<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
        /*   .ui-fileupload-content{
               position: fixed;
           }*/
        .ui-fileupload-upload .ui-icon-arrowreturnthick-1-n {
            background-image: none !important;
        }

        .ui-fileupload-cancel .ui-icon-cancel {
            background-image: none !important;
        }

        .ui-button-icon-only .ui-button-text {
            min-width: 30px !important;
            height: 15px !important;
        }

        .ui-fileupload-files {
            display: inline !important;
            float: left !important;
        }

        .cmdCloseFile {
            color: red !important;
            /* size: 30px !important;*/
            font-weight: bold;
            margin-right: 20px;
            font-size: 20px !important;
        }

        .ui-tree-container {
            max-height: 250px;
            overflow-x: hidden !important;
            background: white;
        }

        .ui-tree {
            width: 100% !important;
        }


    </style>

    <h:form id="addNewForm" styleClass="Container100" accept-charset="UTF-8">
        <p:outputPanel id="pnlManagementAddNewDlg" styleClass="Container100">
            <p:outputPanel id="pnlAddNewDlg" styleClass="ContainerIndent mg-top-3">
                <p:messages for="msg" showSummary="false" showDetail="true" globalOnly="true" closable="true"/>
                <div class="Container100 Responsive100">
                    <div class="ContainerIndent">
                        <!--loại tham số-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.catalog.type']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="checkType" maxlength="50"
                                             onchange="this.value=this.value.trim()"
                                             value="#{apdomainController.apDomainDTO.type}"
                                             title="">
                                    <!--<f:validateRegex pattern="^[_A-Za-z0-9-/]+"/>-->
                                </p:inputText>
                                <p:message for="checkType"/>
                            </div>
                        </div>
                        <!--Tên tham so-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.catalog.name']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="checkName" maxlength="200"
                                             onchange="this.value=this.value.trim()"
                                             value="#{apdomainController.apDomainDTO.name}"
                                             title="">
                                    <!--<f:validateRegex pattern="^[_A-Za-z0-9-/]+"/>-->
                                </p:inputText>
                                <p:message for="checkName"/>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="ContainerIndent">
                        <!--ma tham số-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.catalog.code']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="checkCode" maxlength="50"
                                             onchange="this.value=this.value.trim()"
                                             value="#{apdomainController.apDomainDTO.code}"
                                             title="">
                                    <!--<f:validateRegex pattern="^[_A-Za-z0-9-/]+"/>-->
                                </p:inputText>
                                <p:message for="checkCode"/>
                            </div>
                        </div>
                        <!--gia tri tham so-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.catalog.value']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputText id="checkValue" maxlength="500"
                                             onchange="this.value=this.value.trim()"
                                             value="#{apdomainController.apDomainDTO.value}"
                                             title="">
                                    <!--<f:validateRegex pattern="^[_A-Za-z0-9-/]+"/>-->
                                </p:inputText>
                                <!--<p:message for="checkValue"/>-->
                            </div>
                        </div>

                    </div>
                    <!--trang thai-->
                    <div class="ContainerIndent">
                        <div class="Container50 Responsive" id="pnlDocCode">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel"
                                               value="#{lang['webchain.catalog.satus']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid">
                                <p:selectOneMenu id="checkstatus"
                                                 value="#{apdomainController.apDomainDTO.status}">
                                    <f:selectItems
                                            value="#{apdomainController.listStatus}"
                                            var="status"
                                            itemLabel="#{status.name}" itemValue="#{status.value}"/>

                                </p:selectOneMenu>
                            </div>
                        </div>
                        <!--mo ta-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel styleClass="lb-sentinel" for="checkContent"
                                               value="#{lang['webchain.catalog.descrip']}"/>
                                <p:outputLabel style="color: red"/>
                            </div>
                            <div class="Container50 Responsive50 ui-fluid ui-relative">
                                <p:inputTextarea id="checkContent" maxlength="2000"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{apdomainController.apDomainDTO.description}"
                                                 title=" ">
                                </p:inputTextarea>
                                <p:message for="checkContent"/>
                            </div>
                        </div>

                    </div>


                </div>
            </p:outputPanel>
            <p:outputPanel styleClass="Container100 TexAlCenter"
                           style="background-color: white; margin-top: 0px; padding: 1% 0%">

                <div class="ContainerIndent">
                    <p:commandButton
                            style="margin-right: 5px"
                            id="btnClose"
                            onclick="PF('dlgbpcapdomain').hide();"
                            value="#{lang['common.button.NO']}">
                    </p:commandButton>
                    <p:commandButton
                            id="btnadd"
                            styleClass="waves-effect waves-light btn"
                            process="@this,@([id$=pnlManagementAddNewDlg])"
                            global="true"
                            update="@this,@([id$=tblListApdomain]),@([id$=addNewForm])"
                            actionListener="#{apdomainController.doSaveorUpdate}"
                            value="#{lang['webchain.catalog.addForm']}"
                            style="margin-right: 5px">
                        <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                   message="#{lang['webchain.catalog.comfirm.addForm']}"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>

                </div>
            </p:outputPanel>
        </p:outputPanel>
        <hr></hr>
    </h:form>
</ui:composition>
