<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:fn="http://java.sun.com/jsp/jstl/functions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_CM_FG_USER']}</ui:define>
    <ui:define name="content">
        <style type="text/css">
            td.selectionDisabled .ui-chkbox {
                display: none;
            }

            .mg-left-115 label:first-child {
                margin-left: 5px !important;
            }
            .ui-selectonemenu-panel{
                max-width: 450px !important;
            }
            .ui-selectonemenu-items-wrapper{
                word-break: break-all;
                max-width: 450px !important;
                overflow: auto !important;
            }
            .ui-selectcheckboxmenu-panel{
                max-width: 450px !important;
                height: 200px !important;
                overflow: auto !important;
            }
            .ui-selectcheckboxmenu-items-wrapper{
                height: 75% !important;
            }
        </style>
        <h:form id="function" styleClass="Container100" accept-charset="UTF-8">
            <!--<p:focus context="function:pnlfunctionSearch"/>-->
            <p:outputPanel id="pnlfunctionSearch" styleClass="Container100">
                <div id="formSearch" tabindex="1"  class="Container100 Responsive100">
                    <div class="ContainerIndent" style="margin-bottom: 0px;background-color: white; padding-bottom: 2%">
                        <cbs:panel classForToggle="pnlFunctionGroupLabel"
                                   titleHeader="#{lang['common.search.header']}"/>
                        <p:messages for="messages" autoUpdate="true"
                                    showDetail="true" style="margin-top: 4%"
                                    globalOnly="true" showSummary="true"
                                    closable="true"/>
                    </div>
                    <div  class="ContainerIndent" style="margin-bottom: 0px;margin-top: 0px;background-color: white;">
                        <!--Nhom chuc nang-->
                        <div class="Container50">
                            <p:outputPanel id="pnlFunctionGroupLabel" styleClass="Container100">
                                <p:fieldset legend="#{lang['web.chain.permission.group.list']}"
                                            style="background-color: white;">

                                    <div class="Container100 Responsive100">
                                        <!--nhom chuc nang chuoi-->
                                        <div class="ContainerIndent">
                                            <div class="Container50 Responsive50 pd-top-4 mg-left-15">
                                                <p:outputLabel styleClass="lb-sentinel"
                                                               value="#{lang['web.chain.permission.group']}"/>
                                            </div>
                                            <div class="Container50 Responsive50 ui-fluid">
                                                <p:selectCheckboxMenu id="sbPermissionGroup"
                                                                      widgetVar="sbPermissionGroup"
                                                                      value="#{userGroupPermissionController.permissionGroupIdSelected}"
                                                                      label="#{userGroupPermissionController.labelSelectCheckBoxs[lang['web.chain.permission.group']]}"
                                                                      filter="true"
                                                                      style="border-bottom: solid 1px #C0C5C7 !important;border-left: 0px !important;border-right: 0px !important;"
                                                                      filterMatchMode="contains"
                                                                      styleClass="mui-select_2 Container75 "
                                                                      onHide="labelForPermissionGroup();">
                                                    <f:selectItems
                                                            value="#{userGroupPermissionController.permissionGroupDTOList}"
                                                            var="permissionGroup"
                                                            itemLabel="#{permissionGroup.permissionGroupName}"
                                                            itemValue="#{permissionGroup.permissionGroupId}"/>
                                                    <p:ajax event="toggleSelect"
                                                            listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                                    <p:ajax event="change"
                                                            listener="#{userGroupPermissionController.setOnChange(true)}"/>

                                                    <p:ajax event="change" oncomplete="completeSelect();" />
                                                    <p:remoteCommand name="labelForPermissionGroup"
                                                                     update="sbPermissionGroup"
                                                                     actionListener="#{userGroupPermissionController.updateLabelSelectCheckBox(lang['web.chain.permission.group'],fn:length(userGroupPermissionController.permissionGroupIdSelected))}"/>
                                                </p:selectCheckboxMenu>

                                            </div>

                                        </div>

                                        <!--trang thai cau hinh-->
                                        <div class="ContainerIndent">
                                            <div class="Container100 Responsive">
                                                <div class="Container50  pd-top-4 mg-left-15">
                                                    <p:outputLabel for="searchStatus"
                                                                   value="#{lang['webchain.functionGroup.statusSearch']}"/>
                                                </div>
                                                <div class="Container50 ui-fluid ui-relative">
                                                    <p:selectOneMenu id="searchStatus" widgetVar="searchStatus"
                                                                     value="#{userGroupPermissionController.inputSearch.status}"
                                                                     converterMessage="#{lang['message.function.status.error.invalid']}"
                                                                     >
                                                        <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                                      itemValue="#{null}"
                                                                      escape="true"/>
                                                        <f:selectItems value="#{userGroupPermissionController.statusList}"
                                                                       var="dto"
                                                                       itemValue="#{dto.value}"
                                                                       itemLabel="#{dto.name}"
                                                        />
                                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                                    </p:selectOneMenu>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </p:fieldset>

                            </p:outputPanel>
                        </div>
                        <!--Cua hang chuoi& nguoi dung chuoi-->
                        <div class="Container50 ">
                            <p:outputPanel id="pnlUserLabel">
                                <p:fieldset legend="#{lang['web.chain.user.list']}" style="background-color: white">
                                    <!--cua hang  chuoi-->
                                    <div class="ContainerIndent">
                                        <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['webchain.user.shop.name']}"/>
                                        </div>
                                        <div class="Container60 Responsive50">
                                            <p:selectOneMenu id="chainShopListSearch" widgetVar="chainShopListSearch"
                                                             style="min-width: 75%; margin-left: 0px"
                                                             filter="true" filterMatchMode="contains"
                                                             value="#{userGroupPermissionController.chainShopIdSearch}">
                                                <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                              itemValue="#{null}"
                                                              escape="true"/>
                                                <f:selectItems value="#{userGroupPermissionController.chainShopDTOList}"
                                                               var="chainShop"
                                                               itemLabel="#{chainShop.chainShopName}"
                                                               itemValue="#{chainShop.chainShopId}"
                                                />
                                                <p:ajax update="@([id$=sbUser])" event="change" process="@this"
                                                        listener="#{userGroupPermissionController.perepareToclickNullSearch}"/>
                                                <p:ajax event="change" process="@this"
                                                        update="@([id$=sbUser])"
                                                        listener="#{userGroupPermissionController.getChainUserByChainShopIdForSearch()}"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <!--nguoi dung chuoi-->
                                    <div class="ContainerIndent">
                                        <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['web.chain.user']}"/>
                                        </div>
                                        <div class="Container60 Responsive50 ">
                                            <p:selectCheckboxMenu id="sbUser" widgetVar="sbUser"
                                                                  value="#{userGroupPermissionController.chainUserIdSelected}"
                                                                  label="#{userGroupPermissionController.labelSelectCheckBoxs[lang['web.chain.user']]}"
                                                                  filter="true"
                                                                  style="border-bottom: solid 1px #C0C5C7 !important;border-left: 0px !important;border-right: 0px !important;"
                                                                  filterMatchMode="contains"
                                                                  styleClass="mui-select_2 Container75 "
                                                                  onHide="labelForUser();">
                                                <f:selectItems
                                                        value="#{userGroupPermissionController.chainUserDTOSearchList}"
                                                        var="chainUser"
                                                        itemLabel="#{chainUser.userName}"
                                                        itemValue="#{chainUser.chainUserId}"/>
                                                <p:ajax event="toggleSelect"
                                                        listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                                <p:ajax event="change"
                                                        listener="#{userGroupPermissionController.setOnChange(true)}"/>
                                                <p:ajax event="change" oncomplete="completeSelect();" />

                                                <p:remoteCommand name="labelForUser" update="@([id$=sbUser])"
                                                                 actionListener="#{userGroupPermissionController.updateLabelSelectCheckBox(lang['web.chain.user'],fn:length(userGroupPermissionController.chainUserIdSelected))}"/>
                                            </p:selectCheckboxMenu>

                                        </div>
                                    </div>
                                </p:fieldset>
                            </p:outputPanel>
                        </div>
                    </div>

                    <!--btnSearch and btnAdd-->
                    <div class="ContainerIndent" style="background-color: white; margin-top: 0px; padding: 1% 0%">
                        <div class="Container100 TexAlCenter">
                            <!--Tìm kiếm -->
                            <p:commandButton process="@this,@([id$=pnlfunctionSearch])"
                                             id="searchId1"
                                             update="@([id$=tblListPermissionGroupUser])"
                                             action="#{userGroupPermissionController.doSearch()}"
                                             onclick="PF('tblListPermissionGroupUser').getPaginator().setPage(0);"
                                             value="#{lang['common.button.search']}"
                                             style="margin-right: 5px"/>
                            <!--Them moi-->
                            <p:commandButton widgetVar="AddBtn" id="AddBtn"
                                             value="#{lang['common.button.addnew']}"
                                             process="@this"
                                             style="margin-right:5px;"
                                             update="@([id$=dlgUserGroupPermission])"
                                             actionListener="#{userGroupPermissionController.prepareToShowAdd}"
                                             oncomplete="PF('dlgUserGroupPermission').show();">
                            </p:commandButton>
                            <!--Import-->
                            <p:commandButton process="@this"
                                             oncomplete="if(!args.validationFailed){PF('dlgImport').show();}"
                                             update="@([id$=dlgImport]), @([id$=msgSearch])"
                                             action="#{userGroupPermissionController.preImport}"
                                             id="importId"
                                             style="margin-right: 5px"
                                             value="#{lang['common.choose.import']}"
                            />
                        </div>
                    </div>
                </div>
            </p:outputPanel>

            <!--Kết quả tìm kiếm-->
            <p:outputPanel id="pnlResultFunctionLabel" styleClass="Container100">
                <p:outputPanel id="pnlResultPermissionGroupUser" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlResultPermissionGroupUserList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>
                        <div class="pnlPermissionGroupUserList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblListPermissionGroupUser"
                                             widgetVar="tblListPermissionGroupUser"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="permissionGroupUserDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{userGroupPermissionController.permissionGroupUserDTOList}"
                                             rowKey="#{permissionGroupUserDTO.permissionGroupUserId}"
                                             lazy="true"
                                             scrollable="true" scrollWidth="100%"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">

                                    <!--Số thứ tự-->
                                    <p:column style="width: 5%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>
                                    <!--Thao tác-->
                                    <p:column style="width: 7%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <!--cap nhat-->
                                        <p:commandLink title="#{lang['common.icon.update']}"
                                                       style="margin-left: 5px;"
                                                       process="@this"
                                                       resetValues="true"
                                                       styleClass="fa icon-edit Fs16 blue"
                                                       update="@([id$=dlgUserGroupPermission])"
                                                       oncomplete="PF('dlgUserGroupPermission').show();"
                                                       actionListener="#{userGroupPermissionController.prePermissionGroupUserEdit(permissionGroupUserDTO)}"
                                        >
                                        </p:commandLink>
                                        <!--xoa-->
                                        <p:commandLink title="#{lang['common.icon.delete']}"
                                                       style="margin-left: 5px;"
                                                       process="@this" disabled="#{permissionGroupUserDTO.status == 0 ? true : false}"
                                                       update="@([id$=tblListPermissionGroupUser])"
                                                       resetValues="true"
                                                       styleClass="fa icon-trash-1 Fs16 blue"
                                                       actionListener="#{userGroupPermissionController.doDeletePermissiomGroupUser(permissionGroupUserDTO)}"
                                        >
                                            <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                                       message="#{lang['webchain.catalog.comfirm.delete']}"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>
                                    <!--Ten nhom chuc nang-->
                                    <p:column style="width: 26%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.permissionGroupName']}"
                                                    title="#{lang['webchain.functionGroup.permissionGroupName']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{permissionGroupUserDTO.permissionGroupName}"
                                                style="float:left;"
                                                value="#{permissionGroupUserDTO.permissionGroupName}"/>
                                    </p:column>
                                    <!--User_name nguoi dung-->
                                    <p:column style="width: 21%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.username']}"
                                                    title="#{lang['webchain.username']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{permissionGroupUserDTO.userName}" style="float:left;"
                                                       value="#{permissionGroupUserDTO.userName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Full Name nguoi dung -->
                                    <p:column style="width: 21%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.fullname']}"
                                                    title="#{lang['webchain.fullname']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{permissionGroupUserDTO.fullName}" style="float:left;"
                                                value="#{permissionGroupUserDTO.fullName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--trang thai-->
                                    <p:column style="width: 16%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.functionGroup.status']}"
                                                    title="#{lang['webchain.functionGroup.status']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{permissionGroupUserDTO.status == 0 ? lang['MENU.STATUS_IN_ACTIVE'] : lang['MENU.STATUS_ACTIVE']}" style="float:left;"
                                                value="#{permissionGroupUserDTO.status == 0 ? lang['MENU.STATUS_IN_ACTIVE'] : lang['MENU.STATUS_ACTIVE']}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                </p:dataTable>
                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>

        <!--include dlg-->
        <p:dialog id="dlgUserGroupPermission"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgUserGroupPermission"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  header="#{userGroupPermissionController.permissionGroupUserDTO.permissionGroupUserId ==null ? lang['webchain.functionGroup.addnew.header'] : lang['webchain.functionGroup.update.header']}"
                  width="90%">
            <ui:include src="dlgUserGroupPermission.xhtml"/>
        </p:dialog>
        <p:dialog id="dlgImport"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgImport"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="fasle"
                  header="#{lang['webchain.functionGroupUser.import.dlg.header']}"
                  width="89%">
            <ui:include src="dllgImport.xhtml"/>
        </p:dialog>
        <script>
            $(document).ready(function(){
                $('#formSearch').focus();
            });
            $('#formSearch').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    if($('[id$=importId]').is( ":focus" ) || $('[id$=AddBtn]').is( ":focus" )){
                        return;
                    }
                    $('[id$=searchId1]').click();
                }
            });
            function completeSelect() {
                $('#formSearch').focus();
            }
        </script>
    </ui:define>
</ui:composition>